<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>

	<div th:fragment="contact-info-modal" class="modal fade" id="mdlContactInfo"
		tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content justify-content-center">
				<div class="card text-center">
					<div class="card-header">
						<h5 class="card-title">İletişim Bilgileri</h5>
					</div>
					<div class="card-body" th:if="${pageName != null and pageName =='ad-detail'}">
						<span class="h6"
							th:text="${advertDetail.user.firstName} + ' ' +${advertDetail.user.lastName}"></span>
						<h6 class="font-size-sm mt-3">
							<span style="color:#1064bc"> 0 <a
								class="font-size-sm mb-0 phone-number" style="color:#1064bc"
								th:href="'tel:+90' + ${advertDetail.user.phoneNumber}"
								th:text="${advertDetail.user.phoneNumber}"></a></span>
						</h6>
					</div>
					<div class="card-body" th:if="${pageName != null and pageName =='corporate-ad-detail'}">
						<span class="h6"
							th:text="${corporateAdverts[0].user.firstName} + ' ' +${corporateAdverts[0].user.lastName}"></span>
						<h6 class="font-size-sm mt-3">
							<span style="color:#1064bc"> 0 <a
								class="font-size-sm mb-0 phone-number" style="color:#1064bc"
								th:href="'tel:+90' + ${corporateAdverts[0].user.phoneNumber}"
								th:text="${corporateAdverts[0].user.phoneNumber}"></a></span>
						</h6>
					</div>
					<div class="card-footer font-size-sm text-muted">
						<button class="btn btn-secondary btn-sm" type="button"
							data-dismiss="modal">Vazgeç</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>