<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>

	<div th:fragment="share-ad-modal" class="modal fade" id="mdlShareAd"
		tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content justify-content-center">
				<div class="card text-center">
					<div class="card-header">
						<h5 class="card-title">İlanı Paylaş</h5>
					</div>
					<div class="card-body">

						<div class="d-flex mb-3 align-items-center">
							<div class="media media-ie-fix align-items-center mr-4 pr-2">
								<img class="rounded-circle" width="42" src="/img/facebook.png"
									alt="Facebook ile paylaş" />
								<div class="media-body pl-3">
									<h6 class="font-size-sm mb-0">
										<a class="text-dark"
											th:href="@{'https://www.facebook.com/sharer/sharer.php?u=' + ${#httpServletRequest.requestURL}}"
											onclick="window.open(this.href, 'Haradan.com','left=50,top=50,width=600,height=350,toolbar=0'); return false;">Facebook</a>
									</h6>
								</div>
							</div>
							<div class="media media-ie-fix align-items-center mr-4 pr-2">
								<img class="rounded-circle" width="42" src="/img/twitter.png"
									alt="Twitter ile paylaş" />
								<div class="media-body pl-3">
									<h6 class="font-size-sm mb-0">
										<a class="text-dark"
											th:href="'https://twitter.com/intent/tweet?url=' + ${#httpServletRequest.requestURL} + '&amp;text=' + ${(pageName!=null and pageName=='ad-detail') ? advertDetail.title : banner.name} + '&amp;via=haradancom'">Twitter</a>
									</h6>
								</div>
							</div>
						</div>


						<div class="d-flex mb-3 align-items-center">
							<div class="media media-ie-fix align-items-center mr-4 pr-2">
								<img class="rounded-circle" width="42" src="/img/whatsapp.png"
									alt="Whatsapp ile paylaş" />
								<div class="media-body pl-3">
									<h6 class="font-size-sm mb-0">
										<a class="text-dark"
											th:href="'https://api.whatsapp.com/send?text=' + ${#httpServletRequest.requestURL}"
											data-action="share/whatsapp/share">Whatsapp</a>
									</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer font-size-sm text-muted">
						<button class="btn btn-secondary btn-sm" type="button"
							data-dismiss="modal">Vazgeç</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>