<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<!-- Content  -->
	<div layout:fragment="content" class="pcoded-content">
		<div class="pcoded-inner-content">
			<div class="main-body">
				<div class="page-wrapper">
					<div class="page-body">
						<h4>İlan Dopingleri</h4>

						<div class="card">
							<div class="card-header">
								<div th:replace="admin/ad-dopings/filter-bar :: filter-bar"></div>
							</div>
							<div class="card-block">
								<div class="table-responsive"
									th:if="${dataList.data != null and dataList.data.size() > 0}">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>İlan ID</th>
												<th>Doping Tipi</th>
												<th>Durumu</th>
												<th>Onay Tar.</th>
												<th>Bitiş Tar.</th>
												<th>Son İşlem Tar.</th>
												<th>İşlemler</th>
											</tr>
										</thead>
										<tbody>
											<th:block th:each="advert, advertInd : ${dataList.data}">
												<th:block
													th:each="advertDoping, advertDopingInd : ${advert.dopings}"
													th:if="${advertDoping.status.name() != 'DELETED'}">
													<tr>
														<td th:text="${advert.identifier}"></td>
														<td th:text="${advertDoping.name}"></td>
														<td class="font-size-sm"><span
															class="badge badge-pill badge-success"
															th:if="${advertDoping.status.name() == 'ACTIVE'}">Aktif</span>
															<span class="badge badge-pill badge-warning"
															th:if="${advertDoping.status.name() == 'WAITING_APPROVAL'}">Onay
																Bekliyor</span> <span class="badge badge-pill badge-danger"
															th:if="${advertDoping.status.name() == 'PASSIVE'}">Pasif</span></td>
														<td
															th:text="${#strings.substring(advertDoping.approveDate,8,10) +'.'+ #strings.substring(advertDoping.approveDate,5,7) +'.'+ #strings.substring(advertDoping.approveDate,0,4)}"></td>
														<td
															th:text="${#strings.substring(advertDoping.expireDate,8,10) +'.'+ #strings.substring(advertDoping.expireDate,5,7) +'.'+ #strings.substring(advertDoping.expireDate,0,4)}"></td>
														<td
																th:text="${#strings.substring(advertDoping.lastModifiedDate,8,10) +'.'+ #strings.substring(advertDoping.lastModifiedDate,5,7) +'.'+ #strings.substring(advertDoping.lastModifiedDate,0,4)}"></td>

														<td><div class="btn-group dropleft">
																<button type="button"
																	class="btn btn-outline-secondary btn-sm dropdown-toggle"
																	data-toggle="dropdown" aria-haspopup="true"
																	aria-expanded="false">İşlemler</button>

																<div class="dropdown-menu">
																	<a href="#" th:data-id="${advert.identifier}"
																		data-type="DELETED"
																		th:data-text="${advertDoping.shortName}"
																		class="ad-doping-action-modal dropdown-item mr-2 cp"
																		th:if="${advertDoping.status.name() != 'DELETED'}"><i
																		class="czi-trash text-danger mr-2"></i>Sil</a><a
																		href="#" th:data-id="${advert.identifier}"
																		data-type="ACTIVE"
																		th:data-text="${advertDoping.shortName}"
																		class="ad-doping-action-modal dropdown-item mr-2 cp"
																		th:if="${advertDoping.status.name() == 'WAITING_APPROVAL'}"><i
																		class="czi-check text-success mr-2"></i>Onayla</a><a
																		href="#" th:data-id="${advert.identifier}"
																		data-type="REJECTED"
																		th:data-text="${advertDoping.shortName}"
																		class="ad-doping-action-modal dropdown-item mr-2 cp"
																		th:if="${advertDoping.status.name() == 'WAITING_APPROVAL'}"><i
																		class="czi-close text-danger mr-2"></i>Reddet</a> <a
																		href="#" th:data-id="${advert.identifier}"
																		data-type="PASSIVE"
																		th:data-text="${advertDoping.shortName}"
																		class="ad-doping-action-modal dropdown-item mr-2 cp"
																		th:if="${advertDoping.status.name() == 'ACTIVE'}"><i
																		class="czi-close text-danger mr-2"></i>İptal Et</a> <a
																		href="#" th:data-id="${advert.identifier}"
																		data-type="ACTIVE"
																		th:data-text="${advertDoping.shortName}"
																		class="ad-doping-action-modal dropdown-item mr-2 cp"
																		th:if="${advertDoping.status.name() == 'PASSIVE'}"><i
																		class="czi-check text-success mr-2"></i>Aktifleştir</a> <a
																		th:href="'/admin/ilanlar?id=' + ${advert.identifier}"
																		class="dropdown-item mr-2"><i
																		class="czi-view-list text-primary mr-2"></i>İlan
																		Detayı</a>
																</div>
															</div></td>
													</tr>
												</th:block>
											</th:block>
										</tbody>
									</table>
								</div>
								<div th:replace="admin/common/no-data-found :: no-data-found"></div>
							</div>
						</div>

						<div th:replace="admin/common/paging :: paging"></div>

					</div>
				</div>
			</div>
		</div>

		<div
			th:replace="admin/ad-dopings/ad-doping-action-modal :: ad-doping-action-modal"></div>

		<script type="text/javascript">
			$(document).ready(function() {
				fillFilterForm();
				$('.page-item').click(function() {
					$("#currentPage").val($(this).attr('id'));
					loadAds();
				});
				$(document).on('click', '.filter-results', (function() {
					$("#currentPage").val(0);
					loadAds();
				}));
			});

			function fillFilterForm() {
				var searchParams = new URLSearchParams(window.location.search);
				$("#filter_advert_id")
						.val($.trim(searchParams.get('advertId')));
				$("#filter_status").val(searchParams.get('status'));
				$("#filter_type").val(searchParams.get('type'));
			}

			function loadAds() {
				var url = window.location.href.split('?')[0];
				var urlParams = [];
				urlParams.push("page=" + $("#currentPage").val());
				if ($.trim($("#filter_advert_id").val()) != '') {
					urlParams.push("advertId="
							+ $.trim($("#filter_advert_id").val()));
				}
				if ($("#filter_status").val() != '') {
					urlParams.push("status=" + $("#filter_status").val());
				}
				if ($("#filter_type").val() != '') {
					urlParams.push("type=" + $("#filter_type").val());
				}
				var query = urlParams.map(function(value) {
					return value;
				}).join('&');
				window.location.replace(url + "?" + query);
			}
		</script>
	</div>
</body>
</html>