<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<!-- Content  -->
	<div layout:fragment="content" class="pcoded-content">
		<div class="pcoded-inner-content">
			<div class="main-body">
				<div class="page-wrapper">
					<div class="page-body">
						<h4>İlanlar</h4>

						<div class="card">
							<div class="card-header">
								<div th:replace="admin/ads/filter-bar :: filter-bar"></div>
							</div>
							<div class="card-block">
								<div class="table-responsive"
									th:if="${dataList.data != null and dataList.data.size() > 0}">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>İlan Tarihi</th>
												<th>Başlık</th>
												<th>İlan No</th>
												<th>Kategori</th>
												<th>Kullanıcı</th>
												<th>Durumu</th>
												<th>İşlemler</th>
											</tr>
										</thead>
										<tbody>
											<th:block th:each="advert, advertInd : ${dataList.data}">
												<tr>
													<td scope="row"
														th:text="${#strings.substring(advert.createDate,8,10) +'.'+ #strings.substring(advert.createDate,5,7) +'.'+ #strings.substring(advert.createDate,0,4)}">Otto</td>

													<td><a th:href="@{'/'+${advert.url}}"
														th:text="${advert.title}" class="text-dark"></a></td>
													<td th:text="${advert.advertNo}"></td>
													<td th:text="${advert.category.name}"></td>
													<td
														th:text="${#strings.toUpperCase(advert.user.firstName) + ' ' + #strings.toUpperCase(advert.user.lastName)}"></td>
													<td class="font-size-sm"><span
														class="badge badge-pill badge-success"
														th:if="${advert.status.name() == 'ACTIVE'}">Aktif</span> <span
														class="badge badge-pill badge-warning"
														th:if="${advert.status.name() == 'WAITING_APPROVAL'}">Onay
															Bekliyor</span> <span class="badge badge-pill badge-default"
														th:if="${advert.status.name() == 'PASSIVE'}">Pasif</span>
														<span class="badge badge-pill badge-info"
														th:if="${advert.status.name() == 'NOT_COMPLETED'}">Tamamlanmayı
															Bekliyor</span> <span class="badge badge-pill badge-secondary"
														th:if="${advert.status.name() == 'SOLD'}">Satıldı</span> <span
														class="badge badge-pill badge-danger"
														th:if="${advert.status.name() == 'DELETED'}">Silindi</span><span
														class="badge badge-pill badge-primary"
														th:if="${advert.status.name() == 'REJECTED'}">Reddedildi</span></td>
													<td><div class="btn-group dropleft">
															<button type="button"
																class="btn btn-outline-secondary btn-sm dropdown-toggle"
																data-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false">İşlemler</button>

															<div class="dropdown-menu">
																<a href="#" th:data-id="${advert.identifier}"
																	data-type="ACTIVE"
																	data-text="İlan yayınlanacaktır. Onaylıyor musunuz?"
																	class="mdl-action dropdown-item mr-2 cp"
																	th:if="${advert.status.name() == 'WAITING_APPROVAL'}"><i
																	class="czi-check text-success mr-2"></i>Onayla</a><a
																	href="#" th:data-id="${advert.identifier}"
																	data-type="REJECTED"
																	data-text="İlan reddedilecektir. Onaylıyor musunuz?"
																	class="mdl-action dropdown-item mr-2 cp"
																	th:if="${advert.status.name() == 'WAITING_APPROVAL'}"><i
																	class="czi-close text-danger mr-2"></i>Reddet</a> <a
																	th:href="'/ilan-ver/ilan-bilgileri/' + ${advert.identifier}"
																	class="dropdown-item mr-2"><i
																	class="czi-edit text-info mr-2"></i>Düzenle</a> <a href="#"
																	th:data-id="${advert.identifier}"
																	th:data-type="${advert.status.name()}"
																	class="open-admin-statu-update-modal dropdown-item mr-2 cp"><i
																	class="czi-reload text-dark mr-2"></i>Statü Güncelle</a> <a
																	th:href="'/admin/ilan-dopingleri?advertId=' + ${advert.identifier}"
																	class="dropdown-item mr-2"><i
																	class="czi-view-list text-primary mr-2"></i>İlan
																	Dopingleri</a><a
																	th:href="'/admin/kullanicilar?id=' + ${advert.user.identifier}"
																	class="dropdown-item mr-2"><i
																	class="czi-user text-primary mr-2"></i>İlan Sahibi</a> <a
																	th:href="@{'https://api.whatsapp.com/send?phone=+90'+${advert.user.phoneNumber}+'&text=Merhaba ' +${advert.user.firstName} +' '+ ${advert.user.lastName} + ', haradan.com da yer alan '+ ${advert.advertNo} + ' no lu '+ ${advert.title} + ' başlıklı ilanınız ile ilgili size ulaşıyorum.'}"
																	class="dropdown-item mr-2 cp"><i
																	class="text-info mr-2"></i>Mesaj Gönder</a>
															</div>
														</div></td>
												</tr>
											</th:block>
										</tbody>
									</table>
								</div>
								<div th:replace="admin/common/no-data-found :: no-data-found"></div>
							</div>
						</div>

						<div th:replace="admin/common/paging :: paging"></div>

						<div th:replace="common/ad-action-modal :: ad-action-modal"></div>
					</div>
				</div>
			</div>
		</div>

		<!-- Admin Statü Güncelleme -->
		<div
			th:replace="admin/ads/admin-statu-update-modal :: admin-statu-update-modal"></div>

		<script type = "text/javascript" > 
			$(document).ready(function() {
				fillFilterForm();
				$('.page-item').click(function() {
					$("#currentPage").val($(this).attr('id'));
					loadAds();
				});
				$(document).on('click', '.filter-results', (function() {
					$("#currentPage").val(0);
					loadAds();
				}));
				$(document).on('click', '.btn-ad-dopings', (function() {
					ajaxJsonGet('adverts/' + $(this).data('id') + '/doping', null, function(response) {
						$('#mdlAdDopings .modal-body table tbody').empty();
						response.forEach(function(item) {
							if(item.status == 'ACTIVE' || item.status == 'PASSIVE') {
								var badgeType = item.status == 'ACTIVE' ? 'badge-success' : 'badge-warning';
								var statusText = item.status == 'ACTIVE' ? 'Aktif' : 'Pasif';
								var btnVisibleClass = item.status == 'ACTIVE' ? 'd-none' : '';
								var dopingItem = '<tr><td>' + item.name + '</td><td><span class="badge ' + badgeType + '">' + statusText + '<span></td><td><button type="button" class="btn btn-primary btn-sm ' + btnVisibleClass + '">Onayla</button></td></tr>';
								$('#mdlAdDopings .modal-body table tbody').append(dopingItem);
							}
						});
						$('#mdlAdDopings').modal('show');
					}, function(error) {
						showErrorMsg(error);
					});
				}));
			});
			
			function fillFilterForm() {
				var searchParams = new URLSearchParams(window.location.search);
				$("#filter_identifier").val($.trim(searchParams.get('id')));
				$("#filter_advertNo").val($.trim(searchParams.get('advertNo')));
				$("#filter_searchText").val($.trim(searchParams.get('searchText')));
				$("#filter_status").val(searchParams.get('status'));
				$("#filter_user_id").val(searchParams.get('userId'));
			}
			
			function loadAds() {
				var url = window.location.href.split('?')[0];
				var urlParams = [];
				urlParams.push("page=" + $("#currentPage").val());
				if($.trim($("#filter_identifier").val()) != '') {
					urlParams.push("id=" + $.trim($("#filter_identifier").val()));
				}
				if($.trim($("#filter_advertNo").val()) != '') {
					urlParams.push("advertNo=" + $.trim($("#filter_advertNo").val()));
				}
				if($("#filter_status").val() != '') {
					urlParams.push("status=" + $("#filter_status").val());
				}
				if($.trim($("#filter_searchText").val()) != '') {
					urlParams.push("searchText=" + $.trim($("#filter_searchText").val()));
				}
				if($.trim($("#filter_user_id").val()) != '') {
					urlParams.push("userId=" + $.trim($("#filter_user_id").val()));
				}
				var query = urlParams.map(function(value) {
					return value;
				}).join('&');
				window.location.replace(url + "?" + query);
			} 
		</script>
	</div>
</body>
</html>