<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<!-- Content  -->
	<div layout:fragment="content" class="pcoded-content">
		<div class="pcoded-inner-content">
			<div class="main-body">
				<div class="page-wrapper">
					<div class="page-body">
						<h4>Yazılar</h4>
						<div class="card">
							<div class="card-header">
								<div th:replace="admin/articles/filter-bar :: filter-bar"></div>
							</div>
							<div class="card-block">
								<div class="table-responsive"
									th:if="${dataList.data != null and dataList.data.size() > 0}">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>Başlık</th>
												<th>Oluşturulma Tarihi</th>
												<th>Türü</th>
												<th>ID</th>
												<th>Durumu</th>
												<th>İşlemler</th>
											</tr>
										</thead>
										<tbody>
											<th:block th:each="article, articleInd : ${dataList.data}">
												<tr>
													<td scope="row"><a th:href="@{'/blog/'+${article.searchText}+'/'+${article.identifier}}"
														th:text="${article.title}" class="text-dark"></a></td>
													<td
														th:text="${#strings.substring(article.createDate,8,10) +'.'+ #strings.substring(article.createDate,5,7) +'.'+ #strings.substring(article.createDate,0,4)}"></td>
													<td th:text="${article.type.name()}"></td>
													<td th:text="${article.identifier}"></td>
													<td class="font-size-sm"><span
														class="badge badge-pill badge-success"
														th:if="${article.status.name() == 'ACTIVE'}">Aktif</span> <span
														class="badge badge-pill badge-primary"
														th:if="${article.status.name() == 'DELETED'}">Silindi</span><span
														class="badge badge-pill badge-warning"
														th:if="${article.status.name() == 'PASSIVE'}">Pasif</span></td>
													<td><div class="btn-group dropleft">
															<button type="button"
																class="btn btn-outline-secondary btn-sm dropdown-toggle"
																data-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false">İşlemler</button>

															<div class="dropdown-menu">
																<a th:href="${'/admin/yazi/detay?id='+article.identifier}"
																	class="dropdown-item mr-2 cp"><i
																	class="czi-edit text-info mr-2"></i>Düzenle</a> <a href="#" th:data-id="${article.identifier}"
																	class="article-img-upload dropdown-item mr-2 cp"><i
																	class="czi-image text-info mr-2"></i>Resim Yükle</a>
															</div>
														</div></td>
												</tr>
											</th:block>
										</tbody>
									</table>
								</div>
								<div th:replace="admin/common/no-data-found :: no-data-found"></div>
							</div>
						</div>

						<div th:replace="admin/common/paging :: paging"></div>

					</div>
				</div>
			</div>
		</div>

		<div
			th:replace="admin/articles/article-img-upload-modal :: article-img-upload-modal"></div>
		<script type="text/javascript">
			$(document).ready(function() {

				fillFilterForm();

				$('.page-item').click(function() {
					$("#currentPage").val($(this).attr('id'));
					loadarticles();
				});

				$(document).on('click', '.filter-results', (function() {
					$("#currentPage").val(0);
					loadarticles();
				}));
				
				$(document).on('change', '#files', (function() {
					var form = $('#upload-form')[0];
					var data = new FormData(form);
					$.ajax({
						type: "POST",
						enctype: 'multipart/form-data',
						url: '/files/' + $('#mdl-article-img-upload').find("input[id='identifier']").val() + '/upload?entity=article',
						data: data,
						processData: false,
						contentType: false,
						cache: false,
						timeout: 600000,
						headers: {"Authorization": 'Bearer ' + getCookie('access_token')},
						success: function() {
							loadImages();
						},
						error: function(error) {
							showErrorMsg(error);
						}
					});
				}));
				
				$('.article-img-upload').on('click', function() {
					$('#mdl-article-img-upload').find("input[id='identifier']").val($.trim($(this).data('id'))); 
					loadImages();
					$('#mdl-article-img-upload').modal('show');
				});
				
			});

			function fillFilterForm() {
				var searchParams = new URLSearchParams(window.location.search);
				$("#filter_identifier").val($.trim(searchParams.get('id')));
				$("#filter_status").val(searchParams.get('status'));
				$("#filter_type").val(searchParams.get('type'));
			}

			function loadarticles() {
				var url = window.location.href.split('?')[0];
				var urlParams = [];

				urlParams.push("page=" + $("#currentPage").val());

				if ($.trim($("#filter_identifier").val()) != '') {
					urlParams.push("id="
							+ $.trim($("#filter_identifier").val()));
				}

				if ($("#filter_status").val() != '') {
					urlParams.push("status=" + $("#filter_status").val());
				}
				
				if ($("#filter_type").val() != '') {
					urlParams.push("type=" + $("#filter_type").val());
				}

				var query = urlParams.map(function(value) {
					return value;
				}).join('&');
				window.location.replace(url + "?" + query);
			}
			
			function loadImages(){
				ajaxJsonGet('articles/' + $('#mdl-article-img-upload').find("input[id='identifier']").val(), null, function(response) {
					$("#uploaded-file").empty();
					if(response.media != null) {
						$("#uploaded-file").append('<div class="imageuploadify-container" style="width:100px;height:44px;margin-left: 6px; margin-right: 0px;">' +
								'<a onclick="deleteImg(\''+$('#mdl-article-img-upload').find("input[id='identifier']").val() + '\',\'' + response.media + '\')" class="btn btn-danger btn-delete czi-trash" title="Fotoğrafı Sil"><span aria-hidden="true">×</span></a>' +
								'<img style="max-width: 100%;height: auto;vertical-align: middle;"src="/slider' + response.media + '">' +
							'</div>');
					}
				}, function(error) {
					showErrorMsg(error);
				});
				
				return false;
			}
			
			function deleteImg(id,fileName){				
			 	ajaxJsonPost('files/'+ id + '/delete?entity=article&fileName=' +fileName, null, function(response) {
	            	loadImages();
				}, function(error) {
					showErrorMsg(error);
				});
			}
		</script>
	</div>
</body>
</html>