<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<!-- Content  -->
	<div layout:fragment="content" class="pcoded-content">
		<div class="pcoded-inner-content">
			<div class="main-body">
				<div class="page-wrapper">
					<div class="page-body">
						<h4>Bannerlar</h4>
						<div class="card">
							<div class="card-header">
								<div th:replace="admin/banners/filter-bar :: filter-bar"></div>
							</div>
							<div class="card-block">
								<div class="table-responsive"
									th:if="${dataList.data != null and dataList.data.size() > 0}">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>Başlık</th>
												<th>Oluşturulma Tarihi</th>
												<th>Baş. Tar. - Bit. Tar.</th>
												<th>Tipi</th>
												<th>ID</th>
												<th>Durumu</th>
												<th>İşlemler</th>
											</tr>
										</thead>
										<tbody>
											<th:block th:each="banner, bannerInd : ${dataList.data}">
												<tr>
													<td scope="row"><a th:href="${(banner.url == null or banner.url=='') ? ('/satilik-ekuri-atlari/' + banner.searchText + '/' + banner.identifier) : banner.url}" th:text="${banner.name}"></a></td>
													<td
														th:text="${#strings.substring(banner.createDate,8,10) +'.'+ #strings.substring(banner.createDate,5,7) +'.'+ #strings.substring(banner.createDate,0,4)}"></td>
													<td><th:block
															th:text="${#strings.substring(banner.startDate,8,10) +'.'+ #strings.substring(banner.startDate,5,7) +'.'+ #strings.substring(banner.startDate,0,4)}"></th:block>
														- <th:block
															th:text="${#strings.substring(banner.endDate,8,10) +'.'+ #strings.substring(banner.endDate,5,7) +'.'+ #strings.substring(banner.endDate,0,4)}"></th:block></td>
													<td th:text="${banner.type.desc}"></td>
													<td th:text="${banner.identifier}"></td>
													<td class="font-size-sm"><span
														class="badge badge-pill badge-success"
														th:if="${banner.status.name() == 'ACTIVE'}">Aktif</span> <span
														class="badge badge-pill badge-primary"
														th:if="${banner.status.name() == 'DELETED'}">Silindi</span><span
														class="badge badge-pill badge-warning"
														th:if="${banner.status.name() == 'PASSIVE'}">Pasif</span></td>
													<td><div class="btn-group dropleft">
															<button type="button"
																class="btn btn-outline-secondary btn-sm dropdown-toggle"
																data-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false">İşlemler</button>

															<div class="dropdown-menu">
																<a href="#" th:data-id="${banner.identifier}"
																	class="open-banner-form dropdown-item mr-2 cp"><i
																	class="czi-edit text-info mr-2"></i>Düzenle</a> <a href="#" th:data-id="${banner.identifier}"
																	class="banner-img-upload dropdown-item mr-2 cp"><i
																	class="czi-image text-info mr-2"></i>Resim Yükle</a>
															</div>
														</div></td>
												</tr>
											</th:block>
										</tbody>
									</table>
								</div>
								<div th:replace="admin/common/no-data-found :: no-data-found"></div>
							</div>
						</div>

						<div th:replace="admin/common/paging :: paging"></div>

					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="mdl-new-record-form" tabindex="-1"
			role="dialog">
			<div class="modal-dialog" role="document">
				<form id="banner-form" action="banners/"></form>
			</div>
		</div>

		<div
			th:replace="admin/banners/banner-img-upload-modal :: banner-img-upload-modal"></div>
		<script type="text/javascript">
			$(document).ready(function() {

				fillFilterForm();

				$('.page-item').click(function() {
					$("#currentPage").val($(this).attr('id'));
					loadBanners();
				});

				$(document).on('click', '.filter-results', (function() {
					$("#currentPage").val(0);
					loadBanners();
				}));

				$(document).on('click', '.open-banner-form', (function() {
					var url = 'admin/banner';
					if(!isEmpty($(this).data("id"))){
						url += '?id='+ $(this).data("id");
					}
					ajaxPageCall(url, function(response) {
						$("#banner-form").html(response);
						$(".phone-number").mask('(000) 000-0000');
						$('.phone-number').on('keyup', function () {
							var phoneNumber = $(this).val().replaceAll(" ", "").replaceAll("-", "").replaceAll("(", "").replaceAll(")", "");
							$("#phoneNumber").val(phoneNumber);
						});
						$("#mdl-new-record-form").modal('show');
					}, function(error) {
						showErrorMsg(error);
					});
				}));
				
				$(document).on('change', '#files', (function() {
					var form = $('#upload-form')[0];
					var data = new FormData(form);
					$.ajax({
						type: "POST",
						enctype: 'multipart/form-data',
						url: '/files/' + $('#mdl-banner-img-upload').find("input[id='identifier']").val() + '/upload?entity=banner',
						data: data,
						processData: false,
						contentType: false,
						cache: false,
						timeout: 600000,
						headers: {"Authorization": 'Bearer ' + getCookie('access_token')},
						success: function() {
							loadImages();
						},
						error: function(error) {
							showErrorMsg(error);
						}
					});
				}));
				
				$('.banner-img-upload').on('click', function() {
					$('#mdl-banner-img-upload').find("input[id='identifier']").val($.trim($(this).data('id'))); 
					loadImages();
					$('#mdl-banner-img-upload').modal('show');
				});
				
				$('#banner-form').validate({
					rules: {
						name: "required",
						type: {
							valueNotEquals: "0"
						},
						startDate: "required",
						endDate: {
							required : true,
							greaterThan: "#startDate"
						},
						orderId: "required",
						price: "required",
						status: {
							valueNotEquals: "0"
						},
					},
					// Specify validation error messages
					messages: {
						name: "Başlık girin.",
						type: {
							valueNotEquals: "Tür seçin."
						},
						startDate: "Başlangıç tarihi seçin.",
						endDate: {
							required : "Bitiş tarihi seçin.",
							greaterThan: "Bitiş tarihi başlangıç tarihinden küçük olamaz."
						},
						orderId: "Sıra no girin.",
						price: "Tutar girin.",
						status: {
							valueNotEquals: "Statü seçin."
						},
					},
					// JQuery's awesome submit handler.
					submitHandler: function(form) {
						if($("form #action_type").val() == 'UPDATE'){
 							ajaxJsonPut($(form).attr("action") + $("form #identifier").val(),JSON.stringify($(form).serializeJSON()), function(response) {
								showSuccessMsg(messages.ADMIN_UPDATE_SUCCESS);
								window.location.href = 'bannerlar';
							}, function(error) {
								showErrorMsg(error);
								return false;
							}); 
						}else{
							ajaxJsonPost($(form).attr("action"),JSON.stringify($(form).serializeJSON()), function(response) {
								showSuccessMsg(messages.ADMIN_ADD_SUCCESS);
								window.location.href = 'bannerlar';
							}, function(error) {
								showErrorMsg(error);
								return false;
							}); 
						}
					}
				});

			});

			function fillFilterForm() {
				var searchParams = new URLSearchParams(window.location.search);
				$("#filter_identifier").val($.trim(searchParams.get('id')));
				$("#filter_status").val(searchParams.get('status'));
				$("#filter_type").val(searchParams.get('type'));
			}

			function loadBanners() {
				var url = window.location.href.split('?')[0];
				var urlParams = [];

				urlParams.push("page=" + $("#currentPage").val());

				if ($.trim($("#filter_identifier").val()) != '') {
					urlParams.push("id="
							+ $.trim($("#filter_identifier").val()));
				}

				if ($("#filter_status").val() != '') {
					urlParams.push("status=" + $("#filter_status").val());
				}
				
				if ($("#filter_type").val() != '') {
					urlParams.push("type=" + $("#filter_type").val());
				}

				var query = urlParams.map(function(value) {
					return value;
				}).join('&');
				window.location.replace(url + "?" + query);
			}
			
			function loadImages(){
				ajaxJsonGet('banners/' + $('#mdl-banner-img-upload').find("input[id='identifier']").val(), null, function(response) {
					$("#uploaded-file").empty();
					if(response.media != null) {
						$("#uploaded-file").append('<div class="imageuploadify-container" style="width:100px;height:44px;margin-left: 6px; margin-right: 0px;">' +
								'<a onclick="deleteImg(\''+$('#mdl-banner-img-upload').find("input[id='identifier']").val() + '\',\'' + response.media + '\')" class="btn btn-danger btn-delete czi-trash" title="Fotoğrafı Sil"><span aria-hidden="true">×</span></a>' +
								'<img style="max-width: 100%;height: auto;vertical-align: middle;"src="/slider' + response.media + '">' +
							'</div>');
					}
				}, function(error) {
					showErrorMsg(error);
				});
				
				return false;
			}
			
			function deleteImg(id,fileName){				
			 	ajaxJsonPost('files/'+ id + '/delete?entity=banner&fileName=' +fileName, null, function(response) {
	            	loadImages();
				}, function(error) {
					showErrorMsg(error);
				});
			}
		</script>
	</div>
</body>
</html>