<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>

	<aside th:fragment="menubar" class="col-lg-3 pt-4">
		<div class="rounded-lg box-shadow-lg px-0 pb-0 mb-5 mb-lg-0"
			th:classappend="${(page!=null and page=='panelim') ? '' : 'd-none d-lg-block'}">
			<div class="px-4 py-4 d-lg-none">
				<div class="media align-items-center">
					<div class="media-body">
						<h3 class="font-size-base mb-0"
							th:text="${(session !=null and userInfo !=null ) ? (userInfo.firstName + ' ' + userInfo.lastName) : ''}"></h3>
						<span class="text-warning font-size-sm"><i class="czi-bell"></i>1
							onay bekleyen ilan var.</span>
					</div>
				</div>
			</div>
			<div class="bg-secondary px-4 py-3 border-bottom">
				<h3 class="font-size-sm mb-0 text-muted">
					<a class="nav-link-style d-flex align-items-center" href="/admin/panelim">
						Panelim </a>
				</h3>
			</div>
			<div class="bg-secondary px-4 py-3 border-bottom">
				<h3 class="font-size-sm mb-0 text-muted">
					<a class="nav-link-style d-flex align-items-center" href="#">
						Sayfalar </a>
				</h3>
			</div>
			<ul class="list-unstyled mb-0">
				<li class="border-bottom mb-0"><a
					class="nav-link-style d-flex align-items-center px-4 py-3"
					href="/admin/tum-ilanlar?status=WAITING_APPROVAL"> İlanlar </a></li>
				<li class="border-bottom mb-0"><a
					class="nav-link-style d-flex align-items-center px-4 py-3"
					href="/admin/kullanicilar"> Kullanıcılar </a></li>
				<li class="border-bottom mb-0"><a
					class="nav-link-style d-flex align-items-center px-4 py-3"
					href="/admin/bannerlar?status=ACTIVE"> Bannerlar </a></li>
			</ul>
			<div class="bg-secondary px-4 py-3 border-bottom">
				<h3 class="font-size-sm mb-0 text-muted">
					<a class="nav-link-style d-flex align-items-center" href="#">
						Profil & Ayarlar </a>
				</h3>
			</div>
			<ul class="list-unstyled mb-0">
				<li class="border-bottom mb-0"><a
					class="nav-link-style d-flex align-items-center px-4 py-3"
					href="/uyelik-bilgilerim"> Üyelik Bilgilerim </a></li>
				<li class="border-bottom mb-0"><a
					class="nav-link-style d-flex align-items-center px-4 py-3"
					href="/sifre-degisikligi"> Şifre Değişikliği </a></li>
				<li class="border-bottom mb-0"><a
					class="nav-link-style d-flex align-items-center px-4 py-3"
					href="/bilgilendirme-ayarlari"> Bilgilendirme Ayarları </a></li>
				<li class="mb-0"><a
					class="nav-link-style d-flex align-items-center px-4 py-3"
					href="/cikis-yap"> Çıkış </a></li>
			</ul>
		</div>
		<div class="rounded-lg box-shadow-lg py-2 mb-2 mb-lg-0"
			th:classappend="${(page==null or page!='panelim') ? 'd-lg-none' : 'd-none'}">
			<div class="px-2">
				<a href="/admin/panelim"><span class="text-dark font-size-sm"><i
						class="czi-arrow-left mr-2"></i>Panelim</span></a>
			</div>
		</div>
	</aside>
</body>
</html>