<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<!-- Content  -->
	<div layout:fragment="content" class="pcoded-content">
		<div class="pcoded-inner-content">
			<div class="main-body">
				<div class="page-wrapper">
					<div class="page-body">
						<h4>Ödemeler</h4>
						<div class="card">
							<div class="card-header">
								<div th:replace="admin/payments/filter-bar :: filter-bar"></div>
							</div>
							<div class="card-block">
								<div class="table-responsive"
									th:if="${dataList.data != null and dataList.data.size() > 0}">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>Urun ID</th>
												<th>Kullanıcı</th>
												<th>Merchant ID</th>
												<th>Ödeme Tarihi</th>
												<th>Tutar</th>
												<th>Durumu</th>
												<th>İşlemler</th>
											</tr>
										</thead>
										<tbody>
											<th:block th:each="payment, paymentInd : ${dataList.data}">
												<tr>
													<td th:text="${payment.productId}"></td>
													<td scope="row"
														th:text="${#strings.toUpperCase(payment.userName)}"></td>
													<td th:text="${payment.merchantId}"></td>
													<td
														th:text="${#strings.substring(payment.createdDate, 0, 19)}"></td>
													<td th:text="${payment.paymentAmount}"></td>
													<td class="font-size-sm"><span
														class="badge badge-pill badge-success"
														th:if="${payment.status.name() == 'ACTIVE'}">Başarılı</span>
														<span class="badge badge-pill badge-primary"
														th:if="${payment.status.name() == 'NOT_COMPLETED'}">Tamamlanmadı</span><span
														class="badge badge-pill badge-warning"
														th:if="${payment.status.name() == 'PASSIVE'}">Başarısız</span></td>
													<td><div class="btn-group dropleft">
															<button type="button"
																class="btn btn-outline-secondary btn-sm dropdown-toggle"
																data-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false">İşlemler</button>

															<div class="dropdown-menu">
																<a href="#" th:data-id="${payment.identifier}"
																	class="open-payment-detail dropdown-item mr-2 cp"><i
																	class="czi-check text-success mr-2"></i>İşlem Detayı</a> <a
																	th:href="'/admin/ilanlar?id=' + ${payment.productId}"
																	class="dropdown-item mr-2"><i
																	class="czi-edit text-info mr-2"></i>İlan Detayı</a> 
															</div>
														</div></td>
												</tr>
											</th:block>
										</tbody>
									</table>
								</div>
								<div th:replace="admin/common/no-data-found :: no-data-found"></div>
							</div>
						</div>

						<div th:replace="admin/common/paging :: paging"></div>

					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="mdl-payment-detail" tabindex="-1"
			role="dialog">
			<div class="modal-dialog" role="document">
				
			</div>
		</div>

		<script type="text/javascript">
			$(document).ready(function() {
				fillFilterForm();
				$('.page-item').click(function() {
					$("#currentPage").val($(this).attr('id'));
					loadPayments();
				});
				$(document).on('click', '.filter-results', (function() {
					$("#currentPage").val(0);
					loadPayments();
				}));

			});

			function fillFilterForm() {
				var searchParams = new URLSearchParams(window.location.search);
				$("#filter_product_id").val(
						$.trim(searchParams.get('productId')));
				$("#filter_name").val($.trim(searchParams.get('name')));
				$("#filter_email").val($.trim(searchParams.get('email')));
				$("#filter_status").val(searchParams.get('status'));
			}

			function loadPayments() {
				var url = window.location.href.split('?')[0];
				var urlParams = [];
				urlParams.push("page=" + $("#currentPage").val());
				if ($.trim($("#filter_product_id").val()) != '') {
					urlParams.push("productId="
							+ $.trim($("#filter_product_id").val()));
				}
				if ($("#filter_status").val() != '') {
					urlParams.push("status=" + $("#filter_status").val());
				}
				if ($.trim($("#filter_name").val()) != '') {
					urlParams.push("name=" + $.trim($("#filter_name").val()));
				}
				if ($.trim($("#filter_email").val()) != '') {
					urlParams.push("email=" + $.trim($("#filter_email").val()));
				}
				var query = urlParams.map(function(value) {
					return value;
				}).join('&');
				window.location.replace(url + "?" + query);
			}
			
			$(document).on('click', '.open-payment-detail', (function() {
				
				var url = 'admin/payment/detail?id='+ $(this).data("id");

				ajaxPageCall(url, function(response) {
					$("#mdl-payment-detail").find(".modal-dialog").html(response);
					
					$("#mdl-payment-detail").modal('show');
				}, function(error) {
					showErrorMsg(error);
				});
			}));
		</script>
	</div>
</body>
</html>