<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<!-- Content  -->
	<div layout:fragment="content" class="pcoded-content">
		<div class="pcoded-inner-content">
			<div class="main-body">
				<div class="page-wrapper">
					<div class="page-body">
						<h4>Haralar</h4>
						<div class="card">
							<div class="card-header">
								<div th:replace="admin/stables/filter-bar :: filter-bar"></div>
							</div>
							<div class="card-block">
								<div class="table-responsive"
									th:if="${dataList.data != null and dataList.data.size() > 0}">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>Adı</th>
												<th>İlgili Kişi</th>
												<th>Telefon No</th>
												<th>E-posta</th>
												<th>Web Sayfası</th>
												<th>Adres</th>
												<th>Not</th>
												<th>İşlemler</th>
											</tr>
										</thead>
										<tbody>
											<th:block th:each="stable, stableInd : ${dataList.data}">
												<tr>
													<td th:text="${stable.name}"></td>
													<td th:text="${stable.contactName}"></td>
													<td th:text="${stable.phoneNumber}"></td>
													<td th:text="${stable.email}"></td>
													<td th:text="${stable.webpage}"></td>
													<td th:text="${stable.address}"></td>
													<td th:text="${stable.note}"></td>
													<td><div class="btn-group dropleft">
															<button type="button"
																class="btn btn-outline-secondary btn-sm dropdown-toggle"
																data-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false">İşlemler</button>

															<div class="dropdown-menu">
																<a href="#" th:data-id="${stable.identifier}"
																	class="open-stable-form dropdown-item mr-2 cp"><i
																	class="czi-edit text-info mr-2"></i>Düzenle</a>
																<a href="#" th:data-id="${stable.identifier}"
																   class="mdl-delete-stable dropdown-item mr-2 cp"><i
																		class="czi-exit text-danger mr-2"></i>Sil</a>
															</div>

														</div></td>
												</tr>
											</th:block>
										</tbody>
									</table>
								</div>
								<div th:replace="admin/common/no-data-found :: no-data-found"></div>
							</div>
						</div>

						<div th:replace="admin/common/paging :: paging"></div>

					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="mdl-new-record-form" tabindex="-1"
			role="dialog">
			<div class="modal-dialog" role="document">
				<form id="stable-form" action="stables/"></form>
			</div>
		</div>

		<div class="modal fade" id="mdlDeleteStable" tabindex="-1"
			 role="dialog">
			<div class="modal-dialog modal-dialog-scrollable" role="document">
				<input type="hidden" name="identifier" id="identifier">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Onay</h4>
						<button class="close" type="button" data-dismiss="modal"
								aria-label="Kapat">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body font-size-sm">Hara sililecektir. Onaylıyor
						musunuz?</div>
					<div class="modal-footer">
						<button class="btn btn-secondary btn-sm" type="button"
								data-dismiss="modal">Vazgeç</button>
						<button id="delete-stable-approve"
								class="btn btn-primary btn-sm submit-btn">Onayla</button>
						<div class="message-area alert d-none"></div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			$(document).ready(function() {

				fillFilterForm();

				$('.page-item').click(function() {
					$("#currentPage").val($(this).attr('id'));
					loadStables();
				});

				$(document).on('click', '.filter-results', (function() {
					$("#currentPage").val(0);
					loadStables();
				}));

				$('.mdl-delete-stable').on('click', function () {
					$("#mdlDeleteStable").find("#identifier").val($(this).data('id'));
					$('#mdlDeleteStable').modal('show');
				});

				$('#delete-stable-approve').on('click', function () {
					ajaxJsonDelete('stables/' + $("#identifier").val(), null, function(response) {
						showSuccessMsg(messages.DELETE_STABLE_SUCCESS);
						setTimeout(function(){
							window.location.reload();
						},2000);
					}, function(error) {
						showErrorMsg(error);
					});
				});

				$(document).on('click', '.open-stable-form', (function() {
					var url = 'admin/hara';
					if(!isEmpty($(this).data("id"))){
						url += '?id='+ $(this).data("id");
					}
					ajaxPageCall(url, function(response) {
						$("#stable-form").html(response);
						$("#mdl-new-record-form").modal('show');
					}, function(error) {
						showErrorMsg(error);
					});
				}));

				
				$('#stable-form').validate({
					rules: {
						name: "required",
					},
					// Specify validation error messages
					messages: {
						name: "Hara adı girin.",
					},
					// JQuery's awesome submit handler.
					submitHandler: function(form) {
						if($("form #action_type").val() == 'UPDATE'){
 							ajaxJsonPut($(form).attr("action") + $("form #identifier").val(),JSON.stringify($(form).serializeJSON()), function(response) {
								showSuccessMsg(messages.ADMIN_UPDATE_SUCCESS);
								window.location.href = 'haralar';
							}, function(error) {
								showErrorMsg(error);
								return false;
							}); 
						}else{
							ajaxJsonPost($(form).attr("action"),JSON.stringify($(form).serializeJSON()), function(response) {
								showSuccessMsg(messages.ADMIN_ADD_SUCCESS);
								window.location.href = 'haralar';
							}, function(error) {
								showErrorMsg(error);
								return false;
							}); 
						}
					}
				});

			});

			function fillFilterForm() {
				var searchParams = new URLSearchParams(window.location.search);
				$("#filter_name").val($.trim(searchParams.get('name')));
			}

			function loadStables() {
				var url = window.location.href.split('?')[0];
				var urlParams = [];

				urlParams.push("page=" + $("#currentPage").val());

				if ($("#filter_name").val() != '') {
					urlParams.push("name=" + $("#filter_name").val());
				}

				var query = urlParams.map(function(value) {
					return value;
				}).join('&');
				window.location.replace(url + "?" + query);
			}

		</script>
	</div>
</body>
</html>