<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="properties">

		<div class="widget widget-categories mb-1 p-3 border-custom">
			<div class="accordion mt-n1" id="shop-categories">
				<ul class="mb-0" style="padding-inline-start: 0px">
					<th:block th:each="category, catIttr : ${categoryTree}">
						<li th:class="'cl' + ${catIttr.index==0 ? '0' : '1'}">
							<div>
								<a th:href="@{${category.searchText}}" th:title="${category.name}">
									<h1 th:text="${category.name}"></h1>
								</a>
							</div>
						</li>
					</th:block>
				</ul>
			</div>
		</div>
		<!-- İl/İlçe -->
		<div class="widget mb-1 p-3 background-filter">
			<h3 class="widget-title font-weight-bold">Adres</h3>
			<!-- İl -->
			<div class="widget cz-filter mb-1">
				<select class="form-control custom-select" id="city" name="city">
					<option value="0">İl Seçiniz</option>
					<th:block th:each="city, cityIttr : ${cityList}">
						<option th:value="${city.identifier}" th:text="${city.name}"
							th:selected="${filterParams != null and filterParams.city != null and filterParams.city == city.name}"></option>
					</th:block>
				</select>
			</div>
			<!-- İlçe -->
			<div class="widget cz-filter mb-1 border-bottom">
				<select class="form-control custom-select" id="district"
					name="district">
					<option value="0">İlçe Seçiniz</option>
				</select>
			</div>
		</div>

		<!-- Fiyat Aralığı-->
		<div class="widget mb-1 p-3 background-filter">
			<h3 class="widget-title font-weight-bold">Fiyat</h3>
			<div class="d-flex pb-1">
				<div class="w-50 pr-2 mr-2">
					<div class="input-group">
						<input class="form-control cz-range-slider-value-min" type="text"
							   id="minPrice" name="minPrice" placeholder="Min TL"
							   th:value="${filterParams.minPrice}">
					</div>
				</div>
				<div class="w-50 pl-2">
					<div class="input-group">
						<input class="form-control cz-range-slider-value-max" type="text"
							   id="maxPrice" name="maxPrice" placeholder="Max TL"
							   th:value="${filterParams.maxPrice}">
					</div>
				</div>
			</div>
		</div>
		<th:block th:each="property, propertyIttr : ${propertyList}">
			<div
				th:if="${#strings.equals(property.type,'select') or #strings.equals(property.type,'yesNo')}">
				<div class="widget cz-filter mb-1 p-3 background-filter">
					<h3 class="widget-title font-weight-bold" th:text="${property.name}"></h3>
					<ul th:if="${#strings.equals(property.type,'select')}"
						class="widget-list cz-filter-list list-unstyled pt-1 properties"
						style="max-height: 12rem;" data-simplebar
						data-simplebar-auto-hide="false">
						<th:block
							th:each="lookupData, lookupDataIttr : ${property.lookupData}">
							<li th:if="${lookupData.value != 'Diğer'}"
								class="cz-filter-item d-flex justify-content-between align-items-center mb-1 property-item">
								<div class="custom-control custom-checkbox">
									<input class="custom-control-input select-chckbx"
										type="checkbox" th:id="${lookupData.value}"
										th:name="${property.searchText}"
										th:value="${lookupData.value}"
										th:checked="${(filterParams !=null and #maps.size(filterParams.properties)>0 and filterParams.properties[property.searchText] != null) ? (#lists.contains(#strings.arraySplit(filterParams.properties[property.searchText], ','), lookupData.value)) : false}">
									<label class="custom-control-label cz-filter-item-text"
										th:for="${lookupData.value}" th:text="${lookupData.value}"></label>
								</div>
							</li>
						</th:block>
					</ul>
					<ul th:if="${#strings.equals(property.type,'yesNo')}"
						class="widget-list cz-filter-list list-unstyled pt-1 properties"
						style="max-height: 12rem;" data-simplebar
						data-simplebar-auto-hide="false">
						<li
							class="cz-filter-item d-flex justify-content-between align-items-center mb-1 property-item">
							<div class="custom-control custom-switch">
								<input class="custom-control-input yesNo-chckbx" type="checkbox"
									th:id="${property.name}" th:name="${property.searchText}"
									th:value="${filterParams.properties[property.searchText]}"
									th:checked="${(filterParams !=null and #maps.size(filterParams.properties)>0  and filterParams.properties[property.searchText] != null) ? (filterParams.properties[property.searchText] == 'Evet' ? true : false ) : false}">
								<label class="custom-control-label cz-filter-item-text"
									th:for="${property.name}"
									th:text="${filterParams.properties[property.searchText] == null ? 'Hayır' : filterParams.properties[property.searchText]}"></label>
							</div>
					</ul>
				</div>
			</div>
		</th:block>
		<!-- İlan Tarihi -->
		<div class="widget cz-filter mb-1 p-3 background-filter">
			<h3 class="widget-title font-weight-bold">İlan Tarihi</h3>
			<ul class="widget-list cz-filter-list list-unstyled pt-1"
				style="max-height: 12rem;" data-simplebar
				data-simplebar-auto-hide="false">
				<li
					class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
					<div class="custom-control custom-radio">
						<input class="custom-control-input" type="radio" id="last24Hour"
							name="dateInterval" value="1"
							th:checked="${filterParams.dateInterval == 1}"> <label
							class="custom-control-label cz-filter-item-text" for="last24Hour">Son
							24 saat</label>
					</div>
				</li>
				<li
					class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
					<div class="custom-control custom-radio">
						<input class="custom-control-input" type="radio" id="last3Days"
							name="dateInterval" value="3"
							th:checked="${filterParams.dateInterval == 3}"> <label
							class="custom-control-label cz-filter-item-text" for="last3Days">Son
							3 gün</label>
					</div>
				</li>
				<li
					class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
					<div class="custom-control custom-radio">
						<input class="custom-control-input" type="radio" id="last7Days"
							name="dateInterval" value="7"
							th:checked="${filterParams.dateInterval == 7}"> <label
							class="custom-control-label cz-filter-item-text" for="last7Days">Son
							7 gün</label>
					</div>
				</li>
				<li
					class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
					<div class="custom-control custom-radio">
						<input class="custom-control-input" type="radio" id="last30Days"
							name="dateInterval" value="30"
							th:checked="${filterParams.dateInterval == 30}"> <label
							class="custom-control-label cz-filter-item-text" for="last30Days">Son
							30 gün</label>
					</div>
				</li>
			</ul>
		</div>
		<!-- Fotoğraf -->
		<div class="widget cz-filter mb-1 p-3 background-filter">
			<h3 class="widget-title font-weight-bold">Fotoğraf</h3>
			<ul class="widget-list cz-filter-list list-unstyled pt-1"
				style="max-height: 12rem;" data-simplebar
				data-simplebar-auto-hide="false">
				<li
					class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
					<div class="custom-control custom-switch">
						<input class="custom-control-input" type="checkbox" id="hasPhoto"
							name="hasPhoto" th:checked="${filterParams.hasPhoto}"
							th:value="${filterParams.hasPhoto}"> <label
							class="custom-control-label cz-filter-item-text" for="hasPhoto">Resimli
							İlanlar</label>
					</div>
			</ul>
		</div>
		<!-- İlan Tarihi -->
		<div class="widget cz-filter mb-1 p-3 background-filter">
			<h3 class="widget-title font-weight-bold">Kelime ile filtrele</h3>
			<input class="form-control" type="text" id="filter_searchText"
				name="filter_searchText" placeholder=""
				th:value="${filterParams.searchText}">
		</div>
	</div>
</body>
</html>