<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="search-ads" class="row justify-content-center">
		<!-- Products list-->
		<section class="col-lg-12 pt-2">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12 text-center"
					th:if="${advertResource.page.totalElements==0}">
					<div class="alert alert-warning text-center border-0">
						<h5 class="card-title text-dark">Arama kriterlerine uygun
							ilan bulunamadı.</h5>
						<p class="card-text font-size-sm text-dark">Yapmış olduğunuz
							seçimlerin birini ya da birkaçını temizleyerek sonuç elde
							edebilirsiniz.</p>
					</div>
					<div th:replace="fragments/popular-search :: popular-search"></div>
				</div>

				<!-- Üst sırada ilanlar ilk önce listelenir -->
				<th:block th:if="${advertResource.page.totalElements>0}">
					<th:block th:each="advert, advertInd : ${topOrderAdverts}">
						<div class="col-sm-6 col-md-6 col-lg-6"
							th:if="${advert.category.searchText == categorySearchText and advertResource.page.page==0}">
							<div
								class="d-sm-flex justify-content-between my-2 border-bottom search-list ">
								<div
									class="media media-ie-fix d-sm-flex text-left alert-warning">

									<a class="d-inline-block mx-auto w-40"
										th:href="@{'/'+${advert.url}}"><span
										class="badge badge-warning badge-shadow"
										style="position: absolute; left: 20px; top: 15px">Üst
											Sırada</span><img th:src="${advert.imageUrl}"
										th:alt="${advert.title}" th:if="${advert.imageUrl != null}"><img
										src="/img/default-ad.png" th:alt="${advert.title}"
										th:if="${advert.imageUrl == null}"></a>
									<div class="media-body pt-2 px-2">
										<h3 class="product-title font-size-sm mb-2"
											style="max-height: 32px; overflow: hidden;">
											<a th:href="@{'/'+${advert.url}}"><strong
												th:text="${#strings.toUpperCase(advert.title)}"></strong></a>
										</h3>
										<div style="position: absolute; bottom: 11px;">
											<div class="font-size-sm pt-1">
												<span class="text-muted mr-1"><i
													class="czi-time text-primary"></i></span>
												<th:block
													th:text="${#strings.substring(advert.createDate,8,10) +'.'+ #strings.substring(advert.createDate,5,7) +'.'+ #strings.substring(advert.createDate,0,4)}"></th:block>
											</div>
											<div class="font-size-sm">
												<span class="text-muted mr-1 pt-1" th:inline="text"><i
													class="czi-money-bag text-primary"></i></span>
												<th:block th:inline="text">[[${advert.price>0 ? (#numbers.formatDecimal(advert.price,0, 'COMMA', 2, 'POINT') + ' TL') : 'Fiyat girilmemiş'}]]</th:block>
											</div>
											<div class="font-size-sm">
												<span class="text-muted mr-1 pt-1"
													th:if="${advert.city != null or advert.district !=null}"><i
													class="czi-location
												 text-primary"></i></span>
												<th:block
													th:text="${advert.city != null ? advert.city : ''} + ${advert.district != null ? ' / ' : ''} + ${advert.district !=null ? advert.district : ''}"></th:block>
											</div>
										</div>
										<div class="d-none" th:utext="${advert.description}"></div>
									</div>
								</div>
							</div>
						</div>
					</th:block>
				</th:block>

				<th:block th:each="advert, advertInd : ${advertResource.data}">
					<div class="col-sm-6 col-md-6 col-lg-6">
						<div
							class="d-sm-flex justify-content-between my-2 border-bottom search-list">
							<div class="media media-ie-fix d-sm-flex text-left">
								<a class="d-inline-block mx-auto w-40"
									th:href="@{'/'+${advert.url}}"><img
									th:src="${advert.imageUrl}" th:alt="${advert.title}"
									th:if="${advert.imageUrl != null}"><img
									src="/img/default-ad.png" th:alt="${advert.title}"
									th:if="${advert.imageUrl == null}"></a>
								<div class="media-body pt-2 px-2">
									<h3 class="product-title font-size-sm mb-2"
										style="max-height: 32px; overflow: hidden;">
										<a th:href="@{'/'+${advert.url}}"><strong
											th:text="${#strings.toUpperCase(advert.title)}"></strong></a>
									</h3>
									<div style="position: absolute; bottom: 11px;">
										<div class="font-size-sm pt-1">
											<span class="text-muted mr-1"><i
												class="czi-time text-primary"></i></span>
											<th:block
												th:text="${#strings.substring(advert.createDate,8,10) +'.'+ #strings.substring(advert.createDate,5,7) +'.'+ #strings.substring(advert.createDate,0,4)}"></th:block>
										</div>
										<div class="font-size-sm">
											<span class="text-muted mr-1 pt-1" th:inline="text"><i
												class="czi-money-bag text-primary"></i></span>
											<th:block th:inline="text">[[${advert.price>0 ? (#numbers.formatDecimal(advert.price,0, 'COMMA', 2, 'POINT') + ' TL') : 'Fiyat girilmemiş'}]]</th:block>
										</div>
										<div class="font-size-sm">
											<span class="text-muted mr-1 pt-1"
												th:if="${advert.city != null or advert.district !=null}"><i
												class="czi-location
												 text-primary"></i></span>
											<th:block
												th:text="${advert.city != null ? advert.city : ''} + ${advert.district != null ? ' / ' : ''} + ${advert.district !=null ? advert.district : ''}"></th:block>
										</div>
									</div>
									<div class="d-none" th:utext="${advert.description}"></div>
								</div>
							</div>
						</div>
					</div>
				</th:block>
			</div>
		</section>
	</div>
</body>
</html>