<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="search-bar">

		<div class="d-lg-flex justify-content-between border-bottom">
			<div class="order-1 pr-lg-4 text-center text-lg-left mb-lg-2">
				<h1 class="h4 text-dark mb-2" th:text="${headInfo}"></h1>
			</div>
			<div class="order-2 mb-3">
				<div class="form-inline">
					<select
							class="form-control custom-select" id="sorting">
						<option value="createdDate;DESC"
								th:selected="${advertResource.page.sort == 'createdDate' and advertResource.page.direction == 'DESC'}">Tarihe
							göre(Önce en yeni)</option>
						<option value="createdDate;ASC"
								th:selected="${advertResource.page.sort == 'createdDate' and advertResource.page.direction == 'ASC'}">Tarihe
							göre(Önce en eski)</option>
						<option value="price;DESC"
								th:selected="${advertResource.page.sort == 'price' and advertResource.page.direction == 'DESC'}">Fiyata
							göre(Önce en yüksek)</option>
						<option value="price;ASC"
								th:selected="${advertResource.page.sort == 'price' and advertResource.page.direction == 'ASC'}">Fiyata
							göre(Önce en düşük)</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</body>
</html>