<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="actions" class="d-none d-lg-block">
		<th:block
			th:if="${userInfo != null and userInfo.identifier == advertDetail.user.identifier}">
			<div class="d-flex justify-content-start pt-3"
				th:if="${advertDetail.status.name() != 'DELETED' and advertDetail.status.name() != 'SOLD'}">
				<a
					th:href="'/ilan-ver/ilan-bilgileri/' + ${advertDetail.identifier}"
					class="text-dark mr-2 mb-2"><i
					class="czi-edit text-info mr-2 mb-2"></i>İlanı Düzenle</a>

			</div>
			<div class="d-flex justify-content-start "
				th:if="${advertDetail.status.name() != 'DELETED' and advertDetail.status.name() != 'REJECTED'}">
				<a th:data-id="${advertDetail.identifier}" data-type="DELETED"
					data-text="İlanınız silinecektir. Onaylıyor musunuz?" href="#"
					class="mdl-action text-dark mr-2 mb-2"><i
					class="czi-trash text-danger mr-2 mb-2"></i>İlanı Sil</a>

			</div>
			<div class="d-flex justify-content-start"
				th:if="${advertDetail.status.name() == 'PASSIVE' or advertDetail.status.name() == 'SOLD'}">
				<a th:data-id="${advertDetail.identifier}" data-type="ACTIVE"
					data-text="İlanınız yayınlanacaktır. Onaylıyor musunuz?" href="#"
					class="mdl-action text-dark mr-2 mb-2"><i
					class="czi-reload text-dark mr-2 mb-2"></i>Yayınla</a>
			</div>
			<div class="d-flex justify-content-start"
				th:if="${advertDetail.status.name() == 'ACTIVE'}">
				<a th:data-id="${advertDetail.identifier}" data-type="PASSIVE"
					data-text="İlanınız yayından kaldırılacaktır. Onaylıyor musunuz?"
					href="#" class="mdl-action text-dark mr-2 mb-2"><i
					class="czi-remove-document text-dark mr-2 mb-2"></i>Yayından Kaldır</a>
			</div>
			<div class="d-flex justify-content-start"
				th:if="${advertDetail.status.name() == 'ACTIVE'}">
				<a th:data-id="${advertDetail.identifier}" data-type="SOLD"
					data-text="İlanınız SATILDI olarak güncellenecektir. Onaylıyor musunuz?"
					href="#" class="mdl-action text-dark mr-2 mb-2"><i
					class="czi-check text-success mr-2 mb-2"></i>İlanım SATILDI</a>
			</div>
			<div class="d-flex justify-content-start"
				th:if="${advertDetail.status.name() == 'ACTIVE' or advertDetail.status.name() == 'WAITING_APPROVAL'}">
				<a
					th:href="'/ilan-ver/ilan-bilgileri/' + ${advertDetail.identifier} + '#dopings'"
					class="text-dark mr-2 mb-2"><i
					class="czi-lightning text-warning mr-2 mb-2"></i>İlanı Öne Çıkar</a>
			</div>
		</th:block>

		<th:block th:if="${isAdmin != null and isAdmin}">
			<div class="d-flex justify-content-start pt-3"
				th:if="${advertDetail.status.name() == 'WAITING_APPROVAL'}">
				<a th:data-id="${advertDetail.identifier}" data-type="ACTIVE"
					data-text="İlan yayınlanacaktır. Onaylıyor musunuz?" href="#"
					class="mdl-action text-dark mr-2 mb-2"><i
					class="czi-check text-success mr-2 mb-2"></i>Onayla</a>
			</div>
			<div class="d-flex justify-content-start"
				th:if="${advertDetail.status.name() == 'WAITING_APPROVAL'}">
				<a th:data-id="${advertDetail.identifier}" data-type="REJECTED"
					data-text="İlan reddedilecektir. Onaylıyor musunuz?" href="#"
					class="mdl-action text-dark mr-2 mb-2"><i
					class="czi-close text-danger mr-2 mb-2"></i>Reddet</a>
			</div>
			<div class="d-flex justify-content-start">
				<a th:href="'/ilan-ver/ilan-ilgileri/' + ${advertDetail.identifier}"
					class="text-dark mr-2 mb-2"><i
					class="czi-edit text-info mr-2 mb-2"></i>İlanı Düzenle</a>

			</div>
			<div class="d-flex justify-content-start">
				<a th:data-id="${advertDetail.identifier}"
					th:data-type="${advertDetail.status.name()}" href="#"
					class="open-admin-statu-update-modal text-dark mr-2 mb-2"><i
					class="czi-reload text-dark mr-2 mb-2"></i>Statü Güncelle</a>
			</div>
			<div class="d-flex justify-content-start">
				<a
					th:href="'/admin/ilan-dopingleri?advertId=' + ${advertDetail.identifier}"
					class="text-dark mr-2 mb-2"><i
					class="czi-view-list text-primary mr-2 mb-2"></i>İlan Dopingleri</a>
			</div>
			<div class="d-flex justify-content-start">
				<a th:href="'/admin/kullanicilar?id=' + ${advertDetail.user.identifier}"
					class="text-dark mr-2 mb-2"><i
					class="czi-user text-dark mr-2 "></i>İlan Sahibi</a>
			</div>
			<div class="d-flex justify-content-start">
				<a
					th:href="@{'https://api.whatsapp.com/send?phone=+90'+${advertDetail.user.phoneNumber}+'&text=Merhaba ' +${advertDetail.user.firstName} +' '+ ${advertDetail.user.lastName} + ', haradan.com da yer alan '+ ${advertDetail.advertNo} + ' no lu '+ ${advertDetail.title} + ' başlıklı ilanınız ile ilgili size ulaşıyorum.'}"
					class="text-dark mr-2 mb-2 cp"><i class="czi-phone text-info mr-2"></i>Mesaj
					Gönder</a>
			</div>

		</th:block>
	</div>
</body>
</html>