<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="ad-info" class="card border-0">
		<input type="hidden" id="status"
			th:value="${advertDetail.status.name()}"> <input
			type="hidden" id="advert_id" th:value="${advertDetail.identifier}">
		<div class="card-body">
			<div class="d-flex justify-content-between mb-4">
				<span class="font-weight-large font-size-lg text-accent mr-1 font-weight-bolder"><th:block
						th:text="${#numbers.formatDecimal(advertDetail.price,0, 'COMMA', 2, 'POINT')}" />
					<small> TL</small></span> <span
					class="text-heading font-size-sm mr-1 font-weight-bolder"
					style="float: right;"
					th:text="${advertDetail.city != null ? advertDetail.city : ''} + ${advertDetail.district != null ? ' / ' : ''} + ${advertDetail.district !=null ? advertDetail.district : ''}"></span>
			</div>
			<div class="d-flex justify-content-between border-bottom pb-2">
				<div>
					<div class="font-weight-bold font-size-sm text-dark">İlan No</div>
				</div>
				<div th:text="${advertDetail.advertNo}" class="font-size-sm"></div>
			</div>
			<div class="d-flex justify-content-between border-bottom py-2">
				<div>
					<div class="font-weight-bold font-size-sm text-dark">İlan
						Tarihi</div>
				</div>
				<div
					th:text="${#strings.substring(advertDetail.createDate,8,10) +'.'+ #strings.substring(advertDetail.createDate,5,7) +'.'+ #strings.substring(advertDetail.createDate,0,4)}"
					class="font-size-sm"></div>
			</div>
			<div class="d-flex justify-content-between border-bottom py-2">
				<div>
					<div class="font-weight-bold font-size-sm text-dark">Kategori</div>
				</div>
				<div th:text="${advertDetail.category.name}" class="font-size-sm"></div>
			</div>
			<th:block
				th:each="advertProperty : ${advertDetail.advertPropertyList}">
				<div class="d-flex justify-content-between border-bottom py-2" th:if="${advertProperty.value!=null and advertProperty.value!=''}">
					<div>
						<div class="font-weight-bold font-size-sm text-dark"
							th:text="${advertProperty.name}"></div>
					</div>

					<th:block th:switch="${advertProperty.name}">
						<th:block th:case="'Anne Adı'">
							<div class="font-size-sm">
								<a target="_blank"
									th:href="${'https://www.tjk.org/TR/YarisSever/Query/Page/Orijin?QueryParameter_AnneAdi='+advertProperty.value}"
									class="text-accent a-underline"
									th:text="${advertProperty.value}"></a>
							</div>
						</th:block>
						<th:block th:case="'Baba Adı'">
							<div class="font-size-sm">
								<a target="_blank"
									th:href="${'https://www.tjk.org/TR/YarisSever/Query/Page/Orijin?QueryParameter_BabaAdi='+advertProperty.value}"
									class="text-accent a-underline"
									th:text="${advertProperty.value}"></a>
							</div>
						</th:block>
						<th:block th:case="'Annesinin Baba Adı'">
							<div class="font-size-sm">
								<a target="_blank"
									th:href="${'https://www.tjk.org/TR/YarisSever/Query/Page/KisrakBabasi?QueryParameter_KisrakBabaAdi='+advertProperty.value}"
									class="text-accent a-underline"
									th:text="${advertProperty.value}"></a>
							</div>
						</th:block>
						<th:block th:case="*">
							<div th:text="${advertProperty.value}" class="font-size-sm"></div>
						</th:block>
					</th:block>
				</div>
			</th:block>

			<div class="row mt-2 d-block d-lg-none"
				th:if="${advertDetail.description != '<p><br></p>' and advertDetail.description!=null}">
				<div class="col-md-12 pt-4 mt-md-0 pt-md-0">
					<div class="bg-secondary py-3 px-3">
						<h3 class="h5 pb-2">Açıklama</h3>
						<p th:utext="${advertDetail.description}"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>