<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<th:block th:fragment="contact-info" th:if="${userInfo == null or userInfo.identifier != advertDetail.user.identifier}">
		<div class="bg-secondary rounded p-3">
			<div class="media align-items-center">
				<img class="rounded-circle" width="50" src="/img/avatar.png"
					alt="Sara Palson">
				<div class="media-body pl-2">
					<span class="h6 text-dark"
						th:text="${advertDetail.user.firstName} + ' ' +${advertDetail.user.lastName}"></span>
					<h6 class="font-size-sm text-dark">
						<span>0 <a class="font-size-sm text-dark mb-0 phone-number" th:href="'tel:+90' + ${advertDetail.user.phoneNumber}"
							th:text="${advertDetail.user.phoneNumber}"></a></span>
					</h6>
				</div>
			</div>
			<div
				class="d-flex flex-wrap justify-content-between align-items-center">
				<a class="font-size-xs text-muted text-center"
				   th:href="@{'/at-sahibi/' + ${advertDetail.user.identifier}}">Kullanıcın diğer ilanları için tıklayınız</a>
			</div>

		</div>

		<div class="row justify-content-center py-2">
			<div class="col-sm-6 col-md-6 col-lg-12 mb-2">
				<a
					th:href="@{'https://api.whatsapp.com/send?phone=+90'+${advertDetail.user.phoneNumber}+'&text=Merhaba ' +${advertDetail.user.firstName} +' '+ ${advertDetail.user.lastName} + ', haradan.com da yer alan '+ ${advertDetail.advertNo} + ' no lu '+ ${advertDetail.title} + ' başlıklı ilanınız ile ilgili size ulaşıyorum.'}"
					id="whatsapp-message" class="btn-primary btn-sm btn-block btn-shadow"
					style="background: #47942a; border: 1px solid transparent;"><i
					class="czi-phone mr-2"></i> Whatsapp İle Mesaj Gönder</a>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-12">
				<a th:data-id="${advertDetail.identifier}"
					th:data-ref="${advertDetail.url}"
					class="btn-primary btn-sm btn-block add-to-favourites cp" data-toggle="tooltip" data-placement="left"
					title="Favorilere Ekle">
					<i class="czi-heart mr-2"></i> Favorilerine Ekle <span
						class="badge badge-light ml-1" id="favouriteCount">0</span>
				</a>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				ajaxJsonGet('user/'+$("#advert_id").val()+'/favourite-count',null, function(response) {
					$("#favouriteCount").text(response);
					return false;
				}, function(error) {
					console.log(error);
				});
			});
		</script>
	</th:block>
</body>
</html>