<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="gallery" class=" px-2">
		<div
			class="cz-carousel cz-controls-static cz-dots-enabled cz-dots-light cz-dots-inside">
			<div class="cz-carousel-inner"
				data-carousel-options="{&quot;items&quot;: 1, &quot;mode&quot;: &quot;gallery&quot;, &quot;nav&quot;: true, &quot;responsive&quot;: {&quot;0&quot;: {&quot;nav&quot;: true, &quot;controls&quot;: false}, &quot;576&quot;: {&quot;nav&quot;: true, &quot;controls&quot;: true}}}"
				th:if="${#maps.size(advertDetail.mediaMap)>0}">
				<th:block
					th:each="image, imageInd : ${advertDetail.mediaMap.images}">
					<img th:src="${image}" th:alt="${advertDetail.title}">
				</th:block>
			</div>
			<div class="cz-carousel-inner"
				data-carousel-options="{&quot;items&quot;: 1, &quot;mode&quot;: &quot;gallery&quot;, &quot;nav&quot;: true, &quot;responsive&quot;: {&quot;0&quot;: {&quot;nav&quot;: true, &quot;controls&quot;: false}, &quot;576&quot;: {&quot;nav&quot;: true, &quot;controls&quot;: true}}}"
				th:if="${#maps.size(advertDetail.mediaMap)==0}">
				<img src="/img/default-ad.png" th:alt="${advertDetail.title}">
			</div>
		</div>
	</div>
</body>
</html>