<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="page-title" class="page-title-overlap bg-dark"
		style="padding-top: 1.5rem !important;">
		<div class="container d-lg-flex justify-content-between py-1 py-lg-1">
			<div class="order-lg-1 pr-lg-4 text-center text-lg-left">
				<h1 class="h3 text-light mb-2 font-weight-bolder max-lines"
					th:text="${#strings.toUpperCase(advertDetail.title)}"></h1>
				<div>
					<!-- Aktif Dopingler -->
					<th:block th:fragment="active-dopings"
						th:each="doping: ${advertDetail.dopings}"
						th:if="${advertDetail.dopings != null and advertDetail.dopings.size() > 0}">
						<span class="badge badge-pill badge-primary ml-2 mb-2 mb-lg-0 "
							th:if="${doping.status.name() == 'ACTIVE'}"><i
							class="sr-star czi-star-filled active"></i> <span
							class="font-size-xs font-weight-bold" th:text="${doping.name}"></span></span>

					</th:block>
				</div>
			</div>
		</div>
	</div>
</body>
</html>