<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="pedigree">
		<div class="alert alert-warning text-center border-0 py-3"
			th:if="${pedigri==null or #lists.size(pedigri)==0}">
			<h5 class="card-title">Pedigri bulunmamaktadır.</h5>
		</div>
		<div class="px-3"
			th:if="${pedigri!=null and #lists.size(pedigri)>0}">
			<table border="0" cellpadding="0" width='100%'>
				<tr>
					<td>
						<table
							style="border: 1px solid #000000; border-collapse: collapse;"
							border="1" cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td rowspan='4' width='25%' class='male'
									th:text="${pedigri[0]!=null ? pedigri[0].father : ''}"></td>
								<td rowspan='2' width='25%' class='male'
									th:text="${pedigri[1]!=null ? pedigri[1].father : ''}"></td>
								<td rowspan='1' width='25%' class='male'
									th:text="${pedigri[3]!=null ? pedigri[3].father : ''}"></td>
							</tr>
							<tr>
								<td rowspan='1' width='25%' class='female'
									th:text="${pedigri[3]!=null ? pedigri[3].mother : ''}">1</td>
							</tr>
							<tr>
								<td rowspan='2' width='25%' class='female'
									th:text="${pedigri[1]!=null ? pedigri[1].mother : ''}">2</td>
								<td rowspan='1' width='25%' class='male'
									th:text="${pedigri[4]!=null ? pedigri[4].father : ''}">3</td>
							</tr>
							<tr>
								<td rowspan='1' width='25%' class='female'
									th:text="${pedigri[4]!=null ? pedigri[4].mother : ''}">1</td>
							</tr>
							<tr>
								<td rowspan='4' width='25%' class='female'
									th:text="${pedigri[0]!=null ? pedigri[0].mother : ''}"></td>
								<td rowspan='2' width='25%' class='male'
									th:text="${pedigri[2]!=null ? pedigri[2].father : ''}"></td>
								<td rowspan='1' width='25%' class='male'
									th:text="${pedigri[5]!=null ? pedigri[5].father : ''}"></td>
							</tr>
							<tr>
								<td rowspan='1' width='25%' class='female'
									th:text="${pedigri[5]!=null ? pedigri[5].mother : ''}"></td>
							</tr>
							<tr>
								<td rowspan='2' width='25%' class='female'
									th:text="${pedigri[2]!=null ? pedigri[2].mother : ''}"></td>
								<td rowspan='1' width='25%' class='male'
									th:text="${pedigri[6]!=null ? pedigri[6].father : ''}"></td>
							</tr>
							<tr>
								<td rowspan='1' width='25%' class='female'
									th:text="${pedigri[6]!=null ? pedigri[6].mother : ''}"></td>
							</tr>
							<tr>
						</table>
					</td>
				<tr>
			</table>
		</div>
	</div>
</body>
</html>