<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="share"
		class="d-none d-lg-block flex-wrap justify-content-between align-items-center">
		<div class="pt-2">
			<h6 class="d-inline-block align-middle font-size-sm my-2 mr-1">Paylaş:</h6>
			<a class="share-btn sb-twitter mr-1 my-2" th:href="'https://twitter.com/intent/tweet?url=' + ${#httpServletRequest.requestURL} + '&amp;text=' + ${advertDetail.title} + '&amp;via=haradancom'"><i
				class="czi-twitter"></i>Twitter</a><a class="share-btn sb-facebook my-2"
				th:href="@{'https://www.facebook.com/sharer/sharer.php?u=' + ${#httpServletRequest.requestURL}}"
				onclick="window.open(this.href, 'Haradan.com','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><i
				class="czi-facebook"></i>Facebook</a>
		</div>
	</div>
</body>
</html>