<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="siblings">
		<div class="alert alert-warning text-center border-0 py-3"
			th:if="${siblings==null or #lists.size(siblings)==0}">
			<h5 class="card-title">Kardeşi bulunmamaktadır.</h5>
		</div>
		<div class="table-responsive px-3 px-lg-0" th:if="${siblings!=null and #lists.size(siblings)>0}">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Kardeşi</th>
						<th>Aygır</th>
						<th>Koşu</th>
						<th>1'incilik</th>
						<th>2'ncilik</th>
						<th>3’üncülük</th>
						<th>4'ncülük</th>
						<th>Kazanç(TL)</th>
					</tr>
				</thead>
				<tbody>

					<th:block th:each="sibling : ${siblings}">
						<tr>
							<th scope="row" th:text="${sibling.siblingName}"></th>
							<td th:text="${sibling.fatherName}"></td>
							<td th:text="${sibling.raceCount}"></td>
							<td th:text="${sibling.first}"></td>
							<td th:text="${sibling.second}"></td>
							<td th:text="${sibling.third}"></td>
							<td th:text="${sibling.fourth}"></td>
							<td
								th:text="${#numbers.formatDecimal(sibling.earning,0, 'COMMA', 2, 'POINT')}"></td>
						</tr>
					</th:block>

				</tbody>
			</table>
		</div>
	</div>
</body>
</html>