<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="similar-adverts" class=" py-5 my-md-3">
		<h2 class="h3 text-center pb-4 font-weight-bolder" th:if="${similarAdverts.size()>0}">İlginizi Çekebilir</h2>
		<div
			class="cz-carousel cz-controls-static cz-controls-outside cz-dots-enabled pt-2" style="padding:0px">
			<div class="cz-carousel-inner"
				data-carousel-options="{&quot;items&quot;: 2, &quot;gutter&quot;: 16, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 2000, &quot;controls&quot;: true, &quot;autoHeight&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1}, &quot;480&quot;:{&quot;items&quot;:2}, &quot;720&quot;:{&quot;items&quot;:3}, &quot;991&quot;:{&quot;items&quot;:2}, &quot;1140&quot;:{&quot;items&quot;:3}, &quot;1300&quot;:{&quot;items&quot;:4}, &quot;1500&quot;:{&quot;items&quot;:4}}}">
				<th:block th:each="advert, advertInd : ${similarAdverts}">
					<!-- Product-->
					<div>
						<div class="card product-card-alt">
							<div class="product-thumb">
								<button th:data-id="${advert.identifier}" data-ref="/"
									class="btn-wishlist btn-sm add-to-favourites" type="button"
									data-toggle="tooltip" data-placement="left"
									title="Favorilere Ekle">
									<i class="czi-heart"></i>
								</button>
								<a class="product-thumb" th:href="@{'/'+${advert.url}}"><img
									th:src="${advert.imageUrl}" th:alt="${advert.title}"
									th:if="${advert.imageUrl != null}"><img
									src="/img/default-ad.png" th:alt="${advert.title}"
									th:if="${advert.imageUrl == null}"></a>
							</div>
							<div class="card-body">
								<div
									class="d-flex flex-wrap justify-content-between align-items-start pb-2">
									<div class="text-muted font-size-xs mr-1">
										<a class="product-meta font-weight-bolder"
											th:href="@{'/'+${advert.url}}"
											th:text="${advert.category.name}"></a>
									</div>
								</div>
								<h1 class="h3 product-title font-size-sm mb-2 font-weight-bolder">
									<a th:href="@{'/'+${advert.url}}"
										th:text="${#strings.toUpperCase(advert.title)}"></a>
								</h1>
								<div class="d-none" th:utext="${advert.description}"></div>
							</div>
						</div>
					</div>
				</th:block>
			</div>
		</div>
	</div>
</body>
</html>