<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="statistic">
		<div class="alert alert-warning text-center border-0 py-3" th:if="${statistics==null or #lists.size(statistics)==0}">
			<h5 class="card-title">Koşu bilgileri bulunamadı.</h5>
		</div>
		<div class="table-responsive px-3 px-lg-0" th:if="${statistics!=null and #lists.size(statistics)>0}">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Koşu</th>
						<th>1'incilik</th>
						<th>2'ncilik</th>
						<th>3’üncülük</th>
						<th>4'ncülük</th>
						<th>Kazanç(TL)</th>
					</tr>
				</thead>
				<tbody>

					<th:block th:each="statistic : ${statistics}">
						<tr>
							<th scope="row"
								th:text="${(statistic.pistType != null and statistic.pistType.key != null) ? statistic.pistType.key : statistic.year}"></th>
							<td th:text="${statistic.raceCount}"></td>
							<td th:text="${statistic.first}"></td>
							<td th:text="${statistic.second}"></td>
							<td th:text="${statistic.third}"></td>
							<td th:text="${statistic.fourth}"></td>
							<td
								th:text="${#numbers.formatDecimal(statistic.earning,0, 'COMMA', 2, 'POINT')}"></td>
						</tr>
					</th:block>

				</tbody>
			</table>
		</div>
	</div>
</body>
</html>