<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<th:block th:fragment="waiting-payments"
		th:if="${userInfo != null and userInfo.identifier == advertDetail.user.identifier}">
		<th:block
			th:with="selection=${advertDetail.dopings.?[status.name() == 'WAITING_APPROVAL']}"
			th:if="${advertDetail.dopings != null and advertDetail.dopings.size() > 0 and (advertDetail.status.name() == 'ACTIVE' or advertDetail.status.name() == 'WAITING_APPROVAL')}">
			<div class="card px-2 py-2" style="border-radius: 0"
				th:if="${selection.size() > 0}">
				<div class="alert alert-warning fade show" role="alert">
					<span class="text-dark">İlanınızı öne çıkarmayı tamamlamak
						için ödeme yapmanız gerekiyor. </span>
				</div>
				<ul class="list-group list-group-flush" th:with="totalAmnt = 0">
					<li
						class="list-group-item d-flex align-items-center justify-content-between"
						th:each="doping: ${advertDetail.dopings}"
						th:if="${doping.status.name() == 'WAITING_APPROVAL'}"><span
						class="nav-link-style" th:text="${doping.name}"></span><span
						class="font-size-md" th:inline="text">[[${doping.price}]]
							TL</span></li>
					<li
						class="list-group-item d-flex align-items-center justify-content-between"
						th:if="${advertDetail.charged == false and advertDetail.category.price>0}"><span
						class="nav-link-style">İlan Ücreti</span><span
						class="font-size-md" th:inline="text">[[${advertDetail.category.price}]]
							TL</span></li>
					<li class="list-group-item border-0 text-right"><span
						class="text-right" th:inline="text">Toplam :
							[[${#aggregates.sum(advertDetail.dopings.?[status.name()=='WAITING_APPROVAL'].![price]) + ((advertDetail.charged == false and advertDetail.category.price>0) ? advertDetail.category.price : 0)}]]
							TL</span></li>
				</ul>
				<div class="card-body text-right">
					<a th:href="@{'/ilan-ver/odeme-yap/' + ${advertDetail.identifier}}"
						class="btn btn-sm btn-primary">Ödeme Yap</a>
				</div>
			</div>
		</th:block>
	</th:block>
</body>
</html>