<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="ad-info">

		<input type="hidden" id="advert_user_id"
			name="advert_user_id" th:value="${advertDetail.user.identifier}" />
		<input type="hidden" id="tjk_inquiry_ask"
			   name="tjk_inquiry_ask" th:value="${advertDetail.category.searchText == 'satilik-yaris-ati'
			   or advertDetail.category.searchText == 'satilik-kisrak'
			   or advertDetail.category.searchText == 'satilik-aygir'}" />
		<input type="hidden" class="common-property" id="advert_id"
			name="advert_id" th:value="${advert_id}" /> <input type="hidden"
			class="common-property" id="category" name="category"
			th:value="${advertDetail.category.identifier}" /> <input
			type="hidden" id="district_name" name="district_name"
			th:value="${advertDetail.district}" /> <input type="hidden"
			id="status" name="status" th:value="${advertDetail.status.name()}" />
		<input type="hidden" id="catPrice" name="catPrice"
			th:value="${advertDetail.charged == true ? 0 : advertDetail.category.price}" />
		<div th:replace="post-ad/file-upload :: file-upload"></div>

		<form id="post-ad-form">
			<div class="card border-0 box-shadow mb-3">
				<div class="card-body">
					<h6 class="card-title font-weight-bold">İlan Bilgileri</h6>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="title">Başlık <span id="title-error" class="error">(*Zorunlu alan)</span></label><input
									class="form-control common-property text-dark" type="text"
									id="title" name="title" th:value="${advertDetail.title}"
									tabindex="0">
							</div>
						</div>
					</div>
					<div class="row">
						<input class="form-control common-property text-dark"
							type="hidden" id="tjkNo" name="tjkNo"
							th:value="${advertDetail.tjkNo}" tabindex="0">
						<th:block th:each="property, propertyIttr : ${propertyList}">
							<div class="col-sm-4">
								<div class="form-group">
									<label th:for="${property.searchText}"
										th:text="${property.name}"></label>

									<div th:if="${#strings.equals(property.type,'text')}">
										<div class="input-group"
											 th:if="${property.searchText == 'at-adi' and (advertDetail.category.searchText == 'satilik-yaris-ati' or advertDetail.category.searchText == 'satilik-kisrak' or advertDetail.category.searchText == 'satilik-aygir')}">
											<input
													class="form-control property text-dark"
													type="text" th:id="${property.identifier}"
													th:name="${property.searchText}"
													th:with="selection=${advertDetail.advertPropertyList.?[propertyId eq #root.property.identifier]}"
													th:value="${selection.size() > 0 ? selection[0].value : ''}"
													placeholder="Atınızın TJK'da kayıtlı adını giriniz"
													autocomplete="off">
											<button class="btn btn-primary px-1 horse-inquiry-modal-open" type="button" style="border-radius: 0;">Düzenle</button>

										</div>
										<input class="form-control property text-dark" type="text"
											   th:id="${property.identifier}"
											   th:name="${property.searchText}"
											   th:with="selection=${advertDetail.advertPropertyList.?[propertyId eq #root.property.identifier]}"
											   th:value="${selection.size() > 0 ? selection[0].value : ''}"
											   th:if="${not (property.searchText == 'at-adi' and (advertDetail.category.searchText == 'satilik-yaris-ati' or advertDetail.category.searchText == 'satilik-kisrak' or advertDetail.category.searchText == 'satilik-aygir'))}">

									</div>
									<div th:if="${#strings.equals(property.type,'select')}">
										<select class="form-control custom-select property text-dark"
											th:id="${property.identifier}"
											th:name="${property.searchText}"
											th:with="selection=${advertDetail.advertPropertyList.?[propertyId eq #root.property.identifier]}">
											<option>Seçiniz</option>
											<th:block
												th:each="lookupData, lookupDataIttr : ${property.lookupData}">
												<option th:value="${lookupData.value}"
													th:text="${lookupData.value}"
													th:selected="${(selection.size() > 0 and selection[0].value == lookupData.value) ? 'true' : 'false'}"></option>
											</th:block>
										</select>
									</div>
									<div th:if="${#strings.equals(property.type,'yesNo')}">
										<select class="form-control custom-select property text-dark"
											th:id="${property.identifier}"
											th:name="${property.searchText}"
											th:with="selection=${advertDetail.advertPropertyList.?[propertyId eq #root.property.identifier]}">
											<option value="Evet"
												th:selected="${(selection.size() > 0 and selection[0].value == 'Evet') ? 'true' : 'false'}">
												Evet</option>
											<option value="Hayır"
												th:selected="${(selection.size() == 0 or (selection.size() > 0 and selection[0].value == 'Hayır')) ? 'true' : 'false'}">
												Hayır</option>
										</select>
									</div>
								</div>
							</div>
						</th:block>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="price">Fiyat <span id="title-error" class="error">(*Zorunlu alan)</span></label> <input
									class="form-control common-property price text-dark"
									type="text" id="price" name="price"
									th:value="${advertDetail.price}" tabindex="1">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="description">Açıklama</label>
								<textarea class="form-control common-property text-dark"
									id="description" name="description" rows="5"
									th:utext="${advertDetail.description}"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card border-0 box-shadow mb-3">
				<div class="card-body">
					<h6 class="card-title font-weight-bold">Adres Bilgisi</h6>
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label for="city">İl <span id="title-error" class="error">(*Zorunlu alan)</span></label> <select
									class="form-control custom-select common-property text-dark"
									id="city" name="city" tabindex="2">
									<option value="0">Seçiniz</option>
									<th:block th:each="city, cityIttr : ${cityList}">
										<option th:value="${city.identifier}" th:text="${city.name}"
											th:selected="${advertDetail !=null and advertDetail.city != null and advertDetail.city == city.name}"></option>
									</th:block>
								</select>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="district">İlçe <span id="title-error" class="error">(*Zorunlu alan)</span></label> <select
									class="form-control custom-select common-property text-dark"
									id="district" name="district" tabindex="3">
									<option value="0">Seçiniz</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card border-0 box-shadow mb-3">
				<div class="card-body">
					<h6 id="dopings" class="card-title font-weight-bold">İlanınız daha çok görüntülensin ister
						misiniz?</h6>

					<div class="row">
						<div class="col-sm-12">
							<div class="rounded-lg px-2 py-2">
								<div id="active-dopings"
									class="bg-secondary h-100 rounded-lg p-4 mb-2"
									th:with="activeDopingList=${advertDopingList.?[status.name() == 'ACTIVE']}"
									th:classappend="${activeDopingList.size() > 0 ? '' : 'd-none'}">
									<h3 class="h5">Aktif Dopingler</h3>
									<p class="font-size-sm" th:each="doping : ${activeDopingList}"
										th:inline="text">
										<i class="alert-icon text-success czi-check-circle mr-2"></i>[[${doping.name}]]
									</p>
								</div>
								<div id="doping-items" class="widget mb-3">
									<th:block th:each="doping : ${dopingList}"
										th:with="advertDoping=${advertDopingList.?[shortName == #root.doping.shortName]}">
										<div class="media align-items-center pb-2 border-bottom"
											th:if="${advertDoping == null or advertDoping.size()==0 or (advertDoping.size()>0 and advertDoping[0].status.name() != 'ACTIVE')}">
											<div class="media-body">
												<div class="custom-control custom-checkbox">
													<input class="custom-control-input doping-chckbx"
														type="checkbox" th:id="${doping.shortName}"
														th:name="${doping.shortName}" th:value="${doping.price}"
														th:checked="${(advertDoping != null and advertDoping.size()>0 and advertDoping[0].status.name() == 'WAITING_APPROVAL')}">
													<label class="custom-control-label"
														th:for="${doping.shortName}"><span
														th:utext="${doping.desc}"></span></label>
													<div class="widget-product-meta">
														<span class="text-accent pr-2 mr-2 border-right" th:inline="text">
															[[${doping.price}]] TL</span>
														<span class="font-size-xs text-muted"><a
														class="nav-link-inline font-size-sm black how-to-seen-lnk cp"
														th:data-id="${doping.shortName}">Nasıl görülür ?</a></span>
													</div>
												</div>
											</div>
										</div>
									</th:block>
									<div class="media align-items-center py-2 pb-2 border-bottom"
										th:if="${advertDetail.charged == false and advertDetail.category.price>0}">
										<div class="media-body">
											<span>İlan
													Ücreti : <span class="text-accent pr-2 mr-2 border-right"
													th:inline="text"> [[${advertDetail.category.price}]]
														TL</span>
											</span>
										</div>
									</div>
								</div>
								<h3 id="total-amount"
									class="font-weight-normal text-center my-4">0.00 TL</h3>
							</div>
						</div>
					</div>

					<!-- Navigation (desktop)-->
					<div class="d-none d-lg-flex pt-4 mt-3">
						<div class="w-50 pr-3">
							<a class="btn btn-secondary btn-block font-weight-bold"
								th:href="@{'/ilan-ver/kategori-secim/'+${advert_id}}"><i
								class="czi-arrow-left mt-sm-0 mr-1"></i><span
								class="d-none d-sm-inline">Geri</span><span
								class="d-inline d-sm-none">Geri</span></a>
						</div>
						<div class="w-50 pl-2">
							<button type="submit"
								class="btn btn-primary btn-block font-weight-bold">
								<span class="d-none d-sm-inline">İlanı Yayınla</span><span
									class="d-inline d-sm-none">İlanı Yayınla</span><i
									class="czi-arrow-right mt-sm-0 ml-1"></i>
							</button>
						</div>
					</div>
					<!-- Navigation (mobile)-->
					<div class="row d-lg-none">
						<div class="col-lg-8">
							<div class="d-flex pt-4 mt-3">
								<div class="w-50 pr-3">
									<a class="btn btn-secondary btn-block font-weight-bold"
										th:href="@{'/ilan-ver/kategori-secim/'+${advert_id}}"><i
										class="czi-arrow-left mt-sm-0 mr-1"></i><span
										class="d-none d-sm-inline">Geri</span><span
										class="d-inline d-sm-none">Geri</span></a>
								</div>
								<div class="w-50 pl-2">
									<button type="submit"
										class="btn btn-primary btn-block font-weight-bold">
										<span class="d-none d-sm-inline">İlanı Yayınla</span><span
											class="d-inline d-sm-none">İlanı Yayınla</span><i
											class="czi-arrow-right mt-sm-0 ml-1"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<script type="text/javascript">
			$(document).ready(function() {
				//Initialize description field

				if($.trim($("input[name='at-adi']").val()) == ''
						&& $("#tjk_inquiry_ask").val() == "true")
					$('#horse-inquiry-modal').modal('show');

				$('#description').summernote({
					placeholder: 'Açıklama girin...',
					tabsize: 2,
					height: 200,
					lang: 'tr-TR',
					fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
					toolbar: [
						// [groupName, [list of button]]
						['style', ['bold', 'italic', 'underline', 'clear']],
						['font', ['strikethrough', 'superscript', 'subscript']],
						['fontsize', ['fontsize']],
						['color', ['color']],
						['para', ['ul', 'ol', 'paragraph']],
						['height', ['height']],
						['view', ['fullscreen', 'codeview']],
					]
				});
				//Load districts when changing the city
				$(document).on('change', '#city', (function() {
					ajaxJsonGet('districts/search?page=0&size=100&cityCode=' + $(this).val(), null, function(response) {
						$('#district').find('option').not(':first').remove();
						response.data.forEach(function(item) {
							$('#district').append('<option value="' + item.identifier + '">' + item.name + '</option>');
						});
					}, function(error) {
						$('#district').find('option').not(':first').remove();
					});
					return false;
				}));
				//Fire when clicking how to seen link in doping area
				$(document).on('click', '.how-to-seen-lnk', (function() {
					$('#doping-how-to-seen-modal').find('img').addClass('d-none');
					$('#doping-how-to-seen-modal').find('#img_' + $(this).data("id")).removeClass('d-none');
					$('#doping-how-to-seen-modal').modal('show');
				}));
				//Calculate total amount when checked/unchecked doping checkbox
				$(document).on('change', '.doping-chckbx', (function() {
					calculatePaymentAmnt();
				}));

				$('.horse-name-entered-selection-no').click(function() {
					$('#horse-inquiry-modal').modal('hide');
				});


				$('.horse-inquiry-modal-open').click(function() {
					$('#horse-inquiry-modal').modal('show');
				});

				$('.horse-name-entered-selection-yes').click(function() {
					$('#horse-inquiry-modal #horse-name-question-area').addClass('d-none');
					$('#horse-inquiry-modal #horse-name-list-area').removeClass('d-none')

				});

				//Fire when typing horse name textbox
				$('.horseSearchText').on('keyup focus', function(e) {
					$('#horse-search-list').addClass('d-none').find('ul').empty();
					if($.trim($(this).val()) != '') {
						getHorseList($.trim($(this).val()));
					} else {
						$('#horse-search-list').addClass('d-none').find('ul').empty();
						clearHorseInfo();
					}
				});
				//Fire when clicking one item in horse search results
				$(document).on('mousedown', '#horse-search-list ul li a', (function() {
					loadHorseInfo($(this).attr('data-id'), $(this).attr('data-text'));
					$('#horse-inquiry-modal').modal('hide');
					$('#horse-search-list').addClass('d-none').find('ul').empty();
				}));
				//Fire when focus out from horse name textbox
				$('.horseSearchText').on('blur', function(e) {
					 $('#horse-search-list').addClass('d-none').find('ul').empty();
				});
				//Load districts when page loading
				loadDistricts();
				//Calculate total payment amount
				calculatePaymentAmnt();
				//post ad form submit
				$('#post-ad-form').validate({
					rules: {
						title: "required",
						price: "required",
						city: {
							valueNotEquals: "0"
						},
						district: {
							valueNotEquals: "0"
						}
					},
					// Specify validation error messages
					messages: {
						title: "Başlık girin.",
						price: "Fiyat girin.",
						city: {
							valueNotEquals: "İl seçin"
						},
						district: {
							valueNotEquals: "İlçe seçin"
						}
					},
					// JQuery's awesome submit handler.
					submitHandler: function(form) {
						//Save common advert properties
						saveCommonPropData();
						//Save other advert properties
						saveOtherPropData();
						//Save doping data
						saveDopingData();
						/*                     //Calculate payment amount and redirect convenient page
						 var totalAmount = calculatePaymentAmnt();
						 if (totalAmount.toFixed(2) > 0) window.location = '/ilan-ver/odeme-yap/' + $("#advert_id").val();
						 else window.location = '/ilan-ver/sonuc/' + $("#advert_id").val(); */
					}
				});
			});
	
			function loadDistricts() {
				ajaxJsonGet('districts/search?page=0&size=100&cityCode=' + $("#city").val(), null, function(response) {
					$('#district').find('option').not(':first').remove();
					response.data.forEach(function(item) {
						$('#district').append('<option value="' + item.identifier + '">' + item.name + '</option>');
					});
					if($("#district_name").val() == '') {
						$("#district").find('option:first').prop('selected', true);
					} else {
						$("#district option:contains(" + $("#district_name").val() + ")").prop('selected', true);
					}
					return false;
				}, function(error) {
					showErrorMsg(error);
				});
			}
	
			function calculatePaymentAmnt() {
				var totalAmount = parseFloat($('#catPrice').val());
				$('.doping-chckbx').each(function() {
					if(this.checked) {
						totalAmount += parseFloat($(this).val());
					}
				});
				$("#total-amount").text(totalAmount.toFixed(2) + ' TL');
				return totalAmount;
			}
	
			function saveCommonPropData() {
				var commonPropData = {};
				$(".common-property").each(function() {
					if($(this).attr('name') != 'price') {
						if($(this).attr('name') == 'city' || $(this).attr('name') == 'district') {
							commonPropData[$(this).attr('name')] = $(this).find('option:selected').text();;
						} else {
							commonPropData[$(this).attr('name')] = $(this).val();
						}
					} else {
						commonPropData[$(this).attr('name')] = $(this).val().replaceAll(",", "");
					}
				});
				if($("#status").val() == _NOT_COMPLETED) {
					commonPropData['status'] = _WAITING_APPROVAL;
				}
				commonPropData['description'] = $('#description').summernote('code');
				ajaxJsonPut('adverts/' + $("#advert_id").val(), JSON.stringify(commonPropData), function(response) {
					console.log(response)
				}, function(error) {
					showErrorMsg(error);
					return false;
				});
			}
	
			function saveOtherPropData() {
				var propData = [];
				$(".property").each(function() {
					propData.push({
						"property": $(this).attr('id'),
						"value": $(this).val()
					});
				});
				ajaxJsonPost('adverts/' + $("#advert_id").val() + '/property', JSON.stringify(propData), function(response) {
					console.log(response)
				}, function(error) {
					showErrorMsg(error);
					return false;
				});
			}
	
			function saveDopingData() {
				var dopingData = [];
				$(".doping-chckbx").each(function() {
					if(this.checked) {
						dopingData.push({
							"doping": $(this).attr('id'),
							"status": _WAITING_APPROVAL
						});
					} else {
						dopingData.push({
							"doping": $(this).attr('id'),
							"status": _DELETED
						});
					}
				});
				ajaxJsonPost('adverts/' + $("#advert_id").val() + '/doping', JSON.stringify(dopingData), function(response) {
					var totalAmount = calculatePaymentAmnt();
					if(totalAmount.toFixed(2) > 0) window.location = '/ilan-ver/odeme-yap/' + $("#advert_id").val();
					else window.location = '/ilan-ver/sonuc/' + $("#advert_id").val();
				}, function(error) {
					showErrorMsg(error);
					return false;
				});
			}
	
			function loadHorseInfo(tjkNo, type) {
				$.ajax({
					url: '/horses/' + tjkNo,
					dataType: 'json',
					type: 'POST',
					contentType: 'application/json',
					headers: {
						"Authorization": 'Bearer ' + getCookie('access_token')
					},
					beforeSend: function() {
						$('.loading').removeClass('d-none');
					},
					success: function(data) {
						$("[name='tjkNo']").val(tjkNo);
						$("[name='at-adi']").val(data.name);
						$("[name='baba-adi']").val(data.fatherName);
						$("[name='anne-adi']").val(data.motherName);
						$("[name='annesinin-baba-adi']").val(data.maidenFatherName);
						$("[name='cinsiyet']").val(data.gender);
						$("[name='donu']").val(data.donu);
						$("[name='at-irki']").val(type);
						if(data.age > 9 && data.age < 15) {
							$("[name='yas']").val('10-15 arası');
						} else if(data.age > 15) {
							$("[name='yas']").val('15 üzeri');
						} else {
							$("[name='yas']").val(data.age);
						}
						$('.loading').addClass('d-none');
					},
					error: function(xhr) {
						$('#horse-list').empty();
						$('.loading').addClass('d-none');
					},
				});
			}

			function getHorseList(horseName){

				var url = 'horses/horse-list-view/'+horseName;
				ajaxPageCall(url, function(response) {
					console.log(response);
					$("#horse-search-list").html(response);
					$('#horse-search-list').removeClass('d-none');
				}, function(error) {
					showErrorMsg(error);
				});
			}
	
			function clearHorseInfo() {
				$("[name='tjkNo']").val(0);
				$("[name='at-adi']").val('');
				$("[name='baba-adi']").val('');
				$("[name='anne-adi']").val('');
				$("[name='annesinin-baba-adi']").val('');
				$("[name='cinsiyet']").val('');
				$("[name='donu']").val('');
				$("[name='at-irki']").val('');
				$("[name='yas']").val('');
			}
		</script>
	</div>
</body>
</html>