<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="category-select"
		th:with="editable=${(advertDetail == null or advertDetail.status == null or #strings.equals(advertDetail.status, 'NOT_COMPLETED')) ? 'true' : 'false'}">
		<div class="row">
			<div class="col-sm-12"
				th:classappend="${#strings.equals(editable, 'true')} ? '' : 'd-none'">
				<p>İlanınıza uygun kategori seçimi yaparak ilerleyeniz.</p>
			</div>
		</div>
		<input type="hidden" id="editable" th:value="${editable}">
		<div class="row">
			<div class="col-lg-4 col-sm-3 col-md-4">
				<div class="form-group">
					<div id="parent-category"
						class="widget widget-links category-select">
						<ul id="parent-category" class="widget-list">
							<th:block th:each="category, catIttr : ${categoryList}">
								<li class="widget-list-item category-item text-dark"
									th:classappend="${parentCategory == category.identifier ? 'cat-selected' : ''}"
									th:id="${category.identifier}" th:text="${category.name}"></li>
							</th:block>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-3 col-md-4">
				<div class="form-group">
					<div class="widget widget-links category-select"
						th:classappend="${#lists.isEmpty(subCategoryList)} ? 'd-none' : ''">
						<ul class="widget-list" id="sub-categories">
							<th:block th:each="subCategory, subCatIttr : ${subCategoryList}">
								<li class="widget-list-item text-dark"
									th:classappend="${(advertDetail != null and advertDetail.category != null and advertDetail.category.identifier == subCategory.identifier) ? 'cat-selected' : ''}"
									th:id="${subCategory.identifier}"
									th:text="${subCategory.name}"></li>
							</th:block>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-3 col-md-4">
				<!-- Navigation (desktop)-->
				<div id="next-btn-area" class="mt-2"
					th:classappend="${#lists.isEmpty(subCategoryList)} ? 'd-none' : ''">
					<div class="w-100">
						<a id="next-btn" class="btn btn-primary btn-block font-weight-bold"><span
							class="d-none d-sm-inline">Devam et</span><span
							class="d-inline d-sm-none">Devam et</span><i
							class="czi-arrow-right mt-sm-0 ml-1"></i></a>
					</div>
				</div>
			</div>
		</div>

		<input type="hidden" id="selected-category" name="selected-category"
			th:value="${advertDetail != null and advertDetail.category != null and advertDetail.category.identifier != null} ? ${advertDetail.category.identifier} : ''" />

		<input type="hidden" id="advert_id" name="advert_id"
			th:value="${advert_id}" />

		<script type="text/javascript">
			$(document).ready(function() {

				//Fire when clicking category item
				$('#parent-category li').click(function() {
					
					if($("#editable").val() == 'false'){
						return;
					}
					
					$("#selected-category").val("");
					$(this).addClass("cat-selected").siblings().removeClass("cat-selected");
					checkCategorySelect('');
					
					ajaxJsonGet('categories/' + $(this).attr("id") + '/sub-categories', null, function(response) {
						$('#sub-categories li').remove();
						$("#sub-categories").parent("div:first").removeClass("d-none")
						response.forEach(function(item) {
							$('#sub-categories').append('<li class="widget-list-item text-dark" id="' + item.identifier + '">' + item.name + '</li>');
						});
						return false;
					}, function(error) {
						console.log(error);
					});
					
				});
				
				//Fire when clicking sub category item
				$(document).on('click', '#sub-categories li', (function() {
					if($("#editable").val() == 'false'){
						return;
					}
					$(this).addClass("cat-selected").siblings().removeClass("cat-selected");
					checkCategorySelect($(this).attr("id"));
				}));
				
				//Fire when clicking next button...save for new ad item, update for old ad item
				$("#next-btn").click(function() {
					if($("#advert_id").val() > "0") {
						ajaxJsonPut('adverts/' + $("#advert_id").val()+"/category/" + $("#selected-category").val(),null, function(response) {
							window.location.href = '/ilan-ver/ilan-bilgileri/' + $("#advert_id").val();
						}, function(error) {
							showErrorMsg(error);
							return false;
						});
					} else {
						ajaxJsonPost('adverts/','{"category":"' + $("#selected-category").val() + '","status":"'+_NOT_COMPLETED+'"}', function(response) {
							window.location.href = '/ilan-ver/ilan-bilgileri/' + response.identifier;
						}, function(error) {
							showErrorMsg(error);
							return false;
						});
					}
					return false;
				})
			});
	
			//Check category children exist or not
			function checkCategorySelect(value) {
				$("#selected-category").val(value);
				if($.trim($("#selected-category").val()) != '') {
					$("#next-btn-area").removeClass("d-none");
				} else {
					$("#next-btn-area").addClass("d-none");
				}
			}

		</script>
	</div>
</body>
</html>