<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="horse-list">
		<div class="col-sm-12 col-md-12 col-lg-12 text-center"
			 th:if="${#lists.size(horseList)==0}">
			<div class="text-center border-0">
				<p class="card-text font-size-sm text-dark">Sonuç bulunamadı</p>
			</div>
		</div>
		<div class="widget widget-links" th:if="${#lists.size(horseList)>0}">
			<ul class="widget-list pt-1 px-2 py-3" >
				<th:block th:each="horse, horseInd : ${horseList}">
					<li class="widget-list-item cz-filter-item">
						<a th:data-id="${horse.tjkNo}"
						   th:data-text="${horse.race}"
						   class="widget-list-link d-flex justify-content-between align-items-center font-size-xs">
							<span class="cz-filter-item-text" th:inline="text">
								<strong th:text="${horse.name}"></strong>[['(' + ${horse.fatherName} + '-' + ${horse.motherName} + ')']]
							</span>
						</a>
					</li>
				</th:block>

			</ul>
		</div>
	</div>
</body>
</html>