<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="result">
		<!-- Page Content-->
		<div class="container pb-5 mb-sm-4">
			<div class="pt-5">
				<div class="card py-3 mt-sm-3">
					<div class="card-body text-center">
						<h2 class="h4 pb-3">İlan girişiniz tamamlanmıştır.</h2>
						<p class="font-size-sm mb-2">Tebrikler! İlanınız kontrol edilmek üzere bize ulaştı.</p>
						<p class="font-size-sm mb-2">
							Onay sürecinde olan ilanlarınızın takibini <em>İlanlarım » Yayında Olmayan</em> sayfasından yapabilirsiniz.
						</p>
						<p class="font-size-sm">
							İlanınızın numarası : <b th:text="${advertNo}"></b>
						</p>
						<a class="btn btn-secondary mt-3 mr-3" th:href="@{/}"><i class="czi-home mr-2"></i>Anasayfa</a><a class="btn btn-primary mt-3"
							th:href="@{/ilan-ver}"><i class="czi-add mr-2"></i>Yeni İlan Ver</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>