<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="steps" class="steps steps-light pt-2 mb-5">
		<span class="step-item active"
			th:classappend="${#strings.equals(step,'kategori-secim')} ? current : ''"
			th:href="${(advert_id == '' or advert_id == null) ? '/ilan-ver/kategori-secim' : ('/ilan-ver/kategori-secim/'+advert_id)}">
			<div class="step-progress">
				<span class="step-count">1</span>
			</div>
			<div class="step-label">Kategori Seç</div>
		</span><span class="step-item"
			th:classappend="${(#strings.equals(step,'ilan-bilgileri') ? 'current' : '') + (not #strings.equals(step,'kategori-secim') ? ' active' : '')}"
			th:href="${(advert_id == '' or advert_id == null) ? '/ilan-ver/ilan-bilgileri' : ('/ilan-ver/ilan-bilgileri/'+advert_id)}">
			<div class="step-progress">
				<span class="step-count">2</span>
			</div>
			<div class="step-label">İlan Bilgileri</div>
		</span><span class="step-item"
			th:classappend="${(#strings.equals(step,'odeme-yap') ? 'current' : '') + ((not #strings.equals(step,'kategori-secim') and not #strings.equals(step,'ilan-bilgileri'))  ? ' active' : '')}"
			href="/ilan-ver/odeme-yap">
			<div class="step-progress">
				<span class="step-count">3</span>
			</div>
			<div class="step-label">Ödeme Yap</div>
		</span><span class="step-item"
			th:classappend="${(#strings.equals(step,'sonuc') ? 'current' : '') + ((not #strings.equals(step,'kategori-secim') and not #strings.equals(step,'ilan-bilgileri')  and not #strings.equals(step,'odeme-yap'))  ? ' active' : '')}"
			href="/ilan-ver/sonuc">
			<div class="step-progress">
				<span class="step-count">4</span>
			</div>
			<div class="step-label">Sonuç</div>
		</span>
	</div>
</body>
</html>