<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<div th:replace="fragments/meta :: meta"></div>
<link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/png">

<!-- Vendor Styles including: Font Icons, Plugins, etc.-->
<link rel="stylesheet" media="screen" th:href="@{/css/vendor.min.css}">
<!-- Main Theme Styles + Bootstrap-->
<link rel="stylesheet" media="screen" th:href="@{/css/theme.min.css}">

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
<body class="">

	<input type="hidden" id="session_user_id" name="session_user_id"
		th:value="${(userInfo != null and userInfo.identifier != null) ? userInfo.identifier : ''}">

	<div th:replace="fragments/header :: header"></div>

	<div class="container pb-5 mb-2 mb-md-3">
		<div class="row">

			<div th:replace="admin/menubar :: menubar"></div>

			<!-- Content Section -->
			<div layout:fragment="content" style="flex: 1 0 auto;">
				<p>This is filled by the content template.</p>
			</div>

		</div>
	</div>

	<div th:replace="common/form-message-toast :: form-message-toast"></div>

	<div th:replace="fragments/toolbar :: toolbar"></div>

	<div th:replace="fragments/footer :: footer"></div>

	<script th:src="@{/js/vendor.min.js}"></script>
	<script th:src="@{/js/theme.min.js}"></script>
	<script th:src="@{/js/base.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"
		type="text/javascript"></script>
	<script th:src="@{/js/jquery.serializejson.min.js}"></script>
	<script
		src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
</body>
</html>