<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${ogTitle}"></title>
    <meta name="keywords" content="satılık at, satılık atlar, satılık yarış atı, yarış atı ilanları, tay, kısrak, atçılık, koşar durumda ingiliz at, koşar durumda arap at, ingiliz atlar, arap atlar, at pansiyon, damızlık kısrak, gebe kısrak, veteriner, binek at, at yetiştiriciliği"/>
    <meta name="description" content="Satılık at, satılık atlar, satılık yarış atı, yarış atı ilanları, binicilik , atçılık, at hizmetleri ve at hakkında her şey - Türkiye'nin en büyük ilan sitesi."/>
    <meta name="author" content="Hüseyin Kızılbulak | Recep Yılmaz">
    <meta property="og:title" th:content="${ogTitle}"/>
    <meta property="og:type" th:content="${ogType}"/>
    <meta property="og:url" th:content="${ogUrl}"/>
    <meta property="og:image" th:content="${ogImage}"/>
    <meta property="og:site_name" content="haradan.com"/>
    <meta property="og:description"
          content="Satılık at, satılık atlar, satılık yarış atı, yarış atı ilanları, binicilik , atçılık, at hizmetleri ve at hakkında her şey - Türkiye'nin en büyük ilan sitesi."/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-70357408-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-70357408-1');
    </script>
<link rel="shorcut icon" th:href="@{/img/favicon.png}" type="image/png">
<!-- Main Theme Styles + Bootstrap-->
<link rel="stylesheet" media="screen" th:href="@{/css/theme.min.css}">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body class="">

<!-- Messenger Sohbet Eklentisi Code -->
<div id="fb-root"></div>

<!-- Your Sohbet Eklentisi code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
	var chatbox = document.getElementById('fb-customer-chat');
	chatbox.setAttribute("page_id", "422839557927217");
	chatbox.setAttribute("attribution", "biz_inbox");

	window.fbAsyncInit = function() {
		FB.init({
			xfbml            : true,
			version          : 'v12.0'
		});
	};

	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = 'https://connect.facebook.net/tr_TR/sdk/xfbml.customerchat.js';
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
	<header>
		<a onclick="window.history.go(-1)" href="javascript:;"><i
			class="czi-arrow-left"></i></a> <a class="logo py-2" href="/"> <img
			src="/img/logo.png" alt="Haradan" />
		</a>
	</header>
	<div layout:fragment="content" style="flex: 1 0 auto;">
		<p>This is filled by the content template.</p>
	</div>
	<div th:replace="common/form-message-toast :: form-message-toast"></div>

	<script th:src="@{/js/vendor.min.js}"></script>
	<script th:src="@{/js/theme.min.js}"></script>
	<script th:src="@{/js/base.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"
		type="text/javascript"></script>
	<script th:src="@{/js/jquery.serializejson.min.js}"></script>
	<script
		src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
</body>
</html>