<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${ogTitle}"></title>
    <meta name="keywords" content="satılık at, satılık atlar, satılık yarış atı, yarış atı ilanları, tay, kısrak, atçılık, koşar durumda ingiliz at, koşar durumda arap at, ingiliz atlar, arap atlar, at pansiyon, damızlık kısrak, gebe kısrak, veteriner, binek at, at yetiştiriciliği"/>
    <meta name="description" content="Satılık at, satılık atlar, satılık yarış atı, yarış atı ilanları, binicilik , atçılık, at hizmetleri ve at hakkında her şey - Türkiye'nin en büyük ilan sitesi."/>
    <meta name="author" content="Hüseyin Kızılbulak | Recep Yılmaz">
    <meta property="og:title" th:content="${ogTitle}"/>
    <meta property="og:type" th:content="${ogType}"/>
    <meta property="og:url" th:content="${ogUrl}"/>
    <meta property="og:image" th:content="${ogImage}"/>
    <meta property="og:site_name" content="haradan.com"/>
    <meta property="og:description"
          content="Satılık at, satılık atlar, satılık yarış atı, yarış atı ilanları, binicilik , atçılık, at hizmetleri ve at hakkında her şey - Türkiye'nin en büyük ilan sitesi."/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-70357408-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-70357408-1');
    </script>
<link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/png">

<!-- Vendor Styles including: Font Icons, Plugins, etc.-->
<link rel="stylesheet" media="screen" th:href="@{/css/vendor.min.css}">
<!-- Main Theme Styles + Bootstrap-->
<link rel="stylesheet" media="screen" th:href="@{/css/theme.min.css}">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body class="">

	<div layout:fragment="content">
		
	</div>

	<script th:src="@{/js/vendor.min.js}"></script>
	<script th:src="@{/js/theme.min.js}"></script>
	<script th:src="@{/js/base.js}"></script>
</body>
</html>