<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div class="modal-content" th:fragment="payment-detail-modal">

		<div class="modal-header">
			<h5 class="modal-title">İşlem Detayı</h5>
			<button type="button" class="close" data-dismiss="modal"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-sm-12">
					<ul class="list-unstyled font-size-sm">
						<li><span><strong>Create Date:</strong>&nbsp;</span><span
							th:text="${#strings.substring(payment.createdDate, 0, 19)}"></span></li>
						<li><span><strong>Status:</strong>&nbsp;</span><span
							class="badge badge-pill badge-success"
							th:if="${payment.status.name() == 'ACTIVE'}">Başarılı</span> <span
							class="badge badge-pill badge-primary"
							th:if="${payment.status.name() == 'NOT_COMPLETED'}">Tamamlanmadı</span><span
							class="badge badge-pill badge-warning"
							th:if="${payment.status.name() == 'PASSIVE'}">Başarısız</span></li>
						<li><span><strong>Merchant ID:</strong>&nbsp;</span><span
							th:text="${payment.merchantId}"></span></li>
						<li><span><strong>Product ID:</strong>&nbsp;</span><span
							th:text="${payment.productId}"></span></li>
						<li><span><strong>Product Name:</strong>&nbsp;</span><span
							th:text="${payment.productName}"></span></li>
						<li><span><strong>Payment Amount:</strong>&nbsp;</span><span
							th:text="${payment.paymentAmount}"></span></li>
						<li><span><strong>User Name:</strong>&nbsp;</span><span
							th:text="${payment.userName}"></span></li>
						<li><span><strong>User Email:</strong>&nbsp;</span><span
							th:text="${payment.userEmail}"></span></li>
						<li><span><strong>User Adress:</strong>&nbsp;</span><span
							th:text="${payment.userAddress}"></span></li>
						<li><span><strong>User Phone:</strong>&nbsp;</span><span
							th:text="${payment.userPhone}"></span></li>
						<li><span><strong>IP:</strong>&nbsp;</span><span
							th:text="${payment.ip}"></span></li>
						<li><span><strong>Token Request:</strong>&nbsp;</span>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<textarea class="form-control"
											th:text="${payment.tokenRequest}" rows="5"></textarea>
									</div>
								</div>
							</div></li>
						<li><span><strong>Token Response:</strong>&nbsp;</span>
						<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<textarea class="form-control"
											th:text="${payment.tokenResponse}" rows="5"></textarea>
									</div>
								</div>
							</div></li>
						<li><span><strong>Notify Request:</strong>&nbsp;</span>
						<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<textarea class="form-control"
											th:text="${payment.notifyRequest}" rows="5"></textarea>
									</div>
								</div>
							</div></li>
						<li><span><strong>Notify Response:</strong>&nbsp;</span>
						<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<textarea class="form-control"
											th:text="${payment.notifyResponse}" rows="5"></textarea>
									</div>
								</div>
							</div></li>
					</ul>
				</div>
			</div>

			<!-- <div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<input class="form-control" type="text" id="name" name="name"
							placeholder="Başlık" th:value="${banner.name}" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<select class="form-control custom-select" id="type" name="type">
							<option value="0">Türü</option>
							<option value="SLIDER"
								th:selected="${banner.identifier!=null and banner.type.name() == 'SLIDER'}">Slider</option>
							<option value="CORPORATE_ADVERT"
								th:selected="${banner.identifier!=null and banner.type.name() == 'CORPORATE_ADVERT'}">Eküri
								İlanı</option>
						</select>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<input class="form-control" type="date" id="startDate"
							name="startDate" th:value="${banner.startDate}">
					</div>
				</div>
				<div class="col-md-6 form-group">
					<input class="form-control" type="date" id="endDate" name="endDate"
						th:value="${banner.endDate}">
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<input class="form-control" type="text" id="orderId"
							name="orderId" placeholder="Sıra No" th:value="${banner.orderId}" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<input class="form-control" type="text" id="price" name="price"
							placeholder="Tutar" th:value="${banner.price}" />
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<input class="form-control" type="text" id="url" name="url"
							placeholder="Bağlantı Adresi" th:value="${banner.url}" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<select class="form-control custom-select" id="status"
							name="status">
							<option value="0">Statü</option>
							<option value="ACTIVE"
								th:selected="${banner.identifier!=null and banner.status.name() == 'ACTIVE'}">Aktif</option>
							<option value="PASSIVE"
								th:selected="${banner.identifier!=null and banner.status.name() == 'PASSIVE'}">Pasif</option>
							<option value="DELETED"
								th:selected="${banner.identifier!=null and banner.status.name() == 'DELETED'}">Silindi</option>
						</select>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<input class="form-control" type="text" id="description"
							name="description" placeholder="Açıklama"
							th:value="${banner.description}" />
					</div>
				</div>
			</div>
 -->
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary btn-sm"
				data-dismiss="modal">Kapat</button>
		</div>
	</div>
</body>
</html>