<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
</head>
<body>

	<div layout:fragment="content">
		<div class="container pb-5">
			<div class="row pt-3 mt-md-2">
				<section class="col-lg-8">
					<!-- Gallery-->
					<div class="row pb-2">
						<div class="col-sm-12">
							<img
								src="/img/default-ad.png" th:alt="${article.title}"
								th:if="${article.media == null}"><img
								th:src="'/ekuri-ilani' + ${article.media}"
								th:alt="${article.title}" th:if="${article.media != null}">
						</div>
						<section class="col-lg-12 pt-2 pt-lg-4 pb-4 mb-3">
							<h2 class="pt-3 text-center" th:text="${article.title}"></h2>

							<div class="pt-2 px-2 pr-lg-0">
								
							</div>

							
							<div class="pt-2 d-none d-lg-block">
								<h6 class="d-inline-block align-middle font-size-sm my-2 mr-1">Paylaş:</h6>
								<a class="share-btn sb-twitter mr-1 my-2"
									th:href="'https://twitter.com/intent/tweet?url=' + ${#httpServletRequest.requestURL} + '&amp;text=' + ${article.title} + '&amp;via=haradancom'"><i
									class="czi-twitter"></i>Twitter</a><a
									class="share-btn sb-facebook my-2"
									th:href="@{'https://www.facebook.com/sharer/sharer.php?u=' + ${#httpServletRequest.requestURL}}"
									onclick="window.open(this.href, 'Haradan.com','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><i
									class="czi-facebook"></i>Facebook</a>
							</div>
						</section>
					</div>
				</section>
				<aside class="col-lg-4">
					<!-- Sidebar-->
					<div class="cz-sidebar border-left ml-lg-auto" id="blog-sidebar">
						<div class="cz-sidebar-header box-shadow-sm">
							<button class="close ml-auto" type="button"
								data-dismiss="sidebar" aria-label="Close">
								<span
									class="d-inline-block font-size-xs font-weight-normal align-middle">Close
									sidebar</span><span class="d-inline-block align-middle ml-2"
									aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="cz-sidebar-body py-lg-1" data-simplebar
							data-simplebar-auto-hide="true">
							<!-- Categories-->
							<div
								class="widget widget-links mb-grid-gutter pb-grid-gutter border-bottom">
								<h3 class="widget-title">Popüler Kategoriler</h3>
								<ul class="widget-list">
									<li class="widget-list-item"><a
										class="widget-list-link d-flex justify-content-between align-items-center"
										href="/satilik-yaris-ati"><span><i
												class="czi-arrow-right-circle mr-2"></i>Satılık Yarış Atı</span></a></li>
									<li class="widget-list-item"><a
										class="widget-list-link d-flex justify-content-between align-items-center"
										href="/satilik-kisrak"><span><i
												class="czi-arrow-right-circle mr-2"></i>Satılık Kısrak</span></a></li>
									<li class="widget-list-item"><a
										class="widget-list-link d-flex justify-content-between align-items-center"
										href="/satilik-binek-ati"><span><i
												class="czi-arrow-right-circle mr-2"></i>Satılık Binek Atı</span></a></li>
									<li class="widget-list-item"><a
										class="widget-list-link d-flex justify-content-between align-items-center"
										href="/pansiyon-haralar"><span><i
												class="czi-arrow-right-circle mr-2"></i>Pansiyon Haralar</span></a></li>
									<li class="widget-list-item"><a
										class="widget-list-link d-flex justify-content-between align-items-center"
										href="/at-nakliyesi"><span><i
												class="czi-arrow-right-circle mr-2"></i>At Nakiyesi</span></a></li>
								</ul>
							</div>
							<!-- Trending posts-->
							<div class="widget mb-grid-gutter pb-grid-gutter border-bottom">
								<h3 class="widget-title">Özel İlanlar</h3>
								<ul class="widget-list pt-1">
									<li class="widget-list-item"><a
										class="widget-list-link font-weight-medium"
										href="/satilik-at-ilanlari/vitrin-ilanlari">Vitrin
											İlanları</a></li>
									<li class="widget-list-item"><a
										class="widget-list-link font-weight-medium"
										href="/acil-satilik-at-ilanlari">Acil İlanlar</a></li>
									<li class="widget-list-item"><a
										class="widget-list-link font-weight-medium"
										href="/satilik-at-ilanlari/ust-sira-ilanlari">Üst Sırada
											İlanlar</a></li>
									<li class="widget-list-item"><a
										class="widget-list-link font-weight-medium"
										href="/ekuri-ilanlari">Eküri İlanları</a></li>
								</ul>
							</div>
							<!-- Popular tags-->
							<div class="widget mb-grid-gutter">
								<h3 class="widget-title">En Çok Arananlar</h3>
								<a class="btn-tag mr-2 mb-2"
									href="/kosar-durumda-ingiliz-ati?page=0&sort=createdDate&direction=DESC&at-irki=%C4%B0ngiliz&kosar-durumda-mi=Evet">#Koşar
									Durumda İngiliz Atı</a><br /> <a class="btn-tag mr-2 mb-2"
									href="/kosar-durumda-arap-ati?page=0&sort=createdDate&direction=DESC&at-irki=Arap&kosar-durumda-mi=Evet">#Koşar
									Durumda Arap Atı</a><br /> <a class="btn-tag mr-2 mb-2"
									href="/ingiliz-taylar?page=0&sort=createdDate&direction=DESC&at-irki=%C4%B0ngiliz&yas=0,1,1.5,2,3">#İngiliz
									Taylar</a><br /> <a class="btn-tag mr-2 mb-2"
									href="/arap-taylar?page=0&sort=createdDate&direction=DESC&at-irki=Arap&yas=0,1,1.5,2,3">#Arap
									Taylar</a><br /> <a class="btn-tag mr-2 mb-2"
									href="/ingiliz-kisraklar?page=0&sort=createdDate&direction=DESC&at-irki=%C4%B0ngiliz">#İngiliz
									Kısraklar</a><br /> <a class="btn-tag mr-2 mb-2"
									href="/arap-kisraklar?page=0&sort=createdDate&direction=DESC&at-irki=Arap">#Arap
									Kısraklar</a><br /> <a class="btn-tag mr-2 mb-2"
									href="/idmanda-atlar?page=0&sort=createdDate&direction=DESC&idmanda-mi=Evet">#İdmanda
									Olanlar</a><br /> <a class="btn-tag mr-2 mb-2"
									href="/kiralik-atlar?page=0&sort=createdDate&direction=DESC&kiralik-mi=Evet">#Kiralık
									Atlar</a>
							</div>
						</div>
					</div>
				</aside>
			</div>
		</div>
<!-- 		
		<div th:replace="common/share-ad-modal :: share-ad-modal"></div>

		<div th:replace="common/contact-info-modal :: contact-info-modal"></div> -->
	</div>
</body>
</html>