<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/user-layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<!-- Content  -->
	<section layout:fragment="content" class="col-lg-8">
		<div
			class="d-sm-flex flex-wrap justify-content-between align-items-center pt-3 mb-3 border-bottom d-none d-sm-none d-md-none d-lg-block">
			<h2 class="h3 py-2 mr-2 text-center text-sm-left">
				Merhaba, <span
					th:text="${(userInfo != null and userInfo.identifier != null) ? (#strings.toUpperCase(userInfo.firstName) + ' ' + #strings.toUpperCase(userInfo.lastName)) : ''}"></span>
			</h2>
		</div>

		<div class="row" th:if="${userAdCount == 0}">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="alert alert-warning text-center border-0">
					<h5 class="card-title">Haradan.com'u kullanmaya başla!</h5>
					<p class="card-text font-size-sm text-dark">Henüz
						haradan.com’da hiç ilanın yok. Hemen ilan vererek senin için
						sunduğumuz fırsatlardan yararlanabilirsin.</p>
					<a href="/ilan-ver" class="btn btn-primary btn-sm btn-shadow">
						Ücretsiz İlan Ver </a>
				</div>
			</div>
		</div>

		<div id="not-completed-ads" class="pt-2"
			th:if="${notCompletedAdList.data != null and notCompletedAdList.data.size() > 0}">
			<div class="alert alert-warning fade show" role="alert">
				<span class="text-dark font-weight-normal font-size-sm">İlan girişi yaptığınız ancak henüz
					tamamlamadığınız <span class="font-weight-medium">ilanlarınız</span>
					var! Hemen bilgilerini girip, ilanınızın binlerce kişiye ulaşmasını
					sağlayabilirsiniz.
				</span>
			</div>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="font-weight-bold">İlan No</th>
							<th class="font-weight-bold">Kategori</th>
							<th class="font-weight-bold">İşlemler</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="advert, advertInd : ${notCompletedAdList.data}">
							<tr>
								<td class="py-3 align-middle" th:text="${advert.advertNo}"></td>
								<td class="py-3 align-middle" th:text="${advert.category.name}"></td>
								<td class="py-3 align-middle"><a
									class="nav-link-style mr-2"
									th:href="'/ilan-ver/ilan-bilgileri/' + ${advert.identifier}"
									data-toggle="tooltip" title="Düzenle"><i class="czi-edit"></i></a><a
									th:data-id="${advert.identifier}" data-type="DELETED"
									data-text="İlanınız silinecektir. Onaylıyor musunuz?" href="#"
									class="mdl-action nav-link-style text-danger"
									th:if="${advert.status.name() != 'DELETED'}" title="Sil"> <i
										class="czi-trash"></i>
								</a></td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
		</div>

		<div id="waiting-payment-ads" class="pt-2"
			th:if="${activeAndWaitingAdList.data != null and activeAndWaitingAdList.data.size() > 0}">
			<div class="alert alert-warning fade show" role="alert">
				<span class="text-dark">Öne çıkarma talebinde bulunduğunuz
					ancak henüz ödemesi yapmadığınız ilanlarınız için şimdi <b>ödeme
						yaparak</b> ilanlarınızı daha fazla kişiye ulaştırabilirsiniz.
				</span>
			</div>
			<div class="row">
				<th:block
					th:each="advert, advertInd : ${activeAndWaitingAdList.data}">
					<div class="col-sm-12 py-2">
						<!-- Card -->
						<div class="card" style="border-radius: 0">
							<div class="card-body">
								<h5 class="card-title">
									<a class="text-dark" th:href="@{'/'+${advert.url}}"
										th:text="'#' + ${advert.advertNo} + ' - ' +  ${advert.title}"></a>
								</h5>
							</div>
							<ul class="list-group list-group-flush" th:with="totalAmnt = 0">
								<li
									class="list-group-item d-flex align-items-center justify-content-between"
									th:each="doping: ${advert.dopings}"
									th:if="${doping.status.name() == 'WAITING_APPROVAL'}"><span
									class="nav-link-style" th:text="${doping.name}"></span><span
									class="font-size-md" th:inline="text">[[${doping.price}]]
										TL</span></li>
								<li
									class="list-group-item d-flex align-items-center justify-content-between" th:if="${advert.charged == false and advert.category.price>0}"><span
									class="nav-link-style">İlan Ücreti</span><span
									class="font-size-md" th:inline="text">[[${advert.category.price}]]
										TL</span></li>
								<li class="list-group-item border-0 text-right"><span
									class="text-right" th:inline="text">Toplam :
										[[${#aggregates.sum(advert.dopings.?[status.name()=='WAITING_APPROVAL'].![price]) + ((advert.charged == false and advert.category.price>0) ? advert.category.price : 0)}]]
										TL</span></li>
							</ul>
							<div class="card-body text-right">
								<a
									th:href="'ilan-ver/odeme-yap/' + ${advert.identifier}"
									class="btn btn-sm btn-primary font-weight-bolder">Ödeme Yap</a>
							</div>
						</div>
					</div>
				</th:block>
			</div>
		</div>
	</section>
</body>
</html>