<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/user-layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<!-- Content  -->
	<section layout:fragment="content" class="col-lg-8 fav-ads">
		<div
			class="d-sm-flex flex-wrap justify-content-between align-items-center pt-3 mb-3 border-bottom">
			<h2 class="h3 py-2 mr-2 text-center text-sm-left">Favori
				İlanlarım</h2>
		</div>
		<th:block th:each="advert, advertInd : ${adList.data}">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<div
						class="d-sm-flex justify-content-between mt-lg-3 mb-3 pb-3 pb-sm-3 border-bottom">
						<div
							class="media media-ie-fix d-block d-sm-flex text-center text-sm-left">
							<a class="d-inline-block mx-auto mr-sm-4 ad-img"
								th:href="@{'/'+${advert.url}}"><img
								th:src="${advert.imageUrl}" th:alt="${advert.title}"
								th:if="${advert.imageUrl != null}"><img
								src="/img/default-ad.png" th:alt="${advert.title}"
								th:if="${advert.imageUrl == null}"></a>
							<div class="media-body pt-2">
								<h3 class="product-title font-size-base mb-2">
									<a th:href="@{'/'+${advert.url}}" th:text="${advert.title}"></a>
								</h3>
								<div class="font-size-sm">
									<span class="text-muted mr-2">İlan Tarihi:</span>
									<th:block
										th:text="${#strings.substring(advert.createDate,8,10) +'.'+ #strings.substring(advert.createDate,5,7) +'.'+ #strings.substring(advert.createDate,0,4)}"></th:block>
								</div>
								<div class="font-size-sm">
									<span class="text-muted mr-2">Kategori:</span>
									<th:block th:text="${advert.category.name}"></th:block>
								</div>
								<div class="font-size-sm" th:if="${advert.status != null}">
									<span class="text-muted mr-2">Durumu:</span> <span
										class="badge badge-pill badge-success"
										th:if="${advert.status.name() == 'ACTIVE'}">Aktif</span> <span
										class="badge badge-pill badge-warning"
										th:if="${advert.status.name() == 'WAITING_APPROVAL'}">Onay
										Bekliyor</span> <span class="badge badge-pill badge-danger"
										th:if="${advert.status.name() == 'PASSIVE'}">Yayından
										Kaldırıldı</span> <span class="badge badge-pill badge-accent"
										th:if="${advert.status.name() == 'NOT_COMPLETED'}">Tamamlanmayı
										Bekliyor</span> <span class="badge badge-pill badge-secondary"
										th:if="${advert.status.name() == 'SOLD'}">Satıldı</span> <span
										class="badge badge-pill badge-primary"
										th:if="${advert.status.name() == 'DELETED'}">Silindi</span>
								</div>
							</div>
						</div>
						<div class="pt-2 pl-sm-3 mx-auto mx-sm-0 text-center">
							<button th:data-id="${advert.identifier}"
								data-ref="favori-ilanlarim"
								class="btn btn-outline-danger btn-sm remove-from-favourites"
								type="button">
								<i class="czi-trash mr-2"></i>Favorilerimden Kaldır
							</button>
						</div>
					</div>
				</div>
			</div>
		</th:block>

		<div class="row"
			th:if="${adList.data == null or adList.data.size() == 0}">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="alert alert-warning text-center border-0">
					<h5 class="card-title text-dark">Favori ilanınız
						bulunmamaktadır.</h5>
					<p class="card-text font-size-sm  text-dark">İlgilendiğiniz
						ilanları favori listenize ekleyip onları takip edebilirsiniz.</p>
					<a href="/satilik-atlar" class="btn btn-primary btn-sm btn-shadow">
						İlanlara Gözat </a>
				</div>
			</div>
		</div>

		<!-- favourite operations -->
		<div th:replace="common/favourite-operations :: favourite-operations"></div>
	</section>
</body>
</html>