<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>

	<th:block th:fragment="menubar">
		<aside class="col-lg-3 pt-4" th:if="${!isAdmin}">
			<div class="rounded-lg box-shadow-lg px-0 pb-0 mb-5 mb-lg-0"
				th:classappend="${(page!=null and page=='panelim') ? '' : 'd-none d-lg-block'}">
				<div class="px-4 py-4 d-lg-none">
					<div class="media align-items-center">
						<div class="media-body">
							<h3 class="font-size-base mb-2"
								th:text="${(userInfo != null and userInfo.identifier != null) ? ('Merhaba, ' + #strings.toUpperCase(userInfo.firstName) + ' ' + #strings.toUpperCase(userInfo.lastName)) : ''}"></h3>
							<span class="text-accent font-size-sm mb-2"
								th:if="${notCompletedAdList != null and notCompletedAdList.data != null and notCompletedAdList.data.size() > 0}"><i
								class="czi-bell mr-2"></i><a class="text-accent"
								href="#not-completed-ads"
								th:text="${notCompletedAdList.data.size()} + ' ilanınız
								tamamlanmayı bekliyor.'"></a><br /></span>
							<span class="text-warning font-size-sm"
								th:if="${activeAndWaitingAdList != null and  activeAndWaitingAdList.data != null and activeAndWaitingAdList.data.size() > 0}"><i
								class="czi-card mr-2"></i><a class="text-warning"
								href="#waiting-payment-ads"
								th:text="${activeAndWaitingAdList.data.size()} + ' ilanınız
								ödeme bekliyor.'"></a></span>
							<span class="text-accent font-size-sm"
								th:if="${userAdCount == 0}"><i class="czi-announcement mr-2"></i>Henüz
								haradan.com'da aktif ilanın yok. Hemen <span class="font-weight-bold">ücretsiz</span>
								ilan vermek için <a href="/ilan-ver" class="text-accent">tıklayınız</a>
							</span>
						</div>
					</div>
				</div>
				<div class="bg-secondary px-4 py-3 border-bottom">
					<h3 class="font-size-sm mb-0 text-muted">
						<a class="nav-link-style d-flex align-items-center font-weight-bold"
							href="/panelim"> Panelim</a>
					</h3>
				</div>
				<div class="bg-secondary px-4 py-3 border-bottom">
					<h3 class="font-size-sm mb-0 text-muted">
						<a class="nav-link-style d-flex align-items-center font-weight-bold" href="#">
							İlanlarım </a>
					</h3>
				</div>
				<ul class="list-unstyled mb-0">
					<li class="border-bottom mb-0"><a
						class="nav-link-style d-flex align-items-center px-4 py-3"
						href="/ilanlarim?status=ACTIVE"> Yayında Olan </a></li>
					<li class="border-bottom mb-0"><a
						class="nav-link-style d-flex align-items-center px-4 py-3"
						href="/ilanlarim?status=PASSIVE"> Yayında Olmayan </a></li>
					<li class="border-bottom mb-0"><a
						class="nav-link-style d-flex align-items-center px-4 py-3"
						href="/favori-ilanlarim"> Favorilerim </a></li>
				</ul>
				<div class="bg-secondary px-4 py-3 border-bottom">
					<h3 class="font-size-sm mb-0 text-muted">
						<a class="nav-link-style d-flex align-items-center font-weight-bold" href="#">
							Profil & Ayarlar </a>
					</h3>
				</div>
				<ul class="list-unstyled mb-0">
					<li class="border-bottom mb-0"><a
						class="nav-link-style d-flex align-items-center px-4 py-3"
						href="/uyelik-bilgilerim"> Üyelik Bilgilerim </a></li>
					<li class="border-bottom mb-0"
						th:if="${userInfo != null and userInfo.channel.name() != 'GOOGLE' and userInfo.channel.name() != 'FACEBOOK'}"><a
						class="nav-link-style d-flex align-items-center px-4 py-3"
						href="/sifre-degisikligi"> Şifre Değişikliği </a></li>
					<li class="border-bottom mb-0"><a
						class="nav-link-style d-flex align-items-center px-4 py-3"
						href="/bilgilendirme-ayarlari"> Bilgilendirme Ayarları </a></li>
					<li class="mb-0"><a
						class="nav-link-style d-flex align-items-center px-4 py-3"
						href="/cikis-yap"> Çıkış </a></li>
				</ul>
			</div>
			<div class="rounded-lg box-shadow-lg py-2 mb-2 mb-lg-0"
				th:classappend="${(page==null or page!='panelim') ? 'd-lg-none' : 'd-none'}">
				<div class="px-2">
					<a href="/panelim"><span class="text-dark font-size-sm"><i
							class="czi-arrow-left mr-2"></i>Panelim</span></a>
				</div>
			</div>
		</aside>

		<aside class="col-lg-3 pt-4" th:if="${isAdmin}">
			<div class="rounded-lg box-shadow-lg px-0 pb-0 mb-5 mb-lg-0"
				th:classappend="${(page!=null and page=='panelim') ? '' : 'd-none d-lg-block'}">
				<div class="px-4 py-4 d-lg-none">
					<div class="media align-items-center">
						<div class="media-body">
							<h3 class="font-size-base mb-0"
								th:text="${(session !=null and userInfo !=null ) ? (#strings.toUpperCase(userInfo.firstName) + ' ' + #strings.toUpperCase(userInfo.lastName) + ' (Yönetici) ') : ''}"></h3>
							<span class="text-warning font-size-sm"><i
								class="czi-bell"></i>1 onay bekleyen ilan var.</span>
						</div>
					</div>
				</div>
				<div class="bg-secondary px-4 py-3 border-bottom">
					<h3 class="font-size-sm mb-0 text-muted">
						<a class="nav-link-style d-flex align-items-center"
							href="/admin/panelim"> Panelim </a>
					</h3>
				</div>
				<div class="bg-secondary px-4 py-3 border-bottom">
					<h3 class="font-size-sm mb-0 text-muted">
						<a class="nav-link-style d-flex align-items-center" href="#">
							Sayfalar </a>
					</h3>
				</div>
				<ul class="list-unstyled mb-0">
					<li class="border-bottom mb-0"><a
						class="nav-link-style d-flex align-items-center px-4 py-3"
						href="/admin/ilanlar?status=WAITING_APPROVAL"> İlanlar </a></li>
					<li class="border-bottom mb-0"><a
						class="nav-link-style d-flex align-items-center px-4 py-3"
						href="/admin/kullanicilar"> Kullanıcılar </a></li>
					<li class="border-bottom mb-0"><a
						class="nav-link-style d-flex align-items-center px-4 py-3"
						href="/admin/bannerlar?status=ACTIVE"> Bannerlar </a></li>
				</ul>
				<div class="bg-secondary px-4 py-3 border-bottom">
					<h3 class="font-size-sm mb-0 text-muted">
						<a class="nav-link-style d-flex align-items-center" href="#">
							Profil & Ayarlar </a>
					</h3>
				</div>
				<ul class="list-unstyled mb-0">
					<li class="border-bottom mb-0"><a
						class="nav-link-style d-flex align-items-center px-4 py-3"
						href="/uyelik-bilgilerim"> Üyelik Bilgilerim </a></li>
					<li class="border-bottom mb-0"><a
						class="nav-link-style d-flex align-items-center px-4 py-3"
						href="/sifre-degisikligi"> Şifre Değişikliği </a></li>
					<li class="border-bottom mb-0"><a
						class="nav-link-style d-flex align-items-center px-4 py-3"
						href="/bilgilendirme-ayarlari"> Bilgilendirme Ayarları </a></li>
					<li class="mb-0"><a
						class="nav-link-style d-flex align-items-center px-4 py-3"
						href="/cikis-yap"> Çıkış </a></li>
				</ul>
			</div>
			<div class="rounded-lg box-shadow-lg py-2 mb-2 mb-lg-0"
				th:classappend="${(page==null or page!='panelim') ? 'd-lg-none' : 'd-none'}">
				<div class="px-2">
					<a href="/admin/panelim"><span class="text-dark font-size-sm"><i
							class="czi-arrow-left mr-2"></i>Panelim</span></a>
				</div>
			</div>
		</aside>
	</th:block>
</body>
</html>