<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/user-layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<!-- Content  -->
	<section layout:fragment="content" class="col-lg-8 my-ads">
		<div
			class="d-sm-flex flex-wrap justify-content-between align-items-center pt-3 mb-3 border-bottom">
			<h2 class="h3 py-2 mr-2 text-center text-sm-left"
				th:if="${status.name() == 'ACTIVE'}">Yayında Olan İlanlarım</h2>
			<h2 class="h3 py-2 mr-2 text-center text-sm-left"
				th:if="${status.name() != 'ACTIVE'}">Yayında Olmayan İlanlarım</h2>
		</div>
		<th:block th:each="advert, advertInd : ${adList.data}">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<div
						class="d-sm-flex justify-content-between mt-lg-3 mb-3 pb-3 pb-sm-3 border-bottom">
						<div
							class="media media-ie-fix d-block d-sm-flex text-center text-sm-left" th:with="url = ${advert.status.name() == 'NOT_COMPLETED' ? '#' : ('/' + advert.url) }">
							<a class="d-inline-block mx-auto mr-sm-4 ad-img"
								th:href="@{${url}}"><img
								th:src="${advert.imageUrl}" th:alt="${advert.title}"
								th:if="${advert.imageUrl != null}"><img
								src="/img/default-ad.png" th:alt="${advert.title}"
								th:if="${advert.imageUrl == null}"></a>
							<div class="media-body pt-2">
								<h3 class="product-title font-size-base mb-2">
									<a th:href="@{${url}}" th:text="${advert.title}"></a>
								</h3>
								<div class="font-size-sm">
									<span class="text-muted mr-2">İlan Tarihi:</span>
									<th:block
										th:text="${#strings.substring(advert.createDate,8,10) +'.'+ #strings.substring(advert.createDate,5,7) +'.'+ #strings.substring(advert.createDate,0,4)}"></th:block>
								</div>
								<div class="font-size-sm">
									<span class="text-muted mr-2">Kategori:</span>
									<th:block th:text="${advert.category.name}"></th:block>
								</div>
								<div class="font-size-sm"
									th:if="${advert.status != null and advert.status.name() != 'ACTIVE'}">
									<span class="text-muted mr-2">Durumu:</span> <span
										class="badge badge-pill badge-warning"
										th:if="${advert.status.name() == 'WAITING_APPROVAL'}">Onay
										Bekliyor</span> <span class="badge badge-pill badge-info"
										th:if="${advert.status.name() == 'PASSIVE'}">Yayından
										Kaldırıldı</span> <span class="badge badge-pill badge-accent"
										th:if="${advert.status.name() == 'NOT_COMPLETED'}">Tamamlanmayı
										Bekliyor</span> <span class="badge badge-pill badge-success"
										th:if="${advert.status.name() == 'SOLD'}">Satıldı</span> <span
										class="badge badge-pill badge-danger"
										th:if="${advert.status.name() == 'DELETED'}">Silindi</span> <span
										class="badge badge-pill badge-primary"
										th:if="${advert.status.name() == 'REJECTED'}">Reddedildi</span>
								</div>
							</div>
						</div>
						<div class="pt-2 pl-sm-3 mx-auto mx-sm-0 text-center"
							th:if="${advert.status != null}">
							<div class="btn-group dropleft">
								<button type="button"
									class="btn btn-outline-secondary btn-sm dropdown-toggle"
									data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">İşlemler</button>

								<div class="dropdown-menu">
									<a th:href="'/ilan-ver/ilan-bilgileri/' + ${advert.identifier}"
										class="dropdown-item mr-2"
										th:if="${advert.status.name() != 'DELETED' and advert.status.name() != 'SOLD'}"><i
										class="czi-edit text-info mr-2"></i>Düzenle</a> <a
										th:data-id="${advert.identifier}" data-type="DELETED"
										data-text="İlanınız silinecektir. Onaylıyor musunuz?"
										class="mdl-action dropdown-item mr-2 cp"
										th:if="${advert.status.name() != 'DELETED' and advert.status.name() != 'REJECTED'}"><i
										class="czi-trash text-danger mr-2"></i>Sil</a> <a
										th:data-id="${advert.identifier}" data-type="PASSIVE"
										data-text="İlanınız yayından kaldırılacaktır. Onaylıyor musunuz?"
										class="mdl-action dropdown-item mr-2 cp"
										th:if="${advert.status.name() == 'ACTIVE'}"><i
										class="czi-remove-document text-dark mr-2"></i>Yayından Kaldır</a>
									<a th:data-id="${advert.identifier}" data-type="ACTIVE"
										data-text="İlanınız tekrar yayına alınacaktır. Onaylıyor musunuz?"
										class="mdl-action dropdown-item mr-2 cp"
										th:if="${advert.status.name() == 'PASSIVE' or advert.status.name() == 'SOLD'}"><i
										class="czi-check text-success mr-2"></i>İlanı Yayınla</a> <a
										th:data-id="${advert.identifier}" data-type="SOLD"
										data-text="İlanınız SATILDI olarak güncellenecektir. Onaylıyor musunuz?"
										class="mdl-action dropdown-item mr-2 cp"
										th:if="${advert.status.name() == 'ACTIVE'}"><i
										class="czi-check text-success mr-2"></i>Satıldı</a> <a
										th:href="'/ilan-ver/ilan-bilgileri/' + ${advert.identifier} + '#dopings'"
										class="dropdown-item mr-2"
										th:if="${advert.status.name() == 'ACTIVE' or advert.status.name() == 'WAITING_APPROVAL'}"><i
										class="czi-lightning text-warning mr-2"></i>İlanı Öne Çıkar</a> <a
										th:id="${advert.identifier}" th:data-text="${advert.status}"
										class="dropdown-item btn-ad-dopings mr-2 cp"
										th:if="${advert.status.name() != 'NOT_COMPLETED'}"><i
										class="czi-view-list text-primary mr-2"></i>İlan Dopingleri</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</th:block>

		<div class="row"
			th:if="${adList.data == null or adList.data.size() == 0}">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="alert alert-warning text-center border-0">
					<h5 class="card-title">
						<th:block th:if="${status.name() == 'ACTIVE'}">Aktif </th:block>
						İlanınız bulunmamaktadır.
					</h5>
					<p class="card-text font-size-sm text-dark">Hemen ilan
						vererek, ilanınızın binlerce kişiye ulaşmasını sağlayın!</p>
					<a href="/ilan-ver" class="btn btn-primary btn-sm btn-shadow"> Ücretsiz İlan Ver </a>
				</div>
			</div>
		</div>

		<div class="modal fade" id="mdl-ad-dopings" tabindex="-1"
			role="dialog">
			<div
				class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
				role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">İlan Dopingleri</h4>
						<button class="close" type="button" data-dismiss="modal"
							aria-label="Kapat">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body font-size-sm rounded-lg box-shadow-lg"
						id="payment-dopings">

						<div class="row justify-content-center py-3" id="no-doping-data">
							<div class="col-md-12 col-sm-12 col-lg-12">
								<div class="alert alert-warning text-center border-0">
									<h5 class="card-title text-dark">İlanınızı henüz öne
										çıkarmadınız.</h5>
									<p class="card-text font-size-sm text-dark">
										İlanınızın daha çok kişiye ulaşması için hemen öne çıkarın.
										İlanınızı öne çıkarmak için <a id="doping-link" href="#">tıklayınız.</a>
									</p>
								</div>
							</div>
						</div>

						<div class="widget bg-secondary px-4 py-4 mb-2"
							id="active-dopings">
							<h2 class="widget-title">Aktif Dopingler</h2>
							<div id="active-doping-items"></div>
						</div>

						<div class="widget pt-3 mb-2" id="waiting-dopings">
							<h2 class="widget-title">Ödeme Bekleyen Dopingler</h2>
							<div id="waiting-doping-items"></div>
							<div
								class="d-sm-flex justify-content-between mt-4 mb-4 pb-3 pb-sm-2">
								<div
									class="media media-ie-fix d-block d-sm-flex text-center text-sm-left">
									<h3 id="total-price"
										class="d-inline-block mx-auto mr-sm-4 font-weight-normal text-center">

									</h3>

								</div>
								<div class="pl-sm-3 mx-auto mx-sm-0 text-center">
									<a href="#" id="paymentBtn"
										class="btn btn-primary btn-sm text-center">Ödeme Yap</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div th:replace="common/ad-action-modal :: ad-action-modal"></div>

		<script type="text/javascript">
			$(document).ready(function() {
				$('.btn-ad-dopings').click(function() {
					var advertId = $(this).attr('id');
					var status = $(this).attr("data-text");
					ajaxJsonGet('adverts/' + advertId + '/doping',null, function(response) {
						$('#payment-dopings').find('#waiting-dopings').find('#waiting-doping-items').empty();
						$('#payment-dopings').find('#active-dopings').find('#active-doping-items').empty();
						$('#payment-dopings').find('#waiting-dopings').addClass('d-none');
						$('#payment-dopings').find('#active-dopings').addClass('d-none');
						var totalWaitingPaymentAmount = 0;
						var dopingCount = 0;
						response.forEach(function(item) {
							if(item.status == 'WAITING_APPROVAL') {
								$('#payment-dopings').find('#waiting-dopings').removeClass('d-none');
								totalWaitingPaymentAmount += parseFloat(item.price);
								$('#payment-dopings').find('#waiting-dopings').find('#waiting-doping-items').append('<div class="media align-items-center pt-2 pb-2 border-bottom">' + '<div class="media-body">' + '<h6 class="widget-product-title">' + '<span class="bold">' + item.name + '</span>' + '</h6>' + '<div class="widget-product-meta">' + '<span class="text-accent mr-2">' + item.price.toFixed(2) + ' TL</span><span class="text-muted">( 30 günlük )</span>' + '</div>' + '</div>' + '</div>');
								dopingCount++;
							} else if(item.status == 'ACTIVE') {
								$('#payment-dopings').find('#active-dopings').removeClass('d-none');
								$('#payment-dopings').find('#active-dopings').find("#active-doping-items").append('<p class="font-size-sm">' + '<i class="alert-icon text-success czi-check-circle mr-2"></i>' + item.name + '</p>');
								dopingCount++;
							}
						});
						if(totalWaitingPaymentAmount > 0 && (status == 'ACTIVE' || status == 'WAITING_APPROVAL')) {
							$('#payment-dopings').find('#waiting-dopings').removeClass('d-none');
							$('#payment-dopings').find('#waiting-dopings').find('#paymentBtn').attr('href', 'ilan-ver/odeme-yap/' + advertId);
							$('#payment-dopings').find('#waiting-dopings').find('#total-price').text(totalWaitingPaymentAmount.toFixed(2) + ' TL');
						}else{
							$('#payment-dopings').find('#waiting-dopings').addClass('d-none');
						}
						if(dopingCount == 0 && (status == 'ACTIVE' || status == 'WAITING_APPROVAL')) {
							$('#payment-dopings').find('#no-doping-data').removeClass('d-none');
							$('#payment-dopings').find('#no-doping-data').find('#doping-link').attr('href', 'ilan-ver/ilan-bilgileri/' + advertId + '#dopings');
						} else {
							$('#payment-dopings').find('#no-doping-data').addClass('d-none');
							$('#payment-dopings').find('#no-doping-data').find('#doping-link').attr('href', '#');
						}
						$('#mdl-ad-dopings').modal('show');
					}, function(error) {
						showErrorMsg(error);
					});
					return false;
				});
			});
		</script>
	</section>
</body>
</html>