<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="header">
		<header class="bg-light"
			style="box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1)">
			<div id="header-nav" class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<a class="navbar-brand d-none d-sm-block mr-3 flex-shrink-0"
						href="/" style="min-width: 7rem"> <img width="142"
						src="/img/logo.png" alt="Haradan" />
					</a> <a class="navbar-brand d-sm-none mr-2" id="mobilLogo" href="/"
						style="min-width: 4.625rem"> <img width="151"
						src="/img/logo.png" alt="Haradan" />
					</a>

					<div class="input-group-overlay d-none d-lg-block mx-4">
						<input
								class="form-control rounded-end general-search-input"
								type="text" id="searchText" name="searchText"
								placeholder="İlan no, At adı, Anne adı, Baba adı veya Kısrak baba adı yazınız..." />
						<div class="input-group-prepend-overlay">
							<span class="input-group-text"> <i class="czi-search"></i>
							</span>
						</div>
					</div>

					<div
						class="navbar-toolbar d-flex flex-shrink-0 align-items-center ml-xl-2">
						<a id="mobilLoginIcon" class="navbar-tool d-lg-none"
							href="/panelim"><div class="navbar-tool-icon-box">
								<i class="navbar-tool-icon czi-user"></i>
							</div>
						</a> <a class="navbar-tool d-flex d-lg-none searchBoxBtn" href="#"
							data-toggle="collapse" role="button" aria-expanded="false"
							aria-controls="searchBox"
							th:if="${not(pageName != null and (pageName == 'ad-detail' or pageName == 'corporate-ad-detail'))}">
							<span class="navbar-tool-tooltip">Ara</span>
							<div class="navbar-tool-icon-box">
								<i class="navbar-tool-icon czi-search"></i>
							</div>
						</a> <a th:data-id="${advertDetail.identifier}"
							th:data-ref="${advertDetail.url}"
							class="navbar-tool d-flex d-lg-none add-to-favourites"
							data-toggle="tooltip" data-placement="left"
							title="Favorilere Ekle"
							th:if="${pageName != null and pageName == 'ad-detail'}"> <span
							class="navbar-tool-tooltip">Favorilerine Ekle</span>
							<div class="navbar-tool-icon-box">
								<i class="navbar-tool-icon czi-star-filled text-danger"></i>
							</div>
						</a> <a class="navbar-tool d-flex d-lg-none" href="#"
							data-toggle="modal" data-target="#mdlShareAd"
							th:if="${pageName != null and (pageName == 'ad-detail' or pageName == 'corporate-ad-detail')}"> <span
							class="navbar-tool-tooltip">Paylaş</span>
							<div class="navbar-tool-icon-box">
								<i class="navbar-tool-icon czi-share-alt"></i>
							</div>
						</a> <a class="navbar-tool ml-1 ml-lg-0 mr-n1 mr-lg-2"
							href="/giris-yap"
							th:if="${userInfo == null or userInfo.identifier == null}">
						<div class="navbar-tool-icon-box d-none d-lg-block"><i class="navbar-tool-icon czi-user"></i></div>
							<div class="navbar-tool-text ml-n3 font-weight-bolder">Giriş yap</div>
						</a>
						<div class="d-none d-lg-block"
							th:if="${userInfo == null or userInfo.identifier == null}">/</div>
						<a class="navbar-tool ml-1 ml-lg-2 mr-n1 mr-lg-2" href="/uye-ol"
							th:if="${userInfo == null or userInfo.identifier == null}">
							<div class="navbar-tool-text ml-n3 font-weight-bolder">Üye ol</div>
						</a> <a class="navbar-tool d-none d-lg-flex" href="/favori-ilanlarim"
							th:if="${userInfo != null and userInfo.identifier != null and !isAdmin}">
							<div class="navbar-tool-icon-box">
								<i class="navbar-tool-icon czi-heart"></i>
							</div>
						</a>
						<div class="navbar-toolbar align-items-center d-none d-lg-block"
							th:if="${userInfo != null and userInfo.identifier != null and !isAdmin}">
							<div class="navbar-tool dropdown ml-2">

								<a class="navbar-tool-icon-box border dropdown-toggle"
									href="/panelim"
									th:text="${#strings.toUpperCase(#strings.substring(userInfo.firstName,0,1)) +''+ #strings.toUpperCase(#strings.substring(userInfo.lastName,0,1))}"></a><a
									class="navbar-tool-text ml-n1" href="#"
									th:text="${#strings.toUpperCase(userInfo.firstName) + ' ' + #strings.toUpperCase(userInfo.lastName)}"></a>
								<div class="dropdown-menu dropdown-menu-right"
									style="min-width: 14rem;">
									<h6 class="dropdown-header font-weight-bold">
										<a href="/panelim">Panelim</a>
									</h6>
									<h6 class="dropdown-header font-weight-bold">İlanlarım</h6>
									<a class="dropdown-item d-flex align-items-center"
										href="/ilanlarim?status=ACTIVE">Yayında Olan</a><a
										class="dropdown-item d-flex align-items-center"
										href="/ilanlarim?status=PASSIVE">Yayında Olmayan</a><a
										class="dropdown-item d-flex align-items-center"
										href="/favori-ilanlarim">Favorilerim</a>
									<div class="dropdown-divider"></div>
									<h6 class="dropdown-header font-weight-bold">Profil & Ayarlar</h6>
									<a class="dropdown-item d-flex align-items-center"
										href="/uyelik-bilgilerim">Üyelik Bilgilerim</a><a
										class="dropdown-item d-flex align-items-center"
										href="/sifre-degisikligi"
										th:if="${userInfo != null and userInfo.channel.name() != 'GOOGLE' and userInfo.channel.name() != 'FACEBOOK'}">Şifre
										Değişikliği</a> <a class="dropdown-item d-flex align-items-center"
										href="/bilgilendirme-ayarlari">Bilgilendirme Ayarları</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item d-flex align-items-center"
										href="/cikis-yap"><i class="czi-sign-out opacity-60 mr-2"></i>Çıkış
										Yap</a>
								</div>
							</div>
						</div>

						<div class="navbar-toolbar align-items-center d-none d-lg-block"
							th:if="${userInfo != null and userInfo.identifier != null and isAdmin}">
							<div class="navbar-tool dropdown ml-2">

								<a class="navbar-tool-icon-box border dropdown-toggle"
									href="/panelim"
									th:text="${#strings.toUpperCase(#strings.substring(userInfo.firstName,0,1)) +''+ #strings.toUpperCase(#strings.substring(userInfo.lastName,0,1))}"></a><a
									class="navbar-tool-text ml-n1" href="#"
									th:text="${#strings.toUpperCase(userInfo.firstName) + ' ' + #strings.toUpperCase(userInfo.lastName)} + ' (Yönetici) '"></a>
								<div class="dropdown-menu dropdown-menu-right"
									style="min-width: 14rem;">
									<h6 class="dropdown-header font-weight-bold">
										<a href="/admin/panelim">Panelim</a>
									</h6>
									<h6 class="dropdown-header font-weight-bold">Sayfalar</h6>
									<a class="dropdown-item d-flex align-items-center"
										href="/admin/ilanlar?status=WAITING_APPROVAL">İlanlar</a><a
										class="dropdown-item d-flex align-items-center"
										href="/admin/ilan-dopingleri">İlan Dopingleri</a><a
										class="dropdown-item d-flex align-items-center"
										href="/admin/kullanicilar">Kullanıcılar</a><a
										class="dropdown-item d-flex align-items-center"
										href="/admin/odemeler">Ödemeler</a><a
										class="dropdown-item d-flex align-items-center"
										href="/admin/bannerlar?status=ACTIVE">Bannerlar</a>
										<a
										class="dropdown-item d-flex align-items-center"
										href="/admin/yazilar?status=ACTIVE">Yazılar</a>
									<a class="dropdown-item d-flex align-items-center"
											href="/admin/haralar">Haralar</a>
									<div class="dropdown-divider"></div>
									<h6 class="dropdown-header font-weight-bold">Profil & Ayarlar</h6>
									<a class="dropdown-item d-flex align-items-center"
										href="/uyelik-bilgilerim">Üyelik Bilgilerim</a><a
										class="dropdown-item d-flex align-items-center"
										href="/sifre-degisikligi"
										th:if="${userInfo != null and userInfo.channel.name() != 'GOOGLE' and userInfo.channel.name() != 'FACEBOOK'}">Şifre
										Değişikliği</a> <a class="dropdown-item d-flex align-items-center"
										href="/bilgilendirme-ayarlari">Bilgilendirme Ayarları</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item d-flex align-items-center"
										href="/cikis-yap"><i class="czi-sign-out opacity-60 mr-2"></i>Çıkış
										Yap</a>
								</div>
							</div>
						</div>

						<div class="navbar-tool dropdown ml-3 d-none d-lg-block">
							<a href="/ilan-ver/kategori-secim" class="btn btn-shadow post-ad-btn ">
								<i class="czi-add mr-2"></i> İlan Ver
							</a>
						</div>
					</div>

				</div>
			</div>
			<div class="collapse" id="searchBox">
				<div class="card pt-2 pb-2 border-0 rounded-0">
					<div class="container">
						<div class="">
							<input
								class="form-control general-search-input"
								type="text" id="searchTextMbl" name="searchTextMbl"
								placeholder="İlan no, At Adı, Anne Adı, Baba Adı, Kısrak Baba Adı ile ara..." />
						</div>
						<div class="close-icon">
							<i class="czi-close general-search-btn"
								onclick="searchAds(document.getElementById('searchTextMbl').value);"></i>
						</div>
					</div>
				</div>
			</div>
		</header>
		<script type="text/javascript">
			$(document).ready(
					function() {
						$(".searchBoxBtn").on('click', function() {
							$("#searchBox").addClass("show");
							$("#mobilLogo").addClass("d-none");
							$("#mobilLoginIcon").addClass("d-none");
							$(this).removeClass("d-flex").addClass("d-none");
							$("#header-nav").addClass("py-0");
						});

						$(".close-icon i").on(
								'click',
								function() {
									$("#searchBox").removeClass("show");
									$("#mobilLogo").removeClass("d-none");
									$("#mobilLoginIcon").removeClass("d-none");
									$(".searchBoxBtn").addClass("d-flex")
											.removeClass("d-none");
									$("#header-nav").removeClass("py-0");
								});
					});
		</script>
	</div>

</body>
</html>