<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="toolbar" class="cz-handheld-toolbar">
		<ul class="nav nav-pills nav-justified px-2 py-2"
			th:if="${(pageName != null and pageName == 'ad-detail') and not ((advertDetail!=null and advertDetail.user != null and userInfo != null and userInfo.identifier == advertDetail.user.identifier  and advertDetail.status.name() != 'DELETED') or (isAdmin != null and isAdmin)) }">
			<li class="nav-item"><a href="#" data-toggle="modal"
				data-target="#mdlContactInfo" class="btn btn-primary btn-block">Ara</a></li>
			<li class="nav-item"><a
				th:href="@{'https://api.whatsapp.com/send?phone=+90'+${advertDetail.user.phoneNumber}+'&text=Merhaba ' +${advertDetail.user.firstName} +' '+ ${advertDetail.user.lastName} + ', haradan.com da yer alan '+ ${advertDetail.advertNo} + ' no lu '+ ${advertDetail.title} + ' başlıklı ilanınız ile ilgili size ulaşıyorum.'}"
				class="btn btn-success btn-block">Mesaj Gönder</a></li>
		</ul>

		<ul class="nav nav-pills nav-justified px-2 py-2"
			th:if="${(pageName != null and pageName == 'corporate-ad-detail')}">
			<li class="nav-item"><a href="#" data-toggle="modal"
				data-target="#mdlContactInfo" class="btn btn-primary btn-block">Ara</a></li>
			<li class="nav-item"><a
				th:href="@{'https://api.whatsapp.com/send?phone=+90'+${corporateAdverts[0].user.phoneNumber}+'&text=Merhaba ' +${corporateAdverts[0].user.firstName} +' '+ ${corporateAdverts[0].user.lastName} + ', haradan.com da yer alan '+ ${banner.name} + ' başlıklı Eküri İlanınız ile ilgili size ulaşıyorum.'}"
				class="btn btn-success btn-block">Mesaj Gönder</a></li>
		</ul>

		<div class="d-table table-fixed w-100"
			th:if="${not(pageName != null and (pageName == 'ad-detail' or pageName == 'corporate-ad-detail'))}">
			<a class="d-table-cell cz-handheld-toolbar-item" href="/"> <span
				class="cz-handheld-toolbar-icon"> <i
					class="czi-home text-danger"></i>
			</span> <span class="cz-handheld-toolbar-label">Anasayfa</span>
			</a> <a class="d-table-cell cz-handheld-toolbar-item" data-toggle="modal"
				data-target="#searchFilterMdl"
				th:if="${pageName != null and pageName == 'search'}"><span
				class="cz-handheld-toolbar-icon"><i
					class="czi-filter-alt text-danger"></i></span><span
				class="cz-handheld-toolbar-label">Filtrele</span></a> <a
				class="d-table-cell cz-handheld-toolbar-item"
				href="/satilik-at-ilanlari/vitrin-ilanlari"
				th:if="${not(pageName != null and pageName == 'search')}"> <span
				class="cz-handheld-toolbar-icon"> <i
					class="czi-star text-danger"></i>
			</span> <span class="cz-handheld-toolbar-label">Vitrin</span>
			</a><a class="d-table-cell cz-handheld-toolbar-item" href="/ilan-ver">
				<span class="cz-handheld-toolbar-icon"> <i
					class="czi-add-circle text-danger"></i>
			</span> <span class="cz-handheld-toolbar-label">İlan Ver</span>
			</a> <a class="d-table-cell cz-handheld-toolbar-item" href="/arama">
				<span class="cz-handheld-toolbar-icon"> <i
					class="czi-search text-danger"></i>
			</span> <span class="cz-handheld-toolbar-label">Arama</span>
			</a> <a class="d-table-cell cz-handheld-toolbar-item" href="/panelim">
				<span class="cz-handheld-toolbar-icon"> <i
					class="czi-user text-danger"></i>
			</span> <span class="cz-handheld-toolbar-label">Panelim</span>
			</a>
		</div>
		<div class="d-table table-fixed w-100"
			th:if="${(pageName != null and pageName == 'ad-detail') and ((userInfo != null and userInfo.identifier == advertDetail.user.identifier  and advertDetail.status.name() != 'DELETED') or (isAdmin != null and isAdmin))}">
			<a class="d-table-cell cz-handheld-toolbar-item" href="/"> <span
				class="cz-handheld-toolbar-icon"> <i
					class="czi-home text-danger"></i>
			</span> <span class="cz-handheld-toolbar-label">Anasayfa</span>
			</a> <a class="d-table-cell cz-handheld-toolbar-item" href="/ilan-ver">
				<span class="cz-handheld-toolbar-icon"> <i
					class="czi-add-circle text-danger"></i>
			</span> <span class="cz-handheld-toolbar-label">İlan Ver</span>
			</a>
			<div class="d-table-cell cz-handheld-toolbar-item btn-group dropup">

				<a class="" href="#" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> <span class="cz-handheld-toolbar-icon">
						<i class="czi-menu text-danger"></i>
				</span> <span class="cz-handheld-toolbar-label">İşlemler</span>
				</a>
				<div class="dropdown-menu">
					<th:block
						th:if="${userInfo != null and userInfo.identifier == advertDetail.user.identifier}">
						<a
							th:href="'/ilan-ver/ilan-bilgileri/' + ${advertDetail.identifier}"
							th:if="${advertDetail.status.name() != 'DELETED' and advertDetail.status.name() != 'SOLD'}"
							class="dropdown-item text-dark mr-2 mb-2"><i
							class="czi-edit text-info mr-2 mb-2"></i>İlanı Düzenle</a>
						<a th:data-id="${advertDetail.identifier}" data-type="DELETED"
							th:if="${advertDetail.status.name() != 'DELETED' and advertDetail.status.name() != 'REJECTED'}"
							data-text="İlanınız silinecektir. Onaylıyor musunuz?" href="#"
							class="dropdown-item mdl-action text-dark mr-2 mb-2"><i
							class="czi-trash text-danger mr-2 mb-2"></i>İlanı Sil</a>

						<a th:data-id="${advertDetail.identifier}" data-type="ACTIVE"
							th:if="${advertDetail.status.name() == 'PASSIVE' or advertDetail.status.name() == 'SOLD'}"
							data-text="İlanınız yayınlanacaktır. Onaylıyor musunuz?" href="#"
							class="dropdown-item mdl-action text-dark mr-2 mb-2"><i
							class="czi-reload text-dark mr-2 mb-2"></i>Yayınla</a>

						<a th:data-id="${advertDetail.identifier}" data-type="PASSIVE"
							th:if="${advertDetail.status.name() == 'ACTIVE'}"
							data-text="İlanınız yayından kaldırılacaktır. Onaylıyor musunuz?"
							href="#" class="dropdown-item mdl-action text-dark mr-2 mb-2"><i
							class="czi-remove-document text-dark mr-2 mb-2"></i>Yayından
							Kaldır</a>
						<a th:data-id="${advertDetail.identifier}" data-type="SOLD"
							th:if="${advertDetail.status.name() == 'ACTIVE'}"
							data-text="İlanınız SATILDI olarak güncellenecektir. Onaylıyor musunuz?"
							href="#" class="dropdown-item mdl-action text-dark mr-2 mb-2"><i
							class="czi-check text-success mr-2 mb-2"></i>İlanım SATILDI</a>
					</th:block>

					<th:block th:if="${isAdmin != null and isAdmin}">
						<a th:data-id="${advertDetail.identifier}" data-type="ACTIVE"
							th:if="${advertDetail.status.name() == 'WAITING_APPROVAL'}"
							data-text="İlan yayınlanacaktır. Onaylıyor musunuz?" href="#"
							class="dropdown-item mdl-action text-dark mr-2 mb-2"><i
							class="czi-check text-success mr-2 mb-2"></i>Onayla</a>

						<a th:data-id="${advertDetail.identifier}" data-type="REJECTED"
							th:if="${advertDetail.status.name() == 'WAITING_APPROVAL'}"
							data-text="İlan reddedilecektir. Onaylıyor musunuz?" href="#"
							class="dropdown-item mdl-action text-dark mr-2 mb-2"><i
							class="czi-close text-danger mr-2 mb-2"></i>Reddet</a>

						<a
							th:href="'/ilan-ver/ilan-ilgileri/' + ${advertDetail.identifier}"
							class="dropdown-item text-dark mr-2 mb-2"><i
							class="czi-edit text-info mr-2 mb-2"></i>İlanı Düzenle</a>

						<a th:data-id="${advertDetail.identifier}"
							th:data-type="${advertDetail.status.name()}" href="#"
							class="dropdown-item open-admin-statu-update-modal text-dark mr-2 mb-2"><i
							class="czi-reload text-dark mr-2 mb-2"></i>Statü Güncelle</a>

						<a
							th:href="'/admin/ilan-dopingleri?advertId=' + ${advertDetail.identifier}"
							class="dropdown-item text-dark mr-2 mb-2"><i
							class="czi-view-list text-primary mr-2 mb-2"></i>İlan Dopingleri</a>
						<a
							th:href="'/admin/kullanicilar?id=' + ${advertDetail.user.identifier}"
							class="dropdown-item text-dark mr-2 mb-2"><i
							class="czi-user text-dark mr-2 mb-2"></i>İlan Sahibi</a>
						<a
							th:href="@{'https://api.whatsapp.com/send?phone=+90'+${advertDetail.user.phoneNumber}+'&text=Merhaba ' +${advertDetail.user.firstName} +' '+ ${advertDetail.user.lastName} + ', haradan.com da yer alan '+ ${advertDetail.advertNo} + ' no lu '+ ${advertDetail.title} + ' başlıklı ilanınız ile ilgili size ulaşıyorum.'}"
							class="dropdown-item dark mr-2 mb-2"><i
							class="czi-phone text-info mr-2 mb-2"></i>Mesaj Gönder</a>
						<a
							th:href="@{'/at-sahibi/' + ${advertDetail.user.identifier}}"
							class="dropdown-item dark mr-2 mb-2"><i
							class="czi-view-grid text-accent mr-2 mb-2"></i>Kullanıcının Diğer İlanları</a>
					</th:block>
				</div>
			</div>
			<a class="d-table-cell cz-handheld-toolbar-item"
				th:href="'/ilan-ver/ilan-bilgileri/' + ${advertDetail.identifier} + '#dopings'">
				<span class="cz-handheld-toolbar-icon"> <i
					class="czi-loudspeaker text-danger"></i>
			</span> <span class="cz-handheld-toolbar-label">Öne Çıkar</span>
			</a> <a class="d-table-cell cz-handheld-toolbar-item" href="/panelim">
				<span class="cz-handheld-toolbar-icon"> <i
					class="czi-user text-danger"></i>
			</span> <span class="cz-handheld-toolbar-label">Panelim</span>
			</a>
		</div>
	</div>

</body>
</html>