<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
</head>
<body>

	<div layout:fragment="content">
		<div class="container pb-5">
			<div class="row pt-3 mt-md-2">
				<section class="col-lg-8">
					<!-- Gallery-->
					<div class="row pb-2">
						<section class="col-lg-12 pt-2 pt-lg-4 pb-4 mb-3">
							<h2 class="pt-3 text-center font-weight-bolder" th:text="${banner.name}"></h2>
							<div class="pt-2 px-2 pr-lg-0">
								<th:block th:each="advert, advertInd : ${corporateAdverts}">

									<div>
										<div class="bg-faded-primary text-center py-3 px-3 mb-3">
											<div class="py-2">
												<div class="media d-block d-sm-flex align-items-center">
													<a class="d-block position-relative mb-3 mb-sm-0 mr-sm-4 mx-auto" th:href="@{'/'+${advert.url}}" style="width: 16.5rem;" th:if="${#maps.size(advert.mediaMap)>0}">
														<img class="rounded" th:src="${advert.mediaMap.images[0]}" th:alt="${advert.title}">
														<span class="corporate-ad-badge badge badge-success badge-shadow" th:if="${advert.status.name() == 'SOLD'}">SATILDI</span>
													</a>
													<div class="media-body text-center text-sm-left">
														<h3 class="h6 product-title mb-2">
															<a th:href="@{'/'+${advert.url}}"
															   style="text-decoration: underline !important"><span
																	th:with="property=${advert.advertPropertyList.?[name eq 'At Adı']}"
																	th:text="${property.size() > 0 ? property[0].value : ''}"></span>
																<br class="d-block d-lg-none" /> <span
																		class="font-size-xs">( <span
																		th:with="property=${advert.advertPropertyList.?[name eq 'Baba Adı']}"
																		th:text="${property.size() > 0 ? property[0].value : ''}"></span>
														- <span
																			th:with="property=${advert.advertPropertyList.?[name eq 'Anne Adı']}"
																			th:text="${property.size() > 0 ? property[0].value : ''}"></span>
														/ <span
																			th:with="property=${advert.advertPropertyList.?[name eq 'Annesinin Baba Adı']}"
																			th:text="${property.size() > 0 ? property[0].value : ''}"></span>
														)
												</span> <span class="font-size-xs">( Detay )</span></a>
														</h3>
														<div class="d-inline-block text-accent font-size-ms"
															 th:inline="text">[[${advert.category.name}]]</div>
														<div
																class="d-inline-block text-accent font-size-ms border-left ml-2 pl-2">
															<th:block th:inline="text"
																	  th:with="property=${advert.advertPropertyList.?[name eq 'Yaş']}">[[${property.size() > 0 ? property[0].value : ''}]] yaş </th:block>
															<th:block th:inline="text"
																	  th:with="property=${advert.advertPropertyList.?[name eq 'Donu(Renk)']}">[[${property.size() > 0 ? property[0].value : ''}]]</th:block>
															<th:block th:inline="text"
																	  th:with="property=${advert.advertPropertyList.?[name eq 'Cinsiyet']}">[[${property.size() > 0 ? property[0].value : ''}]]</th:block>
														</div>
														<div
																class="d-inline-block text-accent font-size-ms border-left ml-2 pl-2">
															<th:block
																	th:text="${#numbers.formatDecimal(advert.price,0, 'COMMA', 2, 'POINT')}" />
															<small> TL</small>
														</div>
														<div class="d-none d-lg-block text-accent font-size-ms pt-5">
															<a th:href="@{'/'+${advert.url}}" class="btn btn-primary scale-up mr-3">İlan Detay</a>
															<a th:href="@{'https://api.whatsapp.com/send?phone=+90'+${corporateAdverts[0].user.phoneNumber}+'&text=Merhaba ' +${corporateAdverts[0].user.firstName} +' '+ ${corporateAdverts[0].user.lastName} + ', haradan.com da yer alan '+ ${advert.advertNo} + ' no lu '+ ${advert.title} + ' başlıklı ilanınız ile ilgili size ulaşıyorum.'}"
															   class="btn btn-success scale-up">Whatsapp ile Mesaj Gönder</a>
														</div>

													</div>
												</div>
											</div>
										</div>
									</div>

								</th:block>
							</div>

							<h3 class="pt-3 text-center"
								th:text="${corporateAdverts[0].user.firstName} + ' ' +${corporateAdverts[0].user.lastName}"></h3>
							<h4 class="text-dark text-center">
								<span class="font-weight-bolder">0<a
									class="text-dark mb-0 phone-number"
									th:href="'tel:+90' + ${corporateAdverts[0].user.phoneNumber}"
									th:text="${corporateAdverts[0].user.phoneNumber}"></a></span>
							</h4>
							<div class="pt-2 d-none d-lg-block">
								<h6 class="d-inline-block align-middle font-size-sm my-2 mr-1">Paylaş:</h6>
								<a class="share-btn sb-twitter mr-1 my-2"
									th:href="'https://twitter.com/intent/tweet?url=' + ${#httpServletRequest.requestURL} + '&amp;text=' + ${banner.name} + '&amp;via=haradancom'"><i
									class="czi-twitter"></i>Twitter</a><a
									class="share-btn sb-facebook my-2"
									th:href="@{'https://www.facebook.com/sharer/sharer.php?u=' + ${#httpServletRequest.requestURL}}"
									onclick="window.open(this.href, 'Haradan.com','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><i
									class="czi-facebook"></i>Facebook</a>
							</div>
						</section>
					</div>
				</section>
				<aside class="col-lg-4">
					<!-- Sidebar-->
					<div class="cz-sidebar border-left ml-lg-auto" id="blog-sidebar">
						<div class="cz-sidebar-header box-shadow-sm">
							<button class="close ml-auto" type="button"
								data-dismiss="sidebar" aria-label="Close">
								<span
									class="d-inline-block font-size-xs font-weight-normal align-middle">Close
									sidebar</span><span class="d-inline-block align-middle ml-2"
									aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="cz-sidebar-body py-lg-1" data-simplebar
							data-simplebar-auto-hide="true">
							<!-- Categories-->
							<div
								class="widget widget-links mb-grid-gutter pb-grid-gutter border-bottom">
								<h3 class="widget-title">Popüler Kategoriler</h3>
								<ul class="widget-list">
									<li class="widget-list-item"><a
										class="widget-list-link d-flex justify-content-between align-items-center"
										href="/satilik-yaris-ati"><span><i
												class="czi-arrow-right-circle mr-2"></i>Satılık Yarış Atı</span></a></li>
									<li class="widget-list-item"><a
										class="widget-list-link d-flex justify-content-between align-items-center"
										href="/satilik-kisrak"><span><i
												class="czi-arrow-right-circle mr-2"></i>Satılık Kısrak</span></a></li>
									<li class="widget-list-item"><a
										class="widget-list-link d-flex justify-content-between align-items-center"
										href="/satilik-binek-ati"><span><i
												class="czi-arrow-right-circle mr-2"></i>Satılık Binek Atı</span></a></li>
									<li class="widget-list-item"><a
										class="widget-list-link d-flex justify-content-between align-items-center"
										href="/pansiyon-haralar"><span><i
												class="czi-arrow-right-circle mr-2"></i>Pansiyon Haralar</span></a></li>
									<li class="widget-list-item"><a
										class="widget-list-link d-flex justify-content-between align-items-center"
										href="/at-nakliyesi"><span><i
												class="czi-arrow-right-circle mr-2"></i>At Nakiyesi</span></a></li>
								</ul>
							</div>
							<!-- Trending posts-->
							<div class="widget mb-grid-gutter pb-grid-gutter border-bottom">
								<h3 class="widget-title">Özel İlanlar</h3>
								<ul class="widget-list pt-1">
									<li class="widget-list-item"><a
										class="widget-list-link font-weight-medium"
										href="/satilik-at-ilanlari/vitrin-ilanlari">Vitrin
											İlanları</a></li>
									<li class="widget-list-item"><a
										class="widget-list-link font-weight-medium"
										href="/acil-satilik-at-ilanlari">Acil İlanlar</a></li>
									<li class="widget-list-item"><a
										class="widget-list-link font-weight-medium"
										href="/satilik-at-ilanlari/ust-sira-ilanlari">Üst Sırada
											İlanlar</a></li>
									<li class="widget-list-item"><a
										class="widget-list-link font-weight-medium"
										href="/ekuri-ilanlari">Eküri İlanları</a></li>
								</ul>
							</div>
							<!-- Popular tags-->
							<div class="widget mb-grid-gutter">
								<h3 class="widget-title">En Çok Arananlar</h3>
								<a class="btn-tag mr-2 mb-2"
									href="/kosar-durumda-ingiliz-ati?page=0&sort=createdDate&direction=DESC&at-irki=%C4%B0ngiliz&kosar-durumda-mi=Evet">#Koşar
									Durumda İngiliz Atı</a><br /> <a class="btn-tag mr-2 mb-2"
									href="/kosar-durumda-arap-ati?page=0&sort=createdDate&direction=DESC&at-irki=Arap&kosar-durumda-mi=Evet">#Koşar
									Durumda Arap Atı</a><br /> <a class="btn-tag mr-2 mb-2"
									href="/ingiliz-taylar?page=0&sort=createdDate&direction=DESC&at-irki=%C4%B0ngiliz&yas=0,1,1.5,2,3">#İngiliz
									Taylar</a><br /> <a class="btn-tag mr-2 mb-2"
									href="/arap-taylar?page=0&sort=createdDate&direction=DESC&at-irki=Arap&yas=0,1,1.5,2,3">#Arap
									Taylar</a><br /> <a class="btn-tag mr-2 mb-2"
									href="/ingiliz-kisraklar?page=0&sort=createdDate&direction=DESC&at-irki=%C4%B0ngiliz">#İngiliz
									Kısraklar</a><br /> <a class="btn-tag mr-2 mb-2"
									href="/arap-kisraklar?page=0&sort=createdDate&direction=DESC&at-irki=Arap">#Arap
									Kısraklar</a><br /> <a class="btn-tag mr-2 mb-2"
									href="/idmanda-atlar?page=0&sort=createdDate&direction=DESC&idmanda-mi=Evet">#İdmanda
									Olanlar</a><br /> <a class="btn-tag mr-2 mb-2"
									href="/kiralik-atlar?page=0&sort=createdDate&direction=DESC&kiralik-mi=Evet">#Kiralık
									Atlar</a>
							</div>
						</div>
					</div>
				</aside>
			</div>
		</div>
		<!-- Related posts-->
		<div class="bg-secondary py-5">
			<div class="container py-3">
				<h2 class="h4 text-center pb-4">Bunlarda İlgini Çekebilir</h2>
				<div
					class="cz-carousel cz-controls-static cz-controls-outside cz-dots-enabled pt-2">
					<div class="cz-carousel-inner"
						data-carousel-options="{&quot;items&quot;: 2, &quot;gutter&quot;: 16, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 2000, &quot;controls&quot;: true, &quot;autoHeight&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1}, &quot;480&quot;:{&quot;items&quot;:2}, &quot;720&quot;:{&quot;items&quot;:3}, &quot;991&quot;:{&quot;items&quot;:2}, &quot;1140&quot;:{&quot;items&quot;:3}, &quot;1300&quot;:{&quot;items&quot;:4}, &quot;1500&quot;:{&quot;items&quot;:4}}}">
						<th:block
							th:each="advert, advertInd : ${mayAlsoInterestedAdverts}">
							<!-- Product-->
							<div>
								<div class="card product-card-alt"
									style="background-color: #f6f9fc !important">
									<div class="product-thumb">
										<button th:data-id="${advert.identifier}" data-ref="/"
											class="btn-wishlist btn-sm add-to-favourites" type="button"
											data-toggle="tooltip" data-placement="left"
											title="Favorilere Ekle">
											<i class="czi-heart"></i>
										</button>
										<a class="product-thumb" th:href="@{'/'+${advert.url}}"><img
											th:src="${advert.imageUrl}" th:alt="${advert.title}"
											th:if="${advert.imageUrl != null}"><img
											src="/img/default-ad.png" th:alt="${advert.title}"
											th:if="${advert.imageUrl == null}"></a>
									</div>
									<div class="card-body">
										<div
											class="d-flex flex-wrap justify-content-between align-items-start pb-2">
											<div class="text-muted font-size-xs mr-1">
												<a class="product-meta font-weight-medium"
													th:href="@{'/'+${advert.url}}"
													th:text="${advert.category.name}"></a>
											</div>
										</div>
										<h1 class="h3 product-title font-size-sm mb-2">
											<a th:href="@{'/'+${advert.url}}"
												th:text="${#strings.toUpperCase(advert.title)}"></a>
										</h1>
										<div class="d-none" th:utext="${advert.description}"></div>
									</div>
								</div>
							</div>
						</th:block>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="common/share-ad-modal :: share-ad-modal"></div>

		<div th:replace="common/contact-info-modal :: contact-info-modal"></div>
	</div>
</body>
</html>