<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
</head>
<body>

	<div layout:fragment="content" th:with="pageName=${page == 'EMERGENCY' ? 'Acil İlanlar' : (page == 'MAINPAGE_SHOW_CASE' ? 'Vitrin İlanları' : (page == 'TOP_ORDER' ? 'Üst Sırada İlanlar' : (page == 'BORDERED' ? 'Çerçeveli İlanlar' : (page == 'CORPORATE_ADVERT' ? 'Eküri İlanları' : ''))))}">
		<div class="bg-secondary py-4">
			<div class="container d-lg-flex justify-content-between py-2 py-lg-3">
				<div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2 d-none d-lg-block">
					<nav aria-label="breadcrumb">
						<ol
							class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-start">
							<li class="breadcrumb-item"><a class="text-nowrap" href="/"><i
									class="czi-home"></i>Anasayfa</a></li>
							<li class="breadcrumb-item text-nowrap active"
								aria-current="page" th:text="${pageName}"></li>
						</ol>
					</nav>
				</div>
				<div class="order-lg-1 pr-lg-4 text-center text-lg-left">
					<h1 class="h3 mb-0" th:text="${pageName}"></h1>
				</div>
			</div>
		</div>
		<div class="container py-4 py-lg-5 my-4">
			<div class="row pt-2 mx-n2">
				<th:block th:each="advert, advertInd : ${searchAdverts}">
					<!-- Product-->
					<div class="col-lg-3 col-md-4 col-sm-6 px-4 mb-grid-gutter">
						<!-- Product-->
						<div class="card product-card-alt">
							<div class="product-thumb">
								<a class="product-thumb" th:href="@{'/'+${advert.url}}"><img
									th:src="${advert.imageUrl}" th:alt="${advert.title}"
									th:if="${advert.imageUrl != null}"><img
									src="/img/default-ad.png" th:alt="${advert.title}"
									th:if="${advert.imageUrl == null}"></a>
							</div>
							<div class="card-body">
								<div
									class="d-flex flex-wrap justify-content-between align-items-start pb-2">
									<div class="text-muted font-size-xs mr-1">
										<a class="product-meta font-weight-bold"
											th:href="@{'/'+${advert.url}}"
											th:text="${advert.category.name}"></a>
									</div>
								</div>
								<h1 class="h3 product-title font-size-sm mb-2 font-weight-bold">
									<a th:href="@{'/'+${advert.url}}"
										th:text="${#strings.toUpperCase(advert.title)}"></a>
								</h1>
								<div class="d-none" th:utext="${advert.description}"></div>
							</div>
						</div>
					</div>
				</th:block>
				<th:block th:each="banner, bannerInd : ${corporateAdverts}">
					<!-- Product-->
					<div class="col-lg-4 col-md-4 col-sm-6 px-4 mb-grid-gutter">
						<!-- Product-->
						<div class="card product-card-alt">
							<div class="product-thumb">
								<a class="product-thumb" th:href="@{'/'+${banner.url}}"><img
									src="/img/default-ad.png" th:alt="${banner.name}"
									th:if="${banner.media == null}"><img
									th:src="'/ekuri-ilani' + ${banner.media}"
									th:alt="${banner.name}" th:if="${banner.media != null}"></a>
							</div>
							<div class="card-body">
								<h1 class="h3 product-title font-size-lg mb-2 font-weight-bold">
									<a th:href="@{'/'+${banner.url}}"
										th:text="${#strings.toUpperCase(banner.name)}"></a>
								</h1>
							</div>
						</div>
					</div>
				</th:block>
				<div class="col-lg-3 col-md-4 col-sm-6 px-4 mb-grid-gutter"
					th:if="${searchAdverts != null and searchAdverts.size()>0}">
					<div class="card product-card-alt">
						<div class="product-thumb">
							<a class="product-thumb" href="/ilan-ver"><img
								src="/img/ilani-vitrine-cikar.png" alt=""></a>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-6 px-4 mb-grid-gutter"
					th:if="${(corporateAdverts != null and corporateAdverts.size()>0)}">
					<div class="card product-card-alt">
						<div class="product-thumb">
							<a href="/ekuri-ilani-ver" class="product-thumb"><img
								th:src="@{'/img/ekuri-ilani/ekuri-ilani-ver.png'}"
								alt="Eküri İlanı Ver"></a>
						</div>
					</div>
				</div>
			</div>

			<div class="row justify-content-center pt-2 mx-n2">
				<div class="col-md-12 col-sm-8 col-lg-8"
					th:if="${(searchAdverts != null and searchAdverts.size()==0) or (corporateAdverts != null and corporateAdverts.size()==0)}">
					<div class="alert alert-warning text-center border-0">
						<h5 class="card-title text-dark" th:inline="text">'[[${pageName}]]'
							aramanız için aktif ilan bulunamadı.</h5>
						<p class="card-text font-size-sm text-dark">Aşağıdaki
							bağlantılardan birini seçerek ilginizi çekecek ilanlara
							ulaşabilirsiniz.</p>
					</div>
				</div>
			</div>

			<div class="row justify-content-center pt-2 mx-n2">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<div class="row py-4">
						<div class="col-sm-3 col-md-6 col-lg-3 mb-2 featured-ads-option">
							<a href="/satilik-at-ilanlari/vitrin-ilanlari"
								class="text-dark d-block bg-white box-shadow-sm px-3 py-3">
								<span><i class="czi-arrow-right-circle mr-2"></i><u>Vitrin
									İlanları</u></span>
							</a>
						</div>
						<div class="col-sm-3 col-md-6 col-lg-3 mb-2 featured-ads-option">
							<a href="/acil-satilik-at-ilanlari"
								class="text-dark d-block bg-white box-shadow-sm px-3 py-3">
								<span><i class="czi-arrow-right-circle mr-2"></i><u>Acil
									İlanlar</u></span>
							</a>
						</div>
						<div class="col-sm-3 col-md-6 col-lg-3 mb-2 featured-ads-option">
							<a href="/satilik-at-ilanlari/ust-sira-ilanlari"
								class="text-dark d-block bg-white box-shadow-sm px-3 py-3">
								<span><i class="czi-arrow-right-circle mr-2"></i><u>Üst
									Sırada İlanlar</u></span>
							</a>
						</div>
						<!-- 						<div
							class="col-sm-3 col-md-3 col-lg-3 mb-2 mr-2 featured-ads-option">
							<a href="/satilik-at-ilanlari/cerceveli-ilanlar"> <span><i
									class="czi-arrow-right-circle mr-2"></i>Çerçeveli İlanlar</span></a>
						</div> -->
						<div class="col-sm-3 col-md-6 col-lg-3 mb-2 featured-ads-option">
							<a href="/ekuri-ilanlari"
								class="text-dark d-block bg-white box-shadow-sm px-3 py-3">
								<span><i class="czi-arrow-right-circle mr-2"></i><u>Eküri
									İlanları</u></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>