<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
</head>
<body>

<div layout:fragment="content" th:with="pageName=${searchText == 'baba-adi' ? 'Tüm Aygırlar' : (searchText == 'anne-adi' ? 'Tüm Kısralar' : (searchText == 'annesinin-baba-adi' ? 'Tüm Kısrak Babaları' : ''))}">
	<div class="bg-secondary py-4">
		<div class="container d-lg-flex justify-content-between py-2 py-lg-3">
			<div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2 d-none d-lg-block">
				<nav aria-label="breadcrumb">
					<ol
							class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-start">
						<li class="breadcrumb-item"><a class="text-nowrap" href="/"><i
								class="czi-home"></i>Anasayfa</a></li>
						<li class="breadcrumb-item text-nowrap active"
							aria-current="page" th:text="${pageName}"></li>
					</ol>
				</nav>
			</div>
			<div class="order-lg-1 pr-lg-4 text-center text-lg-left">
				<h1 class="h3 mb-0" th:text="${pageName}"></h1>
			</div>
		</div>
	</div>
	<div class="container py-4 py-lg-5 my-4">
		<div class="row pt-2 mx-n2">
			<th:block th:each="name, nameInd : ${pedigreeNames}">
				<!-- Product-->
				<div class="col-lg-3 col-md-4 col-sm-6 p-2">
					<!-- Product-->
					<div class="card">
						<div class="card-body">
							<a th:href="${'/satilik-atlar?'+searchText+'='+name}" class="text-dark" th:text="${name}"></a>
						</div>
					</div>
				</div>
			</th:block>
		</div>
		<div class="row justify-content-center pt-2 mx-n2">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="row py-4">
					<div class="col-sm-3 col-md-6 col-lg-3 mb-2 featured-ads-option">
						<a href="/soy-agaci/tum-aygirlar"
						   class="text-dark d-block bg-white box-shadow-sm px-3 py-3">
								<span><i class="czi-arrow-right-circle mr-2"></i><u>Tüm Aygırlar</u></span>
						</a>
					</div>
					<div class="col-sm-3 col-md-6 col-lg-3 mb-2 featured-ads-option">
						<a href="/soy-agaci/tum-kisraklar"
						   class="text-dark d-block bg-white box-shadow-sm px-3 py-3">
							<span><i class="czi-arrow-right-circle mr-2"></i><u>Tüm Kısraklar</u></span>
						</a>
					</div>
					<div class="col-sm-3 col-md-6 col-lg-3 mb-2 featured-ads-option">
						<a href="/soy-agaci/tum-kisrak-babalari"
						   class="text-dark d-block bg-white box-shadow-sm px-3 py-3">
							<span><i class="czi-arrow-right-circle mr-2"></i><u>Tüm Kısrak Babaları</u></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>