<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div layout:fragment="content">
    <div class="container pb-4 pb-sm-5">
        <div class="row justify-content-center pt-5"
             th:if="${searchAdCount==0}">
            <div class="col-md-12 col-sm-8 col-lg-8">
                <div class="alert alert-warning text-center border-0">
                    <h5 class="card-title text-dark">Aramanıza uygun ilan
                        bulunamadı.</h5>
                    <p class="card-text font-size-sm text-dark">Yeni bir arama
                        yaparak veya sayfadaki bağlantıları tıklayarak aktif ilanlara
                        ulaşabilirsiniz..</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center pt-5"
             th:if="${searchAdCount > 0}">
            <div class="col-md-12 col-sm-12">
                <div class="results-header">
                    <h2 class="h4" th:if="${searchCriteriaTitle != null}">
                        <i class="czi-search mr-2 text-primary"></i> <strong>"<b
                            th:text="${searchCriteriaTitle}"></b>"
                    </strong> aramanız için <span><span class="text-primary"><strong
                            th:text="${searchAdCount}"></strong> <strong>sonuç</strong></span></span>
                        bulundu.
                    </h2>
                    <h2 class="h4" th:if="${searchHorseOwnerTitle != null}">
                        <i class="czi-search mr-2 text-primary"></i> <strong>"<b
                            th:text="${searchHorseOwnerTitle}"></b>"
                    </strong> adlı kullanıcının aktif <span><span class="text-primary"><strong
                            th:text="${searchAdCount}"></strong> <strong>ilanı</strong></span></span>
                        bulundu.
                    </h2>
                </div>
            </div>
        </div>
        <!-- Categories grid-->
        <div class="row justify-content-center pt-4">

            <th:block th:each="entry : ${searchResultList}">
                <div class="col-md-4 col-lg-3 col-sm-6 mb-2">
                    <div class="card border">
                        <div class="card-body">
                            <h2 class="h5" th:text="${entry.key}"></h2>
                            <ul class="list-unstyled font-size-sm mb-0">
                                <th:block th:each="searchResult : ${entry.value}">
                                    <li class="d-flex align-items-center justify-content-between">
                                        <a class="nav-link-style"
                                           th:href="'/' + ${searchResult.categorySearchText} + '?' + ${searchCriteria} + '=' + ${searchCriteriaValue}"
                                           th:inline="text"><i class="czi-arrow-right-circle mr-2"></i>[[${searchResult.categoryName}]]</a><span
                                            class="font-size-ms text-muted"
                                            th:text="${searchResult.adCount}"></span></li>
                                </th:block>
                            </ul>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
        <div th:replace="fragments/popular-search :: popular-search"></div>
    </div>
</div>

</body>
</html>