<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
</head>
<body>

	<div layout:fragment="content">
		<input type="hidden" id="currentPage" name="currentPage"
			th:value="${advertResource.page.page}" />

		<div th:replace="search/search-filter-mobil :: search-filter-mobil"></div>

		<!-- Page Content-->
		<div class="container pb-5 mb-2 mb-md-4 pt-4">
			<div class="row">
				<!-- Sidebar-->
				<aside class="col-lg-2-half">
					<!-- Sidebar-->
					<div th:replace="search/search-filter :: search-filter"></div>
				</aside>
				<!-- Content  -->
				<section class="col-lg-9-half">
					<!-- Toolbar-->
					<div th:replace="search/search-bar :: search-bar"></div>
					<div id="like_button_container"></div>

					<div class="pt-2 pb-4">
						<span class="filter-bagdes" th:if="${filterParams.city != null}">Adres:
							<span class="badge badge-secondary filter-badge-text"
							th:inline="text">[[${filterParams.city} +
								${filterParams.district != null ? #strings.concat(' / ',
								filterParams.district) : ''}]] <i
								class="czi-close filter-badge-icon"
								id="select;city#select;district"></i>
						</span>
						</span> <span class="filter-bagdes ml-2"
							th:if="${filterParams.minPrice > 0}">Min. Fiyat: <span
							class="badge badge-secondary filter-badge-text"><th:block
									th:inline="text"> [[${filterParams.minPrice}]]</th:block>
										<i class="czi-close filter-badge-icon" id="text;minPrice"></i></span>
						</span><span class="filter-bagdes ml-2"
							th:if="${filterParams.maxPrice > 0}">Max. Fiyat: <span
							class="badge badge-secondary filter-badge-text"><th:block
									th:inline="text"> [[${filterParams.maxPrice}]]</th:block>
										<i class="czi-close filter-badge-icon" id="text;maxPrice"></i></span>
						</span><span class="filter-bagdes ml-2"
							th:if="${filterParams.dateInterval > 0}">İlan Tarihi <span
							class="badge badge-secondary filter-badge-text"><th:block
									th:inline="text"> Son [[${filterParams.dateInterval}]]</th:block> gün içindeki
										<i class="czi-close filter-badge-icon" id="radio;dateInterval"></i></span>
						</span>
						<th:block th:each="entry, stat : ${filterParams.properties}">
							<th:block
								th:each="value : ${#strings.arraySplit(entry.value, ',')}">
								<span class="filter-bagdes ml-2" th:inline="text">[[${#strings.capitalize(#strings.replace(entry.key,'-','
									'))}]]: <span class="badge badge-secondary filter-badge-text"><th:block
											th:inline="text">[[${value}]]</th:block>
											<i class="czi-close filter-badge-icon"
												th:id="${'checkbox;'+ entry.key + ';' + value}"></i></span>
								</span>
							</th:block>
						</th:block>
						<span class="filter-bagdes ml-2" th:if="${filterParams.hasPhoto}">Fotoğraf:
							<span class="badge badge-secondary filter-badge-text"><th:block
									th:inline="text"> Resimli İlanlar
										<i class="czi-close filter-badge-icon"
										id="checkbox;hasPhoto;true"></i></span>
						</span><span class="filter-bagdes ml-2"
							th:if="${not #strings.isEmpty(filterParams.searchText)}">Arama
							Kelimesi: <span class="badge badge-secondary filter-badge-text"><th:block
									th:inline="text"> [[${filterParams.searchText}]]
										<i class="czi-close filter-badge-icon" id="text;filter_searchText"></i></span>
						</span>
					</div>
					<!-- Products grid-->
					<div th:replace="search/search-ads :: search-ads"></div>
					<!-- Pagination-->
					<nav class="d-flex justify-content-between pt-2"
						th:if="${advertResource.page.totalElements>0}"
						aria-label="Sayfalama">
						<ul class="pagination">
							<li class="page-item"
								th:id="${advertResource.page.page == 0 ? advertResource.page.totalPages-1 : advertResource.page.page-1}"><i
								class="czi-arrow-left mr-2"></i>Geri</li>
						</ul>
						<ul class="pagination">
							<li class="page-item d-sm-none"><span
								class="page-link page-link-static" th:inline="text">[[${advertResource.page.page
									+ 1}]] / [[${advertResource.page.totalPages}]]</span></li>
							<th:block
								th:each="pageInd: ${#numbers.sequence(0,advertResource.page.totalPages-1)}">
								<li class="page-item d-none d-sm-block" th:id="${pageInd}"
									th:classappend="${pageInd == advertResource.page.page ? 'active' : ''}"
									aria-current="page"><span class="page-link"
									th:inline="text">[[${pageInd + 1}]]<span class="sr-only"
										th:if="${pageInd == advertResource.page.page}">(current)</span></span></li>
							</th:block>
						</ul>
						<ul class="pagination">
							<li class="page-item"
								th:id="${(advertResource.page.page == advertResource.page.totalPages-1) ? 0 : advertResource.page.page+1}">İleri<i
								class="czi-arrow-right ml-2"></i></li>
						</ul>
					</nav>
				</section>
			</div>
		</div>
		<script type = "text/javascript"> 
		    $(document).ready(function() {
		    	//Load districts when changing the city
		    	$(document).on('change', '#city', (function() {
		    		ajaxJsonGet('districts/search?page=0&size=100&cityCode=' + $(this).val(), null, function(response) {
		    			$('#district').find('option').not(':first').remove();
	    				response.data.forEach(function(item) {
	    					$('#district').append('<option value="' + item.identifier + '">' + item.name + '</option>');
	    				});
					}, function(error) {
						$('#district').find('option').not(':first').remove();
					});
					
					return false;
		    	}));
		    	
		    	//Load districts when page loading
		    	loadDistricts();
		    	
		    	//Change label text when clicking checkbox
		    	$(document).on('change', '.yesNo-chckbx', (function() {
		    		if(this.checked) {
		    			$(this).val('Evet')
		    			$(this).siblings('label').html('Evet');
		    		} else {
		    			$(this).val('Hayır')
		    			$(this).siblings('label').html('Hayır');
		    		}
		    	}));
		    	
		    	//Fire when clicking page number
				$('.page-item').click(function() {
					$("#currentPage").val($(this).attr('id'));
					loadAds();
				});
		    	
		    	//Fire when clicking search button
		    	$(document).on('click', '.search-ads', (function() {
		    		loadAds();
		    	}));
		    	
		    	//Fire when changing sorting criteria
		    	$(document).on('change', '#sorting', (function() {
		    		var item = $(this).val().split(";");
		    		$("#sort").val(item[0]);
		    		$("#direction").val(item[1]);
		    		loadAds();
		    	}));
		    	
		    	//Fire when removing selected criterias
		    	$('.filter-badge-icon').click(function() {
					
					var item = $(this).attr('id').split("#");
					for(i = 0; i < item.length; i++){
						
						var subItem = item[i].split(";");
						if(subItem[0] == 'select'){
							$('#'+subItem[1]).prop("selectedIndex", 0);
						}else if(subItem[0] == 'checkbox'){
							$('input:checkbox[name="' + subItem[1] + '"][value="' + subItem[2] + '"]').prop('checked',false);
						}else if(subItem[0] == 'radio'){
							$("input[name='"+subItem[1]+"']:radio").prop('checked',false);
						}else if(subItem[0] == 'text'){
							$('#'+subItem[1]).val("");
						}
					}   
					loadAds();
				});
		    	
		    	//Check search button position
		    	$(window).on('scroll', function() {
		    		if($(window).scrollTop() >= $('#ad-filter-bar').offset().top + $('#ad-filter-bar').outerHeight() - 56 - window.innerHeight) {
		    			$(".sticky-search-button").removeClass("fixed").addClass("static");
		    		} else {
		    			$(".sticky-search-button").removeClass("static").addClass("fixed");
		    		}
		    	});
		    	
		    });
		    
		    function loadDistricts(){
		    	ajaxJsonGet('districts/search?page=0&size=100&cityCode=' + $("#city").val(),null, function(response) {
		    		$('#district').find('option').not(':first').remove();
		    		response.data.forEach(function(item) {
		    			$('#district').append('<option value="' + item.identifier + '">' + item.name + '</option>');
		    		});
		    		if($("#district_name").val() == ''){		    			
		    			$("#district").find('option:first').prop('selected', true);
		    		}else{
		    			$("#district option:contains("+$("#district_name").val() + ")").prop('selected', true);
		    		} 
		    		return false;
				}, function(error) {
					console.log(error);
				});
		    }
		    
		    function loadAds(){
		    	var url = window.location.href.split('?')[0];
	    		var urlParams = [];
	    		
	    		urlParams.push("page=" + $("#currentPage").val());
	    		urlParams.push("sort=" + $("#sort").val());
	    		urlParams.push("direction=" + $("#direction").val());
	    		
	    		if($("#minPrice").val() > 0) {
	    			urlParams.push("minPrice=" + $("#minPrice").val());
	    		}
	    		if($("#maxPrice").val() > 0) {
	    			urlParams.push("maxPrice=" + $("#maxPrice").val());
	    		}
	    		if($("#city").val() > 0) {
	    			urlParams.push("city=" + $("#city").find('option:selected').text());
	    		}
	    		if($("#district").val() > 0) {
	    			urlParams.push("district=" + $("#district").find('option:selected').text());
	    		}
	    		if($("input[name='dateInterval']:checked").val() > 0) {
	    			urlParams.push("date=" + $("input[name='dateInterval']:checked").val());
	    		}
	    		if($("#hasPhoto").prop("checked")) {
	    			urlParams.push("hasPhoto=true");
	    		}
	    		if($.trim($("#filter_searchText").val()) != '') {
	    			urlParams.push("searchText=" + $.trim($("#filter_searchText").val()));
	    		}
	    		var names = [];
	    		$(".properties .property-item input[type='checkbox']:checked").each(function() {
	    			if($.inArray($(this).prop('name'), names) === -1) names.push($(this).prop('name'));
	    		});
	    		for(var i = 0; i < names.length; i++) {
	    			var values = [];
	    			$(".properties .property-item input[name='" + names[i] + "']:checked").each(function() {
	    				values.push($(this).val());
	    			});
	    			urlParams.push(names[i] + "=" + values.toString());
	    		}
	    		var query = urlParams.map(function(value) {
	    			return value;
	    		}).join('&');
	    		window.location.replace(url + "?" + query);
		    }
		</script>
	</div>

</body>
</html>