<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
</head>
<body>

	<div layout:fragment="content">
		<div class="container pb-5 mb-2 mb-md-4">
			<div class="row">
				<!-- Content  -->
				<section class="col-lg-12">
					<h2 class="h3 text-center py-4 mt-md-3">Kategoriler</h2>
					<div class="card" style="border-radius: 0">
						<div class="card-body">
							<th:block th:each="category, catIttr : ${categoryList}">

								<h2 class="h6" th:text="${category.name}"></h2>
								<ul class="list-unstyled font-size-sm mb-0">
									<th:block th:each="subCategory, ittr : ${category.children}">
										<li class="d-flex align-items-center justify-content-between"><a
											class="nav-link-style" th:href="@{${subCategory.searchText}}"><i
												class="czi-arrow-right-circle mr-2"></i> <th:block
													th:text="${subCategory.name}"></th:block></a></li>
									</th:block>
									<li class="mt-4"
										th:if="${(catIttr.index + 1) != #lists.size(categoryList)}">
										<hr>
									</li>
								</ul>
							</th:block>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<h2 class="h3 text-center py-4 mt-md-3">Özel İlanlar</h2>
						</div>

						<div class="col-sm-12 mb-2">
							<div class="bg-secondary p-4 text-center rounded-lg">
								<a href="/satilik-at-ilanlari/vitrin-ilanlari"><span
									class="font-size-sm font-weight-bold text-dark mr-2">Vitrin İlanları</span></a>
								| <a href="/acil-satilik-at-ilanlari"><span
									class="font-size-sm font-weight-bold text-dark ml-2">Acil İlanlar</span></a>
							</div>
						</div>
						<div class="col-sm-12 mb-2">
							<div class="bg-secondary p-4 text-center rounded-lg">
								<a href="/satilik-at-ilanlari/ust-sira-ilanlari"><span
									class="font-size-sm font-weight-bold text-dark mr-2">Üst Sırada
										İlanlar</span></a> | <a href="/ekuri-ilanlari"><span
									class="font-size-sm font-weight-bold text-dark mr-2">Eküri İlanları</span></a>
							</div>
						</div>
					</div>

					<div class="widget py-3">
						<div th:replace="fragments/popular-search :: popular-search"></div>
					</div>
				</section>
			</div>
		</div>
	</div>

</body>
</html>