<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
</head>
<body>

	<div layout:fragment="content">
		<input type="hidden" id="currentPage" name="currentPage"
			   th:value="${stableResource.page.page}" />
		<div class="bg-secondary py-4">
			<div class="container d-lg-flex justify-content-between py-2 py-lg-3">
				<div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2 d-none d-lg-block">
					<nav aria-label="breadcrumb">
						<ol
							class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-start">
							<li class="breadcrumb-item"><a class="text-nowrap" href="/"><i
									class="czi-home"></i>Anasayfa</a></li>
							<li class="breadcrumb-item text-nowrap active"
								aria-current="page">Haralar</li>
						</ol>
					</nav>
				</div>
				<div class="order-lg-1 pr-lg-4 text-center text-lg-left">
					<h1 class="h3 mb-0">Haralar</h1>
				</div>
			</div>
		</div>
		<div class="px-lg-3 pt-4">
			<div class="px-3 pt-2">
				<div class="container mb-3" style="text-align: justify">
					<div class="row">
						<th:block th:each="stable, stableInd : ${stableResource.data}">

							<div class="col-xl-4 col-md-6 mb-grid-gutter">
								<div class="card border-0 shadow">
									<div class="card-body">
										<h6 th:text="${stable.name}"></h6>
										<ul class="list-unstyled mb-0">
											<li class="d-flex pb-3 border-bottom">
												<a href="#" class="d-block text-heading font-size-sm" th:inline="text"><i class="czi-location h4 mr-2 mb-0 text-primary"></i> [[${( stable.address == null || stable.address == '' ) ? '-' : stable.address}]]</a>
											</li>
											<li class="d-flex pt-2 pb-3 border-bottom">
												<a href="#" class="d-block text-heading font-size-sm" th:inline="text"><i class="czi-phone h4 mr-2 mb-0 text-primary"></i> [[${( stable.phoneNumber == null ||  stable.phoneNumber == '' ) ? '-'  : stable.phoneNumber}]]</a>
											</li>
											<li class="d-flex pt-2m">
												<a href="#" class="d-block text-heading font-size-sm" th:inline="text"><i class="czi-mail h4 mr-2 mb-0 text-primary"></i>  [[${( stable.email == null || stable.email == '' )  ? '-' :  stable.email}]]</a>
											</li>
										</ul>
									</div>
								</div>
							</div>

						</th:block>
					</div>
					<nav class="d-flex justify-content-between pt-2"
						 th:if="${stableResource.page.totalElements>0}"
						 aria-label="Sayfalama">
						<ul class="pagination">
							<li class="page-item"
								th:id="${stableResource.page.page == 0 ? stableResource.page.totalPages-1 : stableResource.page.page-1}"><i
									class="czi-arrow-left mr-2"></i>Geri</li>
						</ul>
						<ul class="pagination">
							<li class="page-item d-sm-none"><span
									class="page-link page-link-static" th:inline="text">[[${stableResource.page.page
									+ 1}]] / [[${stableResource.page.totalPages}]]</span></li>
							<th:block
									th:each="pageInd: ${#numbers.sequence(0,stableResource.page.totalPages-1)}">
								<li class="page-item d-none d-sm-block" th:id="${pageInd}"
									th:classappend="${pageInd == stableResource.page.page ? 'active' : ''}"
									aria-current="page"><span class="page-link"
															  th:inline="text">[[${pageInd + 1}]]<span class="sr-only"
																									   th:if="${pageInd == stableResource.page.page}">(current)</span></span></li>
							</th:block>
						</ul>
						<ul class="pagination">
							<li class="page-item"
								th:id="${(stableResource.page.page == stableResource.page.totalPages-1) ? 0 : stableResource.page.page+1}">İleri<i
									class="czi-arrow-right ml-2"></i></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<script type = "text/javascript">
			$(document).ready(function() {

				//Fire when clicking page number
				$('.page-item').click(function() {
					$("#currentPage").val($(this).attr('id'));
					loadStables();
				});

			});

			function loadStables(){
				var url = window.location.href.split('?')[0];
				window.location.replace(url + "?page=" + $("#currentPage").val());
			}
		</script>
	</div>

</body>
</html>