<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="last-articles">
		<section class="mb-2 mb-md-3 pt-4 pt-lg-2">
			<div class="py-lg-3">
				<h2 class="h3 mb-3 text-center">Haradan Blog</h2>
				<div class="cz-carousel">
					<div class="cz-carousel-inner"
						data-carousel-options="{&quot;items&quot;: 2, &quot;gutter&quot;: 15, &quot;controls&quot;: false, &quot;nav&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;500&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:3}, &quot;992&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 30}}}">
						<th:block th:each="article, aarticleInd : ${lastArticles}">
							<div>
								<div class="card">
									<a class="blog-entry-thumb"
										th:href="@{'/blog/'+${article.searchText}+'/'+${article.identifier}}">
										<img th:src="'/ekuri-ilani' + ${article.media}"
										class="card-img-top" th:alt="${article.title}"
										th:if="${article.media != null}"><img
										src="/img/default-ad.png" class="card-img-top"
										th:alt="${article.title}" th:if="${article.media == null}">
									</a>
									<div class="card-body">
										<h2 class="h6 blog-entry-title">
											<a
												th:href="@{'/blog/'+${article.searchText}+'/'+${article.identifier}}"
												th:text="${article.title}"></a>
										</h2>
										<p class="font-size-sm" th:text="${article.summary}"></p>
										<div class="font-size-xs text-nowrap">
											<a class="blog-entry-meta-link text-nowrap" href="#"
												th:text="${#strings.substring(article.createDate,8,10) +'.'+ #strings.substring(article.createDate,5,7) +'.'+ #strings.substring(article.createDate,0,4)}"></a><a
												class="blog-entry-meta-link text-nowrap"
												style="float: right"
												th:href="@{'/blog/'+${article.searchText}+'/'+${article.identifier}}">Detay
												<i class="czi-arrow-right ml-1"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</th:block>
					</div>
				</div>
				<!-- More button-->
				<div class="text-center pt-4 mt-md-2">
					<a class="btn btn-outline-primary btn-sm"
						href="blog-grid-sidebar.html">Tüm Yazıları Gör<i
						class="czi-arrow-right font-size-ms ml-1"></i>
					</a>
				</div>
			</div>
		</section>

	</div>
</body>
</html>