<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="showcase-ads">
		<section class="mb-2">
			<!-- Heading-->
			<div
				class="d-flex flex-wrap justify-content-between align-items-center border-bottom pb-2 mb-2">
				<h3 class="h3 mb-0 pt-3 mr-3 font-weight-bolder">Vitrin İlanları</h3>
				<div class="pt-3">
					<a class="btn btn-outline-primary btn-sm" href="/satilik-atlar">Tümünü
						Gör<i class="czi-arrow-right ml-1 mr-n1"></i>
					</a>
				</div>
			</div>
			<div class="row pt-2">
				<th:block th:each="advert, advertInd : ${showcaseAdverts}">
					<!-- Product-->
					<div class="col-lg-3 col-md-4 col-sm-6 col-6 px-3">
						<div class="card product-card-alt">
							<div class="product-thumb">
								<button th:data-id="${advert.identifier}" data-ref="/"
									class="btn-wishlist btn-sm add-to-favourites" type="button"
									data-toggle="tooltip" data-placement="left"
									title="Favorilere Ekle">
									<i class="czi-heart"></i>
								</button>
								<a class="product-thumb" th:href="@{'/'+${advert.url}}"><img
									th:src="${advert.imageUrl}" th:alt="${advert.title}"
									th:if="${advert.imageUrl != null}"><img
									src="/img/default-ad.png" th:alt="${advert.title}"
									th:if="${advert.imageUrl == null}"></a>
							</div>
							<div class="card-body">
								<div
									class="d-none d-lg-flex flex-wrap justify-content-between align-items-center pb-1">
									<div class="font-size-xs mr-2">
										<a class="product-meta font-weight-bolder"
											th:href="@{'/'+${advert.url}}"
											th:text="${advert.category.name}"></a>
									</div>
									<div class="text-accent text-right font-weight-bolder">
										<span class="font-size-xs" th:inline="text">[[${advert.price>0
											? (#numbers.formatDecimal(advert.price,0, 'COMMA', 2,
											'POINT') + ' TL') : 'Fiyat girilmemiş'}]]</span>
									</div>
								</div>
								<h1 class="h3 product-title font-size-sm mb-2 font-weight-bolder">
									<a th:href="@{'/'+${advert.url}}"
										th:text="${#strings.toUpperCase(advert.title)}"></a>
								</h1>
								<div class="d-none" th:utext="${advert.description}"></div>
							</div>
						</div>
					</div>
				</th:block>
			</div>
		</section>
	</div>
</body>
</html>