<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="sidebar">
		<div class="card" style="border-radius: 0">
			<div class="card-body">
				<th:block th:each="category, catIttr : ${categoryList}">

					<h2 class="h6 font-weight-bolder" th:text="${category.name}"></h2>
					<ul class="list-unstyled font-size-sm mb-0">
						<th:block th:each="subCategory, ittr : ${category.children}">
							<li class="d-flex align-items-center justify-content-between"><a
									class="nav-link-style" th:href="@{${subCategory.searchText}}"><i
									class="czi-arrow-right-circle mr-2"></i> <th:block
									th:text="${subCategory.name}"></th:block></a></li>
						</th:block>
						<li class="mt-4"
							th:if="${(catIttr.index + 1) != #lists.size(categoryList)}">
							<hr>
						</li>
					</ul>
				</th:block>
			</div>
		</div>
	</div>
</body>
</html>