<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<section th:fragment="slider" class="cz-carousel mb-3">
		<div class="cz-carousel-inner"
			data-carousel-options="{&quot;items&quot;: 1, &quot;mode&quot;: &quot;gallery&quot;, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 5000, &quot;nav&quot;: false, &quot;responsive&quot;: {&quot;0&quot;: {&quot;nav&quot;: true, &quot;controls&quot;: false}, &quot;576&quot;: {&quot;nav&quot;: false, &quot;controls&quot;: true}}}">
			<th:block th:each="slide, slideInd : ${slides}">
				<a class="d-block text-center text-decoration-none mr-1"
					th:href="${slide.url}" target="_blank"> <img
					th:src="@{'/slider'+${slide.media}}" th:alt="${slide.name}"></a>
			</th:block>
		</div>
	</section>
</body>
</html>