<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="stablemate-ads">
		<section class="mb-2 mb-md-3 pt-lg-2">
			<div class="border p-3">
				<div class="row">
					<div class="col-md-4 mb-3 mb-md-0">
						<div class="bg-secondary p-5 text-center d-none d-lg-block">
							<div class="d-inline-block text-center">
								<div class="media media-ie-fix align-items-center pb-3">
									<div class="media-body pl-3">
										<span class="d-block text-dark font-size-lg pt-1 pb-2">Eküri
											ilanı vererek daha fazla alıcıya ulaşabilirsiniz</span><br/><a
											class="btn btn-primary btn-sm btn-shadow font-weight-bolder"
											href="/ekuri-ilani-ver">Eküri İlanı Nedir?</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<h3 class="h3 text-center font-weight-bolder">Eküri İlanları</h3>
						<div class="cz-carousel">
							<div class="cz-carousel-inner"
								data-carousel-options="{&quot;items&quot;: 2, &quot;gutter&quot;: 16, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 2000, &quot;controls&quot;: false, &quot;nav&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;500&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:2}}}">
								<th:block th:each="banner, bannerInd : ${corporateAdverts}">
									<div>
										<div class="card product-card-alt">
											<div class="product-thumb">
												<a class="product-thumb"
													th:href="${(banner.url == null or banner.url=='') ? ('/satilik-ekuri-atlari/' + banner.searchText + '/' + banner.identifier) : banner.url}"><img
													src="/img/default-ad.png" th:alt="${banner.name}"
													th:if="${banner.media == null}"><img
													th:src="'/ekuri-ilani' + ${banner.media}"
													th:alt="${banner.name}" th:if="${banner.media != null}"></a>

											</div>
										</div>
									</div>
								</th:block>
								<div class="card product-card-alt">
									<div class="product-thumb">
										<a href="/ekuri-ilani-ver" class="product-thumb"><img
											th:src="@{'/img/ekuri-ilani/ekuri-ilani-ver.png'}"
											alt="Eküri İlanı Ver"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>
</body>
</html>