<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="urgent-ads">
		<section class="mb-2">
			<!-- Heading-->
			<div
				class="d-flex flex-wrap justify-content-between align-items-center border-bottom pb-2 mb-2">
				<h3 class="h3 mb-0 pt-3 mr-3 font-weight-bolder">Acil İlanlar</h3>
				<div class="pt-3">
					<a class="btn btn-outline-primary btn-sm" href="/acil-satilik-at-ilanlari">Tümünü
						Gör<i class="czi-arrow-right ml-1 mr-n1"></i>
					</a>
				</div>
			</div>
			<div
				class="cz-carousel  cz-dots-enabled pt-2" style="padding:0px">
				<div class="cz-carousel-inner"
					data-carousel-options="{&quot;items&quot;: 2, &quot;gutter&quot;: 16, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 3000, &quot;controls&quot;: true, &quot;autoHeight&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:2}, &quot;480&quot;:{&quot;items&quot;:2}, &quot;720&quot;:{&quot;items&quot;:3}, &quot;991&quot;:{&quot;items&quot;:2}, &quot;1140&quot;:{&quot;items&quot;:3}, &quot;1300&quot;:{&quot;items&quot;:4}, &quot;1500&quot;:{&quot;items&quot;:4}}}">
					<th:block th:each="advert, advertInd : ${urgentAdverts}">
						<!-- Product-->
						<div>
							<div class="card product-card-alt">
								<div class="product-thumb">
									<button th:data-id="${advert.identifier}" data-ref="/"
										class="btn-wishlist btn-sm add-to-favourites" type="button"
										data-toggle="tooltip" data-placement="left"
										title="Favorilere Ekle">
										<i class="czi-heart"></i>
									</button>
									<a class="product-thumb" th:href="@{'/'+${advert.url}}"><img
										th:src="${advert.imageUrl}" th:alt="${advert.title}"
										th:if="${advert.imageUrl != null}"><img
										src="/img/default-ad.png" th:alt="${advert.title}"
										th:if="${advert.imageUrl == null}"></a>
								</div>
								<div class="card-body">
									<div
										class="d-none d-lg-flex flex-wrap justify-content-between align-items-center pb-1">
										<div class="font-size-xs mr-2">
											<a class="product-meta font-weight-bolder"
												th:href="@{'/'+${advert.url}}"
												th:text="${advert.category.name}"></a>
										</div>
										<div class="text-accent text-right font-weight-bolder">
											<span class="font-size-xs" th:inline="text">[[${advert.price>0 ? (#numbers.formatDecimal(advert.price,0, 'COMMA', 2, 'POINT') + ' TL') : 'Fiyat girilmemiş'}]]</span>
										</div>
									</div> 
									<h1 class="h3 product-title font-size-sm mb-2 font-weight-bolder">
										<a th:href="@{'/'+${advert.url}}"
											th:text="${#strings.toUpperCase(advert.title)}"></a>
									</h1>
									<div class="d-none" th:text="${advert.description}"></div>
								</div>
							</div>
						</div>
					</th:block>
				</div>
			</div>
		</section>
	</div>
</body>
</html>